@media only screen and (max-width: 1900px) {
    /*.wrapper-1 -----------------------------------------*/
    .wrapper-1{
        padding: 20px 15vw 60px;
    }
    
     /* wrapper-9 -------------------------------------------------------------------*/
    .wrapper-9{
        padding: 60px 35vw 60px 12vw;
    }
    
}

@media only screen and (max-width: 1615px) {
    .header .top-menu{
        padding: 9px 8vw;
    }
    .header .bottom-menu{
        padding: 10px 8vw 20px 8vw;
    }
    
    /*.wrapper-1 -----------------------------------------*/
    .wrapper-1{
        padding: 20px 8vw 60px;
    }
    
    /*wrapper-3-------------------------------------------------------------------*/
    .wrapper-3{
        padding: 60px 15vw 60px;
    }
    
    /*.wrapper-9 -----------------------------------------*/
    .wrapper-9{
        padding: 60px 35vw 60px 8vw;
    }
    
    /*.wrapper-10 -----------------------------------------*/
    .wrapper-10{
        padding: 60px 15vw 120px;
    }
    
    /*wrapper-11-------------------------------------------------------------------*/
    .wrapper-11{
        padding: 60px 15vw 60px;
    }
    
    /*wrapper-12-------------------------------------------------------------------*/
    .wrapper-12{
        padding: 60px 15vw 60px;
    }
    
    /*footer ----------------------------------------------------------------------*/
    .footer{
        padding: 30px 15vw 60px;
    }
}

@media only screen and (max-width: 1390px) {
    .header .top-menu{
        padding: 9px 2vw;
    }
    .header .bottom-menu{
        padding: 10px 2vw 20px 2vw;
    }
    
    /*.wrapper-1 -----------------------------------------*/
    .wrapper-1{
        padding: 20px 2vw 60px;
    }
    
    .wrapper-1 .right-content{
        padding: 12vw 0 0 0;
    }
    
    /*wrapper-2-------------------------------------------------------------------*/
    .wrapper-2{
        padding: 60px 15vw 60px;
    }
   
    /*wrapper-3-------------------------------------------------------------------*/
    .wrapper-3{
        padding: 60px 10vw 60px;
    }
    
    /*wrapper-6-------------------------------------------------------------------*/
    .wrapper-6{
        padding: 60px 25vw 60px;
    }
    
    /*.wrapper-9 -----------------------------------------*/
    .wrapper-9 .content-box .embedVideo{
        position: absolute;
        right: -55%;
        top: -12%;
    }
    
    /*wrapper-11-------------------------------------------------------------------*/
    .wrapper-11{
        padding: 60px 10vw 60px;
    }
    
    /*wrapper-12-------------------------------------------------------------------*/
    .wrapper-12{
        padding: 60px 10vw 60px;
    }
   
    
    /*footer ----------------------------------------------------------------------*/
    .footer{
        padding: 30px 10vw 60px;
    }
    
}

@media only screen and (max-width: 1220px) {
    .header .bottom-menu .menu .toggle-icon{
        display: block;
        color: #fff;
        position: fixed;
        right: 2vw;
        margin-top: -1.3rem;
        width: 32px;
        height: 28px;
        background-color: #fff;
        border: 1px solid #736c6c;
        border-radius: 4px;
        cursor: pointer;
    }
    .header .bottom-menu .menu .toggle-icon span{
        position: absolute;
        width: 70%;
        height: 2px;
        background-color: #736c6c;
        left: 15%;
        top: 22%;
        transition: .5s;
    }
    .header .bottom-menu .menu .toggle-icon .second{
        top: 45%;
    }
    .header .bottom-menu .menu .toggle-icon .last{
        top: 68%;
    }
    
    .menu-hidden{
        position: relative;
        display: none;
    }
    
    
    #toggleControl:checked ~ .menu-hidden{
        display: block;
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        padding: 5vw 2vw;
        background-color: #fff;
        transition: .3s;
    }
    
    #toggleControl:checked ~ .menu-hidden .drop{
        display: block;
        width: 240px;
    }
    
    #toggleControl:checked ~ .menu-hidden .drop:hover > a:before{
        visibility: hidden;
    }
    #toggleControl:checked ~ .menu-hidden .drop > .dropdown{
        z-index: 1001;
    }
    
    #toggleControl:checked ~ .menu-hidden .drop:first-child > .dropdown,
    #toggleControl:checked ~ .menu-hidden .drop:nth-child(2) > .dropdown,
    #toggleControl:checked ~ .menu-hidden .drop:nth-child(4) > .dropdown{
/*        top: 10%;
        right: -60vw;
        width: 60vw;*/

        top: 100%;
        left: 10vw;
        width: 60vw;
    }
    
    #toggleControl:checked ~ .menu-hidden .drop:nth-child(3) > .dropdown,
    #toggleControl:checked ~ .menu-hidden .drop:nth-child(5) > .dropdown{
/*        top: 10%;
        right: -75vw;
        width: 75vw;*/

        top: 100%;
        left: 10vw;
        width: 75vw;
    }
    #toggleControl:checked ~ .menu-hidden .drop:before{
        transform: rotate(-45deg);
    }
    
    #toggleControl:checked ~ .menu-hidden  .drop:hover.drop:before{
        transform: rotate(45deg);
    }
    
    #toggleControl:checked ~ .menu-hidden .drop > .dropdown:after{
        visibility: hidden;
    }
    
    #toggleControl:checked ~ .menu-hidden .drop .dropdown{
        overflow-y: scroll;
        height: 70vh;
    }
    
    #toggleControl:checked ~ .toggle-icon{
        position: fixed;
        top: 30px;
    }
    
    #toggleControl:checked ~ .toggle-icon .second{
        opacity: 0;
    }
    #toggleControl:checked ~ .toggle-icon .first{
        transform: rotate(45deg);
        transform-origin: 0 0;
        left: 28%;
    }
    #toggleControl:checked ~ .toggle-icon .last{
        transform: rotate(-45deg);
        transform-origin: 0 0;
        left: 28%;
        margin-top: 3px;
    }
    
    /*.wrapper-2 -----------------------------------------*/
    .wrapper-2{
        padding: 60px 10vw 60px;
    }
    
    /*wrapper-3-------------------------------------------------------------------*/
    .wrapper-3{
        padding: 60px 8vw 60px;
    }
    
    /*wrapper-4-------------------------------------------------------------------*/
    .wrapper-4{
        padding: 60px 10vw 60px;
    }
    
    .wrapper-4 .box-of-one-card .right-content img{
        width: 100%;
    }
    
    .wrapper-4 .box-of-one-card > .right-content:after{
       width: 100%;
        
    }

    .wrapper-4 .box-of-one-card > .right-content:before{
        width: 100%;
    }
    
    /*wrapper-5-------------------------------------------------------------------*/
    .wrapper-5{
        padding: 60px 10vw 60px;
    }
    
    .wrapper-5 .box-of-one-card .left-content img{
        width: 100%;
    }
    
    .wrapper-5 .box-of-one-card > .left-content:before{
        width: 100%;
    }
    
    .wrapper-5 .box-of-one-card > .right-content{
        padding: 0;
    }
    
    /*wrapper-7-------------------------------------------------------------------*/
    .wrapper-7{
        padding: 60px 10vw 60px;
    }
    
    .wrapper-7 .box-of-one-card .right-content img{
        width: 100%;
    }
    
    .wrapper-7 .box-of-one-card > .right-content:after{
       width: 100%;
        
    }

    .wrapper-7 .box-of-one-card > .right-content:before{
        width: 100%;
    }
    
    /*wrapper-8-------------------------------------------------------------------*/
    .wrapper-8{
        padding: 60px 10vw 60px;
    }
    
    .wrapper-8 .box-of-one-card .left-content img{
        width: 100%;
    }
    
    .wrapper-8 .box-of-one-card > .left-content:before{
        width: 100%;
    }
    
    .wrapper-8 .box-of-one-card > .right-content{
        padding: 0;
    }
   
    
    /*.wrapper-9 -----------------------------------------*/
    .wrapper-9{
        padding: 60px 35vw 60px 2vw;
    }
    
    .wrapper-9 .content-box .embedVideo iframe{
        width: 500px;
        height: 300px;
    }
    
    /*.wrapper-10 -----------------------------------------*/
    .wrapper-10{
        padding: 60px 10vw 120px;
    }
    
    
    /*wrapper-11-------------------------------------------------------------------*/
    .wrapper-11{
        padding: 60px 2vw 60px;
    }
    
    /*wrapper-12-------------------------------------------------------------------*/
    .wrapper-12{
        padding: 60px 2vw 60px;
    }
    
     /*footer ----------------------------------------------------------------------*/
    .footer{
        padding: 30px 2vw 60px;
    }
}

@media only screen and (max-width: 991px) {
    .header .top-menu .top-menu-left a span{
        font-size: 14px;
    }
    .header .top-menu .top-menu-right a{
        display: none;
    }
    
    /*wrapper-2---------------------------------------------------------------*/
    .wrapper-2{
        padding: 60px 2vw 60px;
    }
    
    /*wrapper-3-------------------------------------------------------------------*/
    .wrapper-3{
        padding: 60px 2vw 60px;
    }
    
    /*wrapper-4-------------------------------------------------------------------*/
    .wrapper-4{
        padding: 60px 2vw 60px;
    }
    
    .wrapper-4 .box-of-one-card .right-content img{
        width: 80%;
    }
    
    .wrapper-4 .box-of-one-card > .right-content:before{
        width: 80%;
    }
   
    /*wrapper-5-------------------------------------------------------------------*/
    .wrapper-5{
        padding: 60px 2vw 60px;
    }
    
    .wrapper-5 .box-of-one-card .left-content img{
        width: 80%;
        margin-left: 5rem;
    }

    .wrapper-5 .box-of-one-card > .left-content:before{
        width: 80%;
        margin-left: 3rem;
    }
    
    /*wrapper-7-------------------------------------------------------------------*/
    .wrapper-7{
        padding: 60px 2vw 60px;
    }
    
    .wrapper-7 .box-of-one-card .right-content img{
        width: 80%;
    }
    
    .wrapper-7 .box-of-one-card > .right-content:after{
       width: 80%;
        
    }

    .wrapper-7 .box-of-one-card > .right-content:before{
        width: 80%;
    }
    
    /*wrapper-8-------------------------------------------------------------------*/
    .wrapper-8{
        padding: 60px 2vw 60px;
    }
    
    .wrapper-8 .box-of-one-card .left-content img{
        width: 80%;
        margin-left: 5rem;
    }

    .wrapper-8 .box-of-one-card > .left-content:before{
        width: 80%;
        margin-left: 3rem;
    }
    
   /*.wrapper-9 -----------------------------------------*/
    .wrapper-9{
        padding: 60px 2vw 60px 2vw;
    }
    
    
    .wrapper-9 .content-box{
       
        padding: 60px 100px;
        position: relative;
        margin-top: 45vw;
    }

    .wrapper-9 .content-box .embedVideo{
        position: absolute;
        right: 2vw;
        top: -50vw;
    }

    .wrapper-9 .content-box .embedVideo iframe{
        width: 90vw;
        height: 45vw;
    }
    
    /*wrapper-11 --------------------------------*/
    .wrapper-11 .box-of-three-card{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    .wrapper-11 .box-of-three-card .card-left{
        margin-right: 0;
    }
    
    .wrapper-11 .box-of-three-card .card-center{
        margin-right: 0;
        margin-top: 3vw;
    }
    
    .wrapper-11 .box-of-three-card .card-right{
        margin-top: 3vw;
    }
    
    /*wrapper-12 --------------------------------*/
    .wrapper-12 .box-of-one-card .left-content img{
        width: 32vw;
    }
    
    .wrapper-12 .box-of-one-card .left-content:before{
        top: -3vw;
        left: -1vw;
        width: 32vw;
        height: 100%;
    }
    
    .wrapper-12 .box-of-one-card{
        padding: 100px 20px 60px 50px;
    }
}


@media only screen and (max-width: 852px) {
    /*wrapper-1 --------------------------------*/
    .wrapper-1{
        margin-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .wrapper-1 .left-content{
        margin-right: 0;
    }
    
    .wrapper-1 .right-content img{
        width: 70vw; 
        height: auto;
    }
    
    /* wrapper-4 -------------------------------------------------------------------*/
    .wrapper-4 .box-of-one-card{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .wrapper-4 .box-of-one-card > .left-content{
        width: 100%;
    }
    
    .wrapper-4 .box-of-one-card > .right-content{
        width: 70%;
        margin: 60px auto;
    }
    
    .wrapper-4 .box-of-one-card .right-content img{
        width: 100%;
    }
    
    .wrapper-4 .box-of-one-card > .right-content:before{
        width: 100%;
    }
   
    
    /* wrapper 5 -------------------------------------------------------------------*/
    .wrapper-5 .box-of-one-card{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .wrapper-5 .box-of-one-card > .right-content{
        width: 100%;
    }
    
    .wrapper-5 .box-of-one-card > .left-content{
        width: 70%;
        margin: 60px auto;
    }
    
    .wrapper-5 .box-of-one-card .left-content img{
        width: 100%;
        margin-left: 0;
    }
    
    .wrapper-5 .box-of-one-card > .left-content:after{
        width: 100%;
        margin-left: 0;
    }

    .wrapper-5 .box-of-one-card > .left-content:before{
        width: 100%;
    }
    
    /*wrapper-6-------------------------------------------------------------------*/
    .wrapper-6{
        padding: 60px 18vw 60px;
    }
    
    /* wrapper-7 -------------------------------------------------------------------*/
    .wrapper-7 .box-of-one-card{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .wrapper-7 .box-of-one-card > .left-content{
        width: 100%;
    }
    
    .wrapper-7 .box-of-one-card > .right-content{
        width: 70%;
        margin: 60px auto;
    }
    
    .wrapper-7 .box-of-one-card .right-content img{
        width: 100%;
    }
    
    .wrapper-7 .box-of-one-card > .right-content:after{
       width: 100%;
        
    }

    .wrapper-7 .box-of-one-card > .right-content:before{
        width: 100%;
    }
    
    
    /* wrapper-8 -------------------------------------------------------------------*/
    .wrapper-8 .box-of-one-card{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .wrapper-8 .box-of-one-card > .right-content{
        width: 100%;
    }
    
    .wrapper-8 .box-of-one-card > .left-content{
        width: 70%;
        margin: 60px auto;
    }
    
    .wrapper-8 .box-of-one-card .left-content img{
        width: 100%;
        margin-left: 0;
    }
    
    .wrapper-8 .box-of-one-card > .left-content:after{
        width: 100%;
        margin-left: 0;
    }

    .wrapper-8 .box-of-one-card > .left-content:before{
        width: 100%;
    }
    
    /*.wrapper-10 -----------------------------------------*/
    .wrapper-10{
        padding: 60px 2vw 120px;
        flex-direction: column;
        
    }
    
    .wrapper-10 .left-content{
        width: 60%;
    }
    
    .wrapper-10 .left-content > img{
        width: 90%; 
        height: 90%;

    }
    
    .wrapper-10 .left-content .m-quote-highlight__logo{
        right: 0;
    }

    .wrapper-10 .right-content{
        width: 100%;
        margin-top: 3rem;
    }
    
}

@media only screen and (max-width: 767px) {
    /*wrapper-9 --------------------------------*/
    .wrapper-9 .content-box{
        padding: 60px 50px;
    }
    
    /*wrapper-12 --------------------------------*/
    .wrapper-12 .box-of-one-card .left-content{
        text-align: center;
    }
    .wrapper-12 .box-of-one-card .left-content img{
        margin-bottom: 5vw;
    }
    
    .wrapper-12 .box-of-one-card .left-content img{
        width: 45vw;
        border-radius: 35px 35px 50% 50%;
    }
    
    .wrapper-12 .box-of-one-card .left-content:before{
        text-align: center;
        top: -4vw;
        left: 15vw;
        width: 48vw;
        height: 45vw;
    }
}

@media only screen and (max-width: 640px) {
    .header .top-menu .top-menu-left a span{
        display: inline-block;
        width: 400px;
        white-space: nowrap;
        overflow:hidden !important;
        text-overflow: ellipsis;
    }
    
    /*wrapper-1 --------------------------------*/
    .wrapper-1{
        margin-top: 10vw;
    }
    
    /*wrapper-6-------------------------------------------------------------------*/
    .wrapper-6{
        padding: 60px 15vw 60px;
    }
    
    /*wrapper-9 --------------------------------*/
    .wrapper-9 .content-box{
        padding: 60px 30px;
    }
   
    /*.wrapper-10 -----------------------------------------*/
    .wrapper-10 .left-content{
        width: 80%;
    }
}

@media only screen and (max-width: 517px) {
    /*wrapper-1 --------------------------------*/
    .wrapper-1 .left-content .btn-contact-a-specialist{
        margin-top: 20px;
        width: 80vw;
    }
   
    /*wrapper-6-------------------------------------------------------------------*/
    .wrapper-6{
        padding: 60px 10vw 60px;
    }
   
}
