.header{ 
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    transition: top 0.2s ease-in-out;
    -webkit-transition: top 0.2s ease-in-out;
    background: #fff;
    z-index: 1000;
    box-shadow: 0 0 3px 0 rgb(0 0 0 / 10%);
}

.top-menu{
    padding: 9px 12vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-menu .top-menu-left{
    font-size: 16px !important;
}

.top-menu .top-menu-left .arrow-move{
    position: relative
}

.top-menu .top-menu-left .arrow-move:before{
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    background: #fff;
    transform: rotate(-45deg);
    border-right: 1px solid #17A2C8;
    border-bottom: 1px solid #17A2C8;
    right: -15px;
    top: 32%;
}

.top-menu .top-menu-left:hover .arrow-move:before{
        right: -22px;
        transition: 0.2s linear;
}

.top-menu .top-menu-right{
    font-size: 18px;
}

.top-menu .top-menu-right a:hover span{
    right: -40px !important;
    transition: 0.2s linear;
}

.bottom-menu{
    padding: 10px 12vw 20px 12vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-menu .menu .toggle-icon,
.bottom-menu .menu #toggleControl{
  display: none;
  z-index: 1001;
}


.bottom-menu .menu ul .drop{
    position: relative;
}

.bottom-menu .menu ul .drop:before{
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  background: #fff;
  transform: rotate(45deg);
  border-right: 1px solid #17A2C8;
  border-bottom: 1px solid #17A2C8;
  right: 8px;
  top: 35%;
}

.bottom-menu .menu ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 0;
 }
 .bottom-menu .menu ul li{
    display: inline-block;
  }
.bottom-menu .menu ul li:first-child a,
.bottom-menu .menu ul li:nth-child(2) a,
.bottom-menu .menu ul li:nth-child(3) a,
.bottom-menu .menu ul li:nth-child(4) a,
.bottom-menu .menu ul li:nth-child(5) a{
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    padding: 8px 24px;
    display: block;
    width: 100%;
}

.bottom-menu .menu ul li:nth-child(6) a{
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    padding: 8px 16px;
    display: block;
    width: 100%;
}

.bottom-menu .menu ul .drop:nth-child(2) a:before,
.bottom-menu .menu ul .drop:nth-child(3) a:before,
.bottom-menu .menu ul .drop:nth-child(4) a:before,
.bottom-menu .menu ul .drop:nth-child(5) a:before{
    content: '';
    position: absolute;
    width: 3.5em;
    height: 0.2em;
    background-color: #17A2C8;
    top: 3em;
    left: 30%;
    visibility: hidden;
}

.bottom-menu .menu ul .drop:first-child a:before{
    content: '';
    position: absolute;
    width: 3.5em;
    height: 0.2em;
    background-color: #17A2C8;
    top: 3em;
    left: 40%;
    visibility: hidden;
}
.bottom-menu .menu ul .drop:hover > a:before{
    visibility: visible;
}

.bottom-menu .menu ul .drop{
    position: relative;
}

.bottom-menu .menu ul .drop:first-child > .dropdown,
.bottom-menu .menu ul .drop:nth-child(2) > .dropdown{
    list-style-type: none;
    background-color: #fff;
    padding: 30px;
    margin: 0;
    position: absolute;
    width: 480px;
    visibility: hidden;
    top: 165%;
    border-radius: 5px !important;
    box-shadow: 0 5px 5px 5px rgb(0 0 0 / 20%);
}

.bottom-menu .menu ul .drop:nth-child(3) > .dropdown{
    list-style-type: none;
    background-color: #fff;
    padding: 30px;
    margin: 0;
    position: absolute;
    width: 700px;
    visibility: hidden;
    top: 165%;
    right: -240%;
    border-radius: 5px !important;
    box-shadow: 0 5px 5px 5px rgb(0 0 0 / 20%);
}

.bottom-menu .menu ul .drop:nth-child(4) > .dropdown{
    list-style-type: none;
    background-color: #fff;
    padding: 30px;
    margin: 0;
    position: absolute;
    width: 480px;
    visibility: hidden;
    top: 165%;
    right: 0;
    border-radius: 5px !important;
    box-shadow: 0 5px 5px 5px rgb(0 0 0 / 20%);
}

.bottom-menu .menu ul .drop:nth-child(5) > .dropdown{
    list-style-type: none;
    background-color: #fff;
    padding: 30px;
    margin: 0;
    position: absolute;
    width: 700px;
    visibility: hidden;
    top: 165%;
    right: 0;
    border-radius: 5px !important;
    box-shadow: 0 5px 5px 5px rgb(0 0 0 / 20%);
}

.bottom-menu .menu ul .drop > .dropdown:after{
  content: '';
  border-style: solid;
  border-color: transparent;
  border-width: 25px;
  position: absolute;
  width: 100%;
  top: -40px;
  left: 0;
}

.bottom-menu .menu ul .drop .dropdown li {
    display: block;
}

.bottom-menu .menu ul .drop:hover > .dropdown{
  /*display: block;*/
  visibility: visible;
}

.button-contact-a-special{
    font-weight: bold;
    border: 3px solid #17A2C8;
    border-radius: 60px;
    padding: 4px 15px;
}

.bottom-menu .menu ul .drop .dropdown li .dropdown-item:hover p{
    color: #17A2C8 !important;
}


/* wrapper 1 -------------------------------------------------------------------*/
.wrapper-1{
    margin-top: -6vw;
    padding: 20px 18vw 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #faf5ec;
    color: #433c3c;
}

.wrapper-1 .left-content{
    padding: 16vw 0 0 0;
    margin-right: 5vw;
}

.wrapper-1 .right-content{
    padding: 8vw 0 0 0;
}

.wrapper-1 .right-content img{
    width: 33vw; 
    height: auto;
}

.wrapper-1 .left-content .btn-contact-a-specialist{
    padding: 12px 35px !important;
    margin-right: 20px;
}

.wrapper-1 .left-content .btn-try-demo-app{
    padding: 12px 35px !important;
}

/* wrapper 2 -------------------------------------------------------------------*/

.wrapper-2{
    padding: 60px 18vw 120px;
    text-align: left;
    background-color: #faf5ec;
}

.wrapper-2 .list-card .row .card-item .img-div img{
    width: 110px;
}

/*wrapper-3-------------------------------------------------------------------*/
.wrapper-3{
    padding: 60px 25vw 60px;
    text-align: center;
    background-color: #fff;
    color: #433c3c;
}

/*wrapper-4-------------------------------------------------------------------*/

.wrapper-4{
    padding: 60px 18vw 60px;
    text-align: left;
    background-color: #fff;
}

.wrapper-4 .box-of-one-card{
    background-color: #fff !important;
    color: #433c3c;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper-4 .box-of-one-card > .left-content{
    padding: 0;
    width: 45%;
}

.wrapper-4 .box-of-one-card .left-content ul li{
    padding-left: 2em;
    line-height: 35px;
}

.wrapper-4 .box-of-one-card .left-content ul li::before {
    content: "\2022";
    color: #17A2C8;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}

.wrapper-4 .box-of-one-card .right-content{
    position: relative;
    z-index: 2;
    width: 45%;
}

.wrapper-4 .box-of-one-card .right-content img{
    width: 100%;
    border-radius: 30px 30px 50% 50%;
    z-index: 2;
}

.wrapper-4 .box-of-one-card > .right-content:before{
    content: '';
    background: #f4e9d4;
    position: absolute;
    border-radius: 3rem;
    width: 100%;
    height: 100%;
    left: -2rem;
    top: 3rem;
    z-index: -2;
}



/*wrapper-5-------------------------------------------------------------------*/

.wrapper-5{
    padding: 120px calc(18vw - 10rem) 60px 18vw;
    text-align: left;
    background-color: #fff;
}

.wrapper-5 .box-of-one-card{
    background-color: #fff !important;
    color: #433c3c;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper-5 .box-of-one-card > .left-content{
    position: relative;
    z-index: 2;
    width: 45%;
}

.wrapper-5 .box-of-one-card > .left-content img{
    width: 100%;
    border-radius: 30px 30px 50% 50%;
    z-index: 2;
}

.wrapper-5 .box-of-one-card > .left-content:before{
    content: '';
    background: #f4e9d4;
    position: absolute;
    border-radius: 3rem;
    width: 100%;
    height: 100%;
    left: -2rem;
    top: 3rem;
    z-index: -2;
}

.wrapper-5 .box-of-one-card > .right-content{
    padding: 0 0 0 10rem;
    width: 45%;
}

/*wrapper-6-------------------------------------------------------------------*/

.wrapper-6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 38vw 60px;
    text-align: center;
    background-color: #fff;
    color: #433c3c;
}

/*wrapper-7-------------------------------------------------------------------*/

.wrapper-7{
    padding: 60px 18vw 60px;
    text-align: left;
    background-color: #fff;
}

.wrapper-7 .box-of-one-card{
    background-color: #fff !important;
    color: #433c3c;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper-7 .box-of-one-card > .left-content{
    padding: 0;
    width: 45%;
}

.wrapper-7 .box-of-one-card .left-content .card-complain{
    background-color: #faf5ec;
    padding: 30px 30px 40px;
    border-radius: 20px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.wrapper-7 .box-of-one-card .left-content .card-complain .left-content{
    margin-right: 2vw;
}

.wrapper-7 .box-of-one-card .left-content .card-complain .left-content img{
    border-radius: 50%;
}

.wrapper-7 .box-of-one-card > .left-content .card-complain .right-content{
    width: 100%;
}

.wrapper-7 .box-of-one-card .right-content{
    position: relative;
    z-index: 2;
    width: 45%;
}

.wrapper-7 .box-of-one-card .right-content img{
    width: 100%;
    border-radius: 30px 30px 50% 50%;
    z-index: 2;
}

.wrapper-7 .box-of-one-card > .right-content:after{
    border-radius: 6rem 6rem 50% 50%;
    background: #faf5ec;
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: -3rem;
    left: 5rem;
    z-index: -3;
}

.wrapper-7 .box-of-one-card > .right-content:before{
    content: '';
    background: #f4e9d4;
    position: absolute;
    border-radius: 3rem;
    width: 100%;
    height: 100%;
    left: -2rem;
    top: 3rem;
    z-index: -2;
}



/*wrapper-8-------------------------------------------------------------------*/

.wrapper-8{
    padding: 120px calc(18vw - 10rem) 60px 18vw;
    text-align: left;
    background-color: #fff;
}

.wrapper-8 .box-of-one-card{
    background-color: #fff !important;
    color: #433c3c;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper-8 .box-of-one-card > .left-content{
    position: relative;
    z-index: 2;
    width: 45%;
}

.wrapper-8 .box-of-one-card > .left-content img{
    width: 100%;
    border-radius: 30px 30px 50% 50%;
    z-index: 2;
}

.wrapper-8 .box-of-one-card > .left-content:before{
    content: '';
    background: #f4e9d4;
    position: absolute;
    border-radius: 3rem;
    width: 100%;
    height: 100%;
    left: -2rem;
    top: 3rem;
    z-index: -2;
}

.wrapper-8 .box-of-one-card > .right-content{
    padding: 0 0 0 10rem;
    width: 45%;
}

.wrapper-8 .box-of-one-card .right-content a:hover span{
    right: -20% !important;
    transition: 0.2s linear;
}

/*wrapper-9-------------------------------------------------------------------*/
.wrapper-9{
    padding: 120px 25vw 120px;
    text-align: center;
    background-color: #faf5ec;
    color: #433c3c;
}

.wrapper-9 .box-of-two-card{
    display: flex;
    justify-content: space-between;
    margin-top: 50px
}

.wrapper-9 .box-of-two-card .left-content {
    background-color: #17A2C8;
    padding: 45px 60px 120px 45px;
    text-align: left;
    border-radius: 30px;
    margin-right: 5%;
    position: relative;
}

.wrapper-9 .box-of-two-card .right-content{
    background-color: #17A2C8;
    padding: 45px 60px 120px 45px;
    text-align: left;
    border-radius: 30px;
    position: relative;
}

.wrapper-9 .box-of-two-card .left-content .row div a:hover span{
    right: 18% !important;
    transition: 0.2s linear;
}

.wrapper-9 .box-of-two-card .right-content .row div a:hover span{
    right: 18% !important;
    transition: 0.2s linear;
}


/*wrapper-10-------------------------------------------------------------------*/
.wrapper-10{
    padding: 60px 18vw 60px;
    text-align: left;
    background-color: #fff;
    color: #433c3c;
}

.wrapper-10 .box-of-three-card{
    display: flex;
    justify-content: space-between;
}

.wrapper-10 .box-of-three-card .card-left{
    margin-right: 4%;
    padding: 0;
}

.wrapper-10 .box-of-three-card .card-left a:hover span{
    right: -35% !important;
    transition: 0.2s linear;
}

.wrapper-10 .box-of-three-card .card-center{
    margin-right: 4%;
    border-radius: 30px;
    border: 1px solid #ccc;
    padding: 0 0 30px 0;
}

.wrapper-10 .box-of-three-card .card-center:hover{
    border: 1px solid #17A2C8;
    box-shadow: rgba(23, 162, 200, 0.35) 0px 5px 15px;
    transition: 0.2s linear;    
}

.wrapper-10 .box-of-three-card .card-center .card-body .card-title{
    font-weight: bold; 
    font-size: 24px;
    padding: 30px 60px 30px 30px;
    color: #433c3c;
}
.wrapper-10 .box-of-three-card .card-center .card-body .card-text{
    font-weight: 300; 
    font-size: 16px;
    padding: 0 30px 0 30px;
    color: #433c3c;
}

.wrapper-10 .box-of-three-card .card-right{
    border-radius: 30px;
    border: 1px solid #ccc;
    padding: 0 0 30px 0;
    height: auto;
}

.wrapper-10 .box-of-three-card .card-right:hover{
    border: 1px solid #17A2C8;
    box-shadow: rgba(23, 162, 200, 0.35) 0px 5px 15px;
    transition: 0.2s linear;
        
}

.wrapper-10 .box-of-three-card .card-right .card-body .card-title{
    font-weight: bold; 
    font-size: 24px;
    padding: 30px 60px 30px 30px;
    color: #433c3c;
}
.wrapper-10 .box-of-three-card .card-right .card-body .card-text{
    font-weight: 300; 
    font-size: 16px;
    padding: 0 30px 0 30px;
    color: #433c3c;
}

/*wrapper-11-------------------------------------------------------------------*/

.wrapper-11{
    padding: 60px 18vw 120px;
    text-align: left;
    background-color: #fff;
}

.wrapper-11 .row{
    margin: 0 !important;
}

.wrapper-11 .box-of-one-card{
    background-color: #17A2C8 !important;
    color: #fff;
    border-radius: 30px;
    padding: 100px 50px 60px 50px;
}

.wrapper-11 .box-of-one-card .left-content{
    position: relative;
    z-index: 1 !important;
}

.wrapper-11 .box-of-one-card .left-content img{
    width: 364.73px; 
    height: auto; 
    border-radius: 60px 60px 50% 50%;
}

.wrapper-11 .box-of-one-card .left-content:before{
    border-radius: 3rem;
    background: #faf5ec;
    content: '';
    position: absolute;
    top: -3rem;
    left: -1rem;
    width: 360px;
    height: 100%;
    z-index: -1;
}

.wrapper-11 .box-of-one-card .right-content .btn-contact-a-specialist{
    padding: 12px 35px !important;
    margin-right: 15px;
}



/*footer ----------------------------------------------------------------------*/

.footer{
    border-top: 1px solid #17A2C8;
    background-color: #fff;
    padding: 30px 18vw 60px;
    text-align: left;
}

.footer-1{
/*    display: flex;
    justify-content: space-between;*/
    padding: 20px 0;
}

.footer-1 div .link-footer:hover{
    color: #17A2C8 !important;
}

.footer-1 div a:hover span{
    right: -40px !important;
    transition: 0.2s linear;
}

.footer-2{
/*    display: flex;
    justify-content: space-between;*/
    padding: 0 0 20px 0;
}

.footer-3{
    padding: 20px 0;
}

.footer-4{
/*    display: flex;
    justify-content: space-between;*/
    padding: 20px 0;
}
