<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" ng-app="myApp" >
    <head>
        <title>Financial Services</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' ></meta>
        <meta name="desc" content=""></meta>
        <link rel="shortcut icon" th:href="@{/images/iconsim.png}">
        
        <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/industries/financial-services.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/industries/financial-services-reponsive.css}">
        
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">  

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">
    </head>
    <body>
        <div class="page-wrapper">
            <div class="header" id="header-menu">
                <div class="top-menu">
                    <div class="top-menu-left">
                        <a>
                            <span>
                                <i style="margin-right: 5px" class="fas fa-info-circle"></i>
                                <strong>
                                    Why you should change from Optical to NFC-based identity verification
                                </strong>
                                <span class="arrow-move">
                                    Read more
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="top-menu-right">
                        <span>
                            <i>
                            </i>
                        </span>
                        <a style="position: relative; margin-right: 34px">
                            Using our App? Go here
                            <span style="position: absolute; right: -30px; top: -10%">
                                <i class="fas fa-arrow-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="bottom-menu">
                    <div class="logo">
                        <a th:href="@{/}"><img style="width: 220px; height: auto;" th:src="@{/images/checkid_logo.png}" alt="logo"></a>
                    </div>
                    <div class="menu">
                        <input type="checkbox" id="toggleControl">
                        <label for="toggleControl" class="toggle-icon">
                            <span class="first"></span>
                            <span class="second"></span>
                            <span class="last"></span>
                        </label>
                        <ul class="menu-hidden">
                            <li class="drop">
                                <a href="#">Identity verification</a>
                                <ul class="dropdown">
                                    <li>
                                       
                                        <a style="color: #433c3c; font-weight: 700; font-size: 14px; margin: 0">
                                            <p><span style="background-color: #f4e9d4">Built with NFC technology</span></p>
                                        </a>
                                        
                                        <a class="dropdown-item" th:href="@{/trusted-identity-verification}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">
                                                Why NFC-based identity verification?
                                            </p>
                                            <p style="color: #736c6c; font-weight: 500; font-size: 16px;">
                                                Create trust in identity verification by leveraging identity documents, NFC technology and smartphones
                                            </p>
                                        </a>
                                        
                                        <hr>
                                        
                                        <a style="color: #433c3c; font-weight: 700; font-size: 14px; margin: 0">
                                            <p><span style="background-color: #f4e9d4">Solutions for</span></p>
                                        </a>
                                        
                                        <a class="dropdown-item" th:href="@{/remote-identity-verification}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Remote identity verification</p>
                                            <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Identity verification within your mobile services or through our ready-to-use app</p>
                                        </a>
                                        <a class="dropdown-item" th:href="@{/face-to-face-identity-verification}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Face-to-face identity verification</p>
                                            <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Guaranteed identity verification without knowledge of identity documents, anytime, anywhere</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="drop">
                                <a href="#">Customer</a>
                                <ul class="dropdown">
                                    <li>
                                        <a style="color: #433c3c; font-weight: 700; font-size: 14px; margin: 0">
                                            <p><span style="background-color: #f4e9d4">How we work together</span></p>
                                        </a>
                                        <a class="dropdown-item" th:href="@{/use-cases}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Customer stories</p>
                                            <p style="color: #736c6c; font-weight: 500; font-size: 16px;">How others are using CheckID to create trusted identity verification</p>
                                        </a>
                                        <a class="dropdown-item" th:href="@{/partnerships}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Partnerships</p>
                                            <p style="color: #736c6c; font-weight: 500; font-size: 16px;">We collaborate with partners in different industries and other technologies to create a perfect fit for you</p>
                                        </a>
                                        <hr>
                                        
                                        <a style="color: #433c3c; font-weight: 700; font-size: 14px; margin: 0">
                                            <p><span style="background-color: #f4e9d4">Highlighted use cases</span></p>
                                        </a>
                                        
                                        <a class="dropdown-item" th:href="@{/rabobank}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Customer onboarding at Rabobank</p>
                                        </a>
                                        <a class="dropdown-item" th:href="@{/uk-home-office-euss}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">The UK Home Office EU settlement scheme</p>
                                        </a>
                                        <a class="dropdown-item" th:href="@{/aegon}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Reverification at Aegon</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="drop">
                                <a href="#">Industries</a>
                                <ul class="dropdown">
                                    <li>
                                        <a style="color: #433c3c; font-weight: 700; font-size: 14px; margin: 0">
                                            <p><span style="background-color: #f4e9d4">Working for</span></p>
                                        </a>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/industries/financial-services}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Financial services</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Combining KYC, AML and great conversion</p>
                                                </a>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/industries/travel}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Travel</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Combining safety, security and a seamless traveller journey</p>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/industries/trust-service-providers}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Digital signing</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Scalable customer identification at the highest level</p>
                                                </a>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/industries/hiring}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Hiring</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Trusted and flawless employee identity verification check</p>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/industries/egovernment}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">eGovernment</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Creating the highest level of trust</p>
                                                </a>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/industries/gaming-gambling}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Gaming & Gambling</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Securely verifying players identity and improve sign-up rates</p>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/industries/police-border-control}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Police and Border control</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Trusted identity verification anytime, anywhere</p>
                                                </a>
                                            </div>
                                        </div>
                                        
                                    </li>
                                </ul>
                            </li>
                            <li class="drop">
                                <a href="#">Resources</a>
                                <ul class="dropdown">
                                    <li>
                                       
                                        <a style="color: #433c3c; font-weight: 700; font-size: 14px; margin: 0">
                                            <p><span style="background-color: #f4e9d4">Gain insights</span></p>
                                        </a>
                                        
                                        <a class="dropdown-item" th:href="@{/resources/blog}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Blog</p>
                                            <p style="color: #736c6c; font-weight: 500; font-size: 16px;">News, views and opinions from our team</p>
                                        </a>
                                        <a class="dropdown-item" th:href="@{/resources/papers-reports}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">White papers and Reports</p>
                                            <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Take a deep dive into our experience</p>
                                        </a>
                                        <a class="dropdown-item" th:href="@{/resources/webinars}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Webinars</p>
                                            <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Binge watch our webinar series</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="drop">
                                <a href="#">About us</a>
                                <ul class="dropdown">
                                    <li>
                                        <a style="color: #433c3c; font-weight: 700; font-size: 14px; margin: 0">
                                            <p><span style="background-color: #f4e9d4">Get to know us</span></p>
                                        </a>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/about/company}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Company</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">InnoValor, the company that created CheckID</p>
                                                </a>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/about/history}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">History</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Our innovation roots</p>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/about/certifications}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Certifications</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">A combination of certificates, unique to the industry</p>
                                                </a>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/partnerships}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Partnerships</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Strong together with partners in different verticals and technologies</p>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/about/awards}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Awards</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Recognition of our outstanding performance</p>
                                                </a>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/about/events}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Events</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Where to meet or see us?</p>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/about/careers}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Work at InnoValor</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Join our fast growing team</p>
                                                </a>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/about/contact}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Contact</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Visit us or reach out to us</p>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="button-contact-a-special" style="margin-left: 15px;">
                                <a href="#">
                                    Contact a specialist
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="wrapper wrapper-1">
                <div class="left-content">
                    <p style="letter-spacing: 3px; color: #17A2C8"><strong>IDENTITY VERIFICATION FOR FINANCIAL SERVICES</strong></p>
                    <p style="font-weight: bold; font-size: 48px; line-height: 55px; padding-bottom: 15px">
                        Combining secure KYC, AML and great conversion
                    </p>
                    <p style="font-weight: 350;font-size: 18px; padding-bottom: 15px">
                        The financial sector is constantly balancing secure KYC processes against smooth handling and optimal customer experience. CheckID provides the solution to have it all: NFC-first mobile onboarding that is easy to use, completely fraud-free, and highly cost-effective.
                    </p>
                    <a href="#"  type="button" class="btn btn-contact-a-specialist" 
                        style="width: auto; font-weight: bold; border: 2px solid #17A2C8; color: #fff;
                        background: #17A2C8; border-radius: 40px; font-size: 16px ">
                        Contact a specialist
                    </a>
                    <a href="#"  type="button" class="btn btn-contact-a-specialist" 
                        style="width: auto; font-weight: bold; border: 2px solid #17A2C8; color: #17A2C8;
                        background: #faf5ec; border-radius: 40px; font-size: 16px ">
                        Try our demo app
                    </a>
                </div>
                <div class="right-content">
                    <img th:src="@{/images/header-financial-services_Tekengebied 1-01.png}" alt="logo">
                </div>
            </div>
            
            <div class="wrapper wrapper-2">
                <div class="list-card">
                    <div class="row">
                        <div class="card-item col-lg-4 col-md-4 col-sm-4 col-xs-12 col-12">
                            <div class="img-div">
                                <img th:src="@{/images/MobileID_icons_8.png}" alt="logo">
                            </div>
                            <p style="font-weight: bold; font-size: 24px; margin-top: 20px; margin-bottom: 30px">
                                Know Your Customer
                            </p>
                            <p style="font-weight: 350; font-size: 18px; margin-bottom: 40px">
                                Identity verification for onboarding new customers made simple and secure.
                            </p>
                        </div>
                        <div class="card-item col-lg-4 col-md-4 col-sm-4 col-xs-12 col-12">
                            <div class="img-div">
                                <img th:src="@{/images/MobileID_icons_3.png}" alt="logo">
                            </div>
                            <p style="font-weight: bold; font-size: 24px; margin-top: 20px; margin-bottom: 30px">
                                Anti-money laundering
                            </p>
                            <p style="font-weight: 350; font-size: 18px; margin-bottom: 40px">
                                CheckID helps AML compliancy with remote identity verification.
                            </p>
                        </div>
                        <div class="card-item col-lg-4 col-md-4 col-sm-4 col-xs-12 col-12">
                            <div class="img-div">
                                <img th:src="@{/images/MobileID_icons_7.png}" alt="logo">
                            </div>
                            <p style="font-weight: bold; font-size: 24px; margin-top: 20px; margin-bottom: 30px">
                                Reverification
                            </p>
                            <p style="font-weight: 350; font-size: 18px; margin-bottom: 40px">
                                Your customer life cycle doesn't stop after onboarding. Use CheckID for app activation.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="wrapper wrapper-3">
                <p style="font-weight: bold; font-size: 40px; line-height: 50px; padding: 0 0 10px">
                    Powered by Near Field Communication
                </p>
                <p style="font-weight: 350; font-size: 18px; margin: 0; padding: 0 5vw;">
                    The financial sector is constantly balancing secure KYC processes against smooth handling and optimal customer experience. CheckID provides the solution to have it all: NFC-first mobile onboarding that is easy to use, completely fraud-free, and highly cost-effective.
                </p>
                
            </div>
            
            <div class="wrapper wrapper-4">
                <div class="box-of-one-card">
                    <div class="left-content">
                        
                        <p style="font-weight: bold; font-size: 40px; line-height: 50px; padding: 0;margin-bottom: 20px;">
                            KYC for banks
                        </p>
                        <p style="font-weight: 200; font-size: 18px; margin-top: 20px; margin-bottom: 40px">
                            Consumers are increasingly online-minded and expect quick digital services. Physical branch offices with traditional counters and visiting hours are quickly becoming obsolete. Visiting them for identity verification is increasingly regarded as outdated, if not a waste of time and energy. Established banks are often looking for ways to reduce overhead costs by shutting down obsolete offices, and current challenger banks do not even have physical offices anymore.
                        </p>
                        <p style="font-weight: 200; font-size: 18px; margin-bottom: 40px">
                            CheckID offers an unrivalled customer experience and highly secure mobile onboarding, by combining mobile identity document verification with face matching. From the comfort of their own home, customers can open bank accounts online within minutes, using just their identity documents and our NFC-based technology. No need for office visits.
                        </p>
                        <a style="margin-top: 30px;font-weight: 600; font-size: 16px; position: relative" href="#">
                            How Rabobank uses CheckID for onboarding
                            <span style="position: absolute; right: -13%; top: -15%">
                                <i class="fas fa-arrow-right"></i>
                            </span>
                        </a>
                    </div>
                    <div class="right-content">
                        <img th:src="@{/images/readid-financial-services-open-account.jpg}" alt="logo">
                        
                    </div>
                </div>
            </div>
            
            <div class="wrapper wrapper-5">
                <div class="box-of-one-card">
                    <div class="left-content">
                        <img th:src="@{/images/readid-financial-services-verify-identity.jpg}" alt="logo">
                        
                    </div>
                    <div class="right-content">
                        <p style="font-weight: bold; font-size: 40px; line-height: 50px; padding: 0;margin-bottom: 20px;">
                           AML Compliance made easy
                        </p>
                        <p style="font-weight: 200; font-size: 18px; margin-bottom: 40px">
                            According to the European Commission, fighting money laundering and terrorist financing strengthens global security, integrity of the financial system, and sustainable growth. As a result, banks face strict laws to combat money laundering and terrorism financing. Complying with AML directives is difficult, and banks go through extensive and costly reverification programs.
                        </p>
                        <p style="font-weight: 200; font-size: 18px; margin-bottom: 40px">
                            CheckID reduces costs by making reverification safe and simple. And by circumventing human interaction, AML processes become more effective. CheckID's technology delivers secure reverification, by combining mobile identity document verification with facial matching, without the risk of unnecessary customer churn.
                        </p>
                    </div>
                </div>
            </div>
            
            
            <div class="wrapper wrapper-6">
                <div style="background-color: #f4e9d4; width: 176px; height: 176px; border-radius: 50%">
                    <p style="font-weight: bold; font-size: 60px; margin: 0; line-height: 176px; text-align: center">150+</p>
                </div>
                <p style="font-weight: 200; font-size: 24px; margin-top: 20px; margin-bottom: 30px; padding-right: 40px; line-height: 40px; letter-spacing: 2px;">
                    Countries use ICAO compliant identity documents that are supported by CheckID
                </p>
                <a href="#"  type="button" class="btn btn-download-report" 
                    style="width: auto; font-weight: bold; border: 2px solid #17A2C8; color: #fff;
                    background: #17A2C8; border-radius: 40px; font-size: 16px; padding: 18px 38px; ">
                    View worldwide coverage of NFC
                </a>
            </div>
            
            <div class="wrapper wrapper-7">
                <div class="box-of-one-card">
                    <div class="left-content">
                        
                        <p style="font-weight: bold; font-size: 40px; line-height: 50px; padding: 0;margin-bottom: 20px;">
                            Certified security
                        </p>
                        <p style="font-weight: 200; font-size: 18px; margin-top: 20px; margin-bottom: 40px">
                            The technology is secure, as is our company. We are the most certified in the identity verification industry: ISO27001, ISO27701 and eIDAS compliant certified under ETSI EN 319 401 and ETSI EN 319 411-1/2 standards. We are regularly audited and pen tested, and comply with EBA outsourcing guidelines. InnoValor is based in the EU and GDPR compliant.
                        </p>
                        <p style="font-weight: 200; font-size: 18px; margin-bottom: 40px">
                            We build upon electronic identity documents that are impenetrable: data in electronic identity documents cannot be manipulated and is always correctly read. We can detect if a chip was copied. Personal images in chips cannot be manipulated and have a higher resolution than the printed face image. This prevents identity fraud and provides a much stronger basis for face verification than optical solutions.
                        </p>
                        <a style="margin-top: 30px;font-weight: 600; font-size: 16px; position: relative" href="#">
                            Reverification at Aegon
                            <span style="position: absolute; right: -13%; top: -15%">
                                <i class="fas fa-arrow-right"></i>
                            </span>
                        </a>
                        <div class="card-complain">
                            <div class="left-content">
                                <img th:src="@{/images/Rianne-rolsma-aegon-2.jpg}" alt="logo">
                            </div>
                            <div class="right-content">
                                <p style="font-weight: bold; font-size: 18px; margin: 0">
                                    Rianne Rolsma
                                </p>
                                <p style="font-weight: 200; font-size: 18px; margin-bottom: 30px">
                                    Product owner at Aegon
                                </p>
                                <p style="font-weight: 200; font-size: 18px; font-style: italic; margin-top: 20px;">
                                    “We needed reliable, proven technology. Using the NFC solution is much more reliable than OCR.”
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="right-content">
                        <img th:src="@{/images/readid-financial-services-open-bank-account.jpg}" alt="logo">
                        
                    </div>
                </div>
            </div>
            
            
            <div class="wrapper wrapper-8">
                <div class="box-of-one-card">
                    <div class="left-content">
                        <img th:src="@{/images/readid-financial-services-aml.jpg}" alt="logo">
                        
                    </div>
                    <div class="right-content">
                        <p style="font-weight: bold; font-size: 40px; line-height: 50px; padding: 0;margin-bottom: 20px;">
                           CheckID for challenger banks
                        </p>
                        <p style="font-weight: 200; font-size: 18px; margin-top: 20px; margin-bottom: 40px">
                            No offices, goodbye nine-to-five mentality, just top-notch round-the-clock financial service, and a lean and sleek UX, speaking to the younger generations in particular. Yet every bank still needs to officially verify your customers’ identities.
                        </p>
                        <p style="font-weight: 200; font-size: 18px; margin-top: 20px; margin-bottom: 40px">
                            CheckID can offer your customers the required safe and swift onboarding process they have come to know and love about you. Integrate in your own app through our intuitive SDK, or adopt our ready-to-use Ready app and customise it to your own brand identity. Your IT staff will love its easy integration, and cross-the-board effectiveness.
                        </p>
                        <p style="font-weight: 200; font-size: 18px; margin-top: 20px; margin-bottom: 30px">
                            Wow your new clients with a smooth mobile onboarding experience, matching your flagship solution's experience.
                        </p>
                        <a style="margin-top: 30px;font-weight: 600; font-size: 16px; position: relative" href="#">
                            How NFC technology helps
                            <span style="position: absolute; right: -13%; top: -15%">
                                <i class="fas fa-arrow-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            
            <div class="wrapper wrapper-9">
                <p style="letter-spacing: 3px; color: #17A2C8"><strong>START TODAY</strong></p>
                <p style="font-weight: bold; font-size: 40px; line-height: 50px; padding: 0 0 10px">
                    Solutions to solve any identity verification challenge
                </p>
                <p style="font-weight: 200; font-size: 18px; margin: 0;">
                    We provide a free Demo App to experience CheckID yourself. Use CheckID SaaS to integrate into your own app or use our ready-to-use app to hit the ground running. 
                </p>
                
                <div class="box-of-two-card">
                    <div class="left-content col-lg-6 col-md-6 col-sm-8 col-xs-12 col-12">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
                                <p style="font-weight: bold; font-size: 20px; color: #fff">
                                    CheckID SaaS
                                </p>
                                <p style="font-weight: 350; font-size: 18px; color: #fff">
                                    Our SDK can be integrated in any mobile application through well-documented APIs. You can have full control of user interaction or leverage the knowledge in our high-level API.
                                </p>
                            </div>
                        </div>
                        <div class="row" style="position: absolute; bottom: 45px; left: 45px; width: 90%">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
                                <a href="#"  type="button" class="btn" 
                                    style="width: 100%; font-weight: bold; border: 2px solid #fff; color: #fff;
                                    background: #17A2C8; padding: 12px 35px; border-radius: 40px; font-size: 16px; position: relative; ">
                                    CheckID SaaS
                                    <span style="position: absolute; right: 23%; top: 25%">
                                        <i class="fas fa-arrow-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="right-content col-lg-6 col-md-6 col-sm-8 col-xs-12 col-12">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
                                <p style="font-weight: bold; font-size: 20px; color: #fff">
                                    CheckID Ready
                                </p>
                                <p style="font-weight: 350; font-size: 18px; color: #fff">
                                    CheckID Ready is our ready-to-use app that can be tailored to the clients’ look and feel and can be up and running within days.
                                </p>
                            </div>
                        </div>
                        <div class="row" style="position: absolute; bottom: 45px; left: 45px; width: 90%">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
                                <a href="#"  type="button" class="btn" 
                                    style="width: 100%; font-weight: bold; border: 2px solid #fff; color: #fff;
                                    background: #17A2C8; padding: 12px 35px; border-radius: 40px; font-size: 16px ">
                                    CheckID Ready
                                    <span style="position: absolute; right: 23%; top: 28%">
                                        <i class="fas fa-arrow-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="wrapper wrapper-10">
               <div class="left-content">
                    <img th:src="@{/images/use-case-rabobank-readid.jpg}" alt="logo">
                    <div class="m-quote-highlight__logo">
                        <img class="media_image-responsive" src="https://www.readid.com/hubfs/_system/icons/quote.svg" alt="Quote" loading="lazy">
                    </div>
                </div>
                <div class="right-content">
                    <p style="font-size: 24px; font-weight: 400; line-height: 40px; margin-bottom: 20px">
                        "We have grown the online channel for onboarding new customers from 35% to 60% using CheckID"
                    </p>
                    <p style="font-size: 16px; font-weight: bold; margin: 0">Emy Leemans</p>
                    <p style="font-size: 16px; font-weight: 400; margin-bottom: 20px">Product Manager Customer Onboarding Rabobank</p>
                    <a style="font-size: 16px; font-weight: bold; color: #17A2C8; position: relative;">
                        Read about different applications at Rabobank 
                        <span style="position: absolute; right: -30px; top: -25%">
                            <i class="fas fa-arrow-right"></i>
                        </span>
                    </a>
                </div>
            </div>
            
            <div class="wrapper wrapper-11">
                <div class="left-content">
                    <p style="font-size: 24px; font-weight: 400; line-height: 40px; margin-bottom: 20px">
                        "It took us only 6 weeks to implement the re-verification technology at Aegon from scratch using CheckID"
                    </p>
                    <p style="font-size: 16px; font-weight: bold; margin: 0">Rianne Rolsma</p>
                    <p style="font-size: 16px; font-weight: 400; margin-bottom: 20px">Product manager Aegon</p>
                    <a style="font-size: 16px; font-weight: bold; color: #17A2C8; position: relative;">
                        Learn more about the speed of implementation
                        <span style="position: absolute; right: -30px; top: -25%">
                            <i class="fas fa-arrow-right"></i>
                        </span>
                    </a>
                </div>
                <div class="right-content">
                    <img th:src="@{/images/readid-maarten-webinar.png}" alt="logo">
                    <div class="m-quote-highlight__logo">
                        <img class="media_image-responsive" src="https://www.readid.com/hubfs/_system/icons/quote.svg" alt="Quote" loading="lazy">
                    </div>
                </div>
            </div>
            
            <hr style="display:block; clear:both;border: 0;width: 100%; background-color:#ccc;height: 1px;">
            
            <div class="wrapper wrapper-12">
                <div class="box-of-three-card">
                    <div class="card-left col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12">
                        <p style="font-weight: bold; font-size: 40px; line-height: 50px; padding: 0">
                           Learn more
                        </p>
                        <p style="font-weight: 200; font-size: 18px; margin-top: 30px; margin-bottom: 30px;">
                            In a digital world distance does not exist. But how do you realise enough trust to do business at a distance? In our blog we provide regular updates on this topic. 
                        </p>
                        <a style="margin-top: 30px;font-weight: 600; font-size: 16px; position: relative" href="#">
                            Go to Blog
                            <span style="position: absolute; right: -25%; top: -15%">
                                <i class="fas fa-arrow-right"></i>
                            </span>
                        </a>
                    </div>
                    <div class="card card-center col-lg-4 col-md-4 col-sm-6 col-xs-8 col-8" >
                        <a href="#">
                            <img style="height: 40%;width: 100%; border-radius: 30px 30px 0 0;" class="card-img-top" th:src="@{/images/EIC2019 award - on stage.jpeg}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Rabobank Mobile Identification wins EIC 2019 Award</h5>
                                <p class="card-text">
                                    The Rabobank won with its Mobile Identification service because of its innovative use of NFC-based identity document verification.
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="card card-right col-lg-4 col-md-4 col-sm-6 col-xs-8 col-8" >
                        <a href="#">
                            <img style="height: 40%;width: 100%;border-radius: 30px 30px 0 0;" class="card-img-top" th:src="@{/images/readid-app-passport.png}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Security mechanisms in ePassports</h5>
                                <p class="card-text">
                                    The RFID chips in ePassports implement security mechanisms related to privacy, authenticity and clone detection. In this blogpost we give an overview of these and how CheckID implements them.
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            
            <div class="wrapper wrapper-13">
                <div class="box-of-one-card row">
                    <div class="left-content col-lg-6 col-md-6 col-sm-6 col-xs-12 col-12">
                        <img th:src="@{/images/office-readid-robin-staand.jpg}" alt="logo">
                    </div>
                    <div class="right-content col-lg-6 col-md-6 col-sm-6 col-xs-12 col-12">
                        <p style="font-weight: bold; font-size: 40px; line-height: 50px; padding: 0">
                            Let’s talk about your challenge.
                        </p>
                        <p style="font-weight: 200; font-size: 18px; margin-top: 20px; margin-bottom: 30px">
                            In a digital world distance does not exist. But how do you realise enough trust to do business at a distance?
                        </p>
                        <a href="#"  type="button" class="btn btn-contact-a-specialist" 
                            style="width: auto; font-weight: bold; border: 2px solid #fff; color: #17A2C8;
                            background: #fff;; border-radius: 40px; font-size: 16px ">
                            Contact a specialist
                        </a>
                        <a href="#"  
                            style="width: auto; font-weight: bold; color: #fff;font-size: 16px ">
                            Try our demo app
                        </a>
                    </div>
                </div>
            </div>
            
            <div class="footer">
                <div class="row footer-1">
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 col-12" >
                        <div class="logo" style="margin-top: 30px;">
                            <a><img style="width: 200px; height: auto;" th:src="@{/images/checkid_logo.png}" alt="logo"></a>
                        </div>
                        <p style="font-weight: 200; font-size: 18px; margin-top: 20px; margin-bottom: 30px">
                            Converting, scalable, easy-to-use, and secure NFC-based identity verification.
                        </p>
                        <a href="#"  
                            style="width: auto; font-weight: bold; color: #17A2C8;font-size: 16px; position: relative ">
                            Get in touch
                            <span style="position: absolute; right: -30px; top: -10%">
                                <i class="fas fa-arrow-right"></i>
                            </span>
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 col-6" >
                        <p style="font-weight: bold; font-size: 18px; margin-bottom: 30px; margin-top: 30px;">
                            Discover
                        </p>
                        <a class="link-footer" href="#"  
                            style="display: block;width: auto; font-weight: 300; color: #433c3c; font-size: 16px;margin-bottom: 10px ">
                            Why NFC?
                        </a>
                        <a class="link-footer" href="#"  
                            style="display: block;width: auto; font-weight: 300; color: #433c3c; font-size: 16px;margin-bottom: 10px ">
                            Using the CheckID App?
                        </a>
                        <a class="link-footer" href="#"  
                            style="display: block;width: auto; font-weight: 300; color: #433c3c; font-size: 16px;margin-bottom: 10px ">
                            Work at CheckID
                        </a>
                        <a class="link-footer" href="#"  
                            style="display: block;width: auto; font-weight: 300; color: #433c3c; font-size: 16px;margin-bottom: 10px ">
                            Partnerships
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 col-6" >
                        <p style="font-weight: bold; font-size: 18px; margin-bottom: 30px;margin-top: 30px;">
                            Service
                        </p>
                        <a class="link-footer" href="#"  
                            style="display: block;width: auto; font-weight: 300; color: #433c3c; font-size: 16px;margin-bottom: 10px ">
                            Contact a specialist
                        </a>
                        <a class="link-footer" href="#"  
                            style="display: block;width: auto; font-weight: 300; color: #433c3c; font-size: 16px;margin-bottom: 10px ">
                            Try free demo app
                        </a>
                        <a class="link-footer" href="#"  
                            style="display: block;width: auto; font-weight: 300; color: #433c3c; font-size: 16px;margin-bottom: 10px ">
                            Request business demo
                        </a>
                        <a class="link-footer" href="#"  
                            style="display: block;width: auto; font-weight: 300; color: #433c3c; font-size: 16px;margin-bottom: 10px ">
                            Downloads
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12" >
                        <p style="font-weight: bold; font-size: 18px; margin-bottom: 30px; margin-top: 30px;">
                            Stay informed on identity verification
                        </p>
                        <input style="display: block;;margin-bottom: 20px; padding: 10px 16px; width: 100%" type="text" 
                               placeholder="Email"/>
                        <a href="#"  type="button" class="btn" 
                            style="display: block; width: 40%; font-weight: bold; border: 2px solid #17A2C8; color: #fff;
                            background: #17A2C8; border-radius: 40px; font-size: 16px; padding: 12px 12px ">
                            Sign up
                        </a>
                    </div>
                </div>
                <div class="row footer-2">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-12" 
                         style="display:flex; justify-content: flex-start; align-items: center; margin-top: 20px;">
                        <div style="margin-right: 10px;">
                            <img style="width: 66px; height: auto;" th:src="@{/images/iso27001-readid.webp}" alt="logo">
                        </div>
                        <div >
                            <span style="font-weight: 200; font-size: 18px; margin-top: 20px; margin-bottom: 30px">
                                ISO/IEC 27001 certified
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-12" 
                         style="display:flex; justify-content: flex-start; align-items: center;margin-top: 20px;">
                        <div style="margin-right: 10px;">
                            <img style="width: 66px; height: auto;" th:src="@{/images/iso27701.webp}" alt="logo">
                        </div>
                        <div>
                            <span style="font-weight: 200; font-size: 18px; margin-top: 20px; margin-bottom: 30px">
                                ISO/IEC 27701 certified
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-12"
                         style="display:flex; justify-content: flex-start; align-items: center;margin-top: 20px;">
                        <div style="margin-right: 10px;">
                            <img style="width: 66px; height: 66px;" th:src="@{/images/tuv-certified-1.webp}" alt="logo">
                        </div>
                        <div>
                            <span style="font-weight: 200; font-size: 18px; margin-top: 20px; margin-bottom: 30px">
                                eIDAS module certification for QTSPs
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-12" 
                         style="display:flex; justify-content: flex-start; align-items: center;margin-top: 20px;">
                        <div style="margin-right: 10px;">
                            <img style="width: 66px; height: 66px;" th:src="@{/images/tuv-certified-1.webp}" alt="logo">
                        </div>
                        <div>
                            <span style="font-weight: 200; font-size: 18px; margin-top: 20px; margin-bottom: 30px">
                                eIDAS eID module certification High
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row footer-3">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 col-12">
                        <a href="#"  
                            style="width: auto; font-weight: bold; color: #17A2C8;font-size: 16px ">
                            All certifications
                        </a>
                    </div>
                </div>
                <hr style="display:block; clear:both;border: 0;width: 100%;background-color:#ccc;height: 1px;">
                <div class="row footer-4">
                    <div class="col-lg-6 col-md-6 col-sm-4 col-xs-4 col-4">
                        <a href="#"  
                           style="width: auto; font-weight: bold; color: #433c3c;font-size: 16px ">
                            All certifications
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-8 col-xs-8 col-8" style="text-align: right">
                        <a href="#"  
                           style="width: auto; font-weight: bold; color: #433c3c;font-size: 16px; margin-right: 20px ">
                            CheckID
                        </a>
                        <a href="#"  
                           style="width: auto; font-weight: bold; color: #433c3c;font-size: 16px; margin-right: 20px ">
                            Privacy
                        </a>
                        <a href="#"  
                           style="width: auto; font-weight: bold; color: #433c3c;font-size: 16px ">
                            Contact
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <th-block th:replace="fragments/footer_angularjs.html :: footer(TRUE)"/>
    </body>

</html>
