<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" ng-app="myApp" ng-controller="" >
    <head>
        <title>Gaming and Gambling solutions</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' ></meta>
        <meta name="desc" content=""></meta>
        <link rel="shortcut icon" th:href="@{/images/iconsim.png}">
        
        <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/industries/gaming-gambling.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/industries/gaming-gambling-reponsive.css}">
        
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">  

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">
    </head>
    <body>
        <div class="page-wrapper">
            <div class="header" id="header-menu">
                <div class="top-menu">
                    <div class="top-menu-left">
                        <a>
                            <span>
                                <i style="margin-right: 5px" class="fas fa-info-circle"></i>
                                <strong>
                                    Why you should change from Optical to NFC-based identity verification
                                </strong>
                                <span class="arrow-move">
                                    Read more
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="top-menu-right">
                        <span>
                            <i>
                            </i>
                        </span>
                        <a style="position: relative; margin-right: 34px">
                            Using our App? Go here
                            <span style="position: absolute; right: -30px; top: -10%">
                                <i class="fas fa-arrow-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="bottom-menu">
                    <div class="logo">
                        <a th:href="@{/}"><img style="width: 220px; height: auto;" th:src="@{/images/checkid_logo.png}" alt="logo"></a>
                    </div>
                    <div class="menu">
                        <input type="checkbox" id="toggleControl">
                        <label for="toggleControl" class="toggle-icon">
                            <span class="first"></span>
                            <span class="second"></span>
                            <span class="last"></span>
                        </label>
                        <ul class="menu-hidden">
                            <li class="drop">
                                <a href="#">Identity verification</a>
                                <ul class="dropdown">
                                    <li>
                                       
                                        <a style="color: #433c3c; font-weight: 700; font-size: 14px; margin: 0">
                                            <p><span style="background-color: #f4e9d4">Built with NFC technology</span></p>
                                        </a>
                                        
                                        <a class="dropdown-item" th:href="@{/trusted-identity-verification}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">
                                                Why NFC-based identity verification?
                                            </p>
                                            <p style="color: #736c6c; font-weight: 500; font-size: 16px;">
                                                Create trust in identity verification by leveraging identity documents, NFC technology and smartphones
                                            </p>
                                        </a>
                                        
                                        <hr>
                                        
                                        <a style="color: #433c3c; font-weight: 700; font-size: 14px; margin: 0">
                                            <p><span style="background-color: #f4e9d4">Solutions for</span></p>
                                        </a>
                                        
                                        <a class="dropdown-item" th:href="@{/remote-identity-verification}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Remote identity verification</p>
                                            <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Identity verification within your mobile services or through our ready-to-use app</p>
                                        </a>
                                        <a class="dropdown-item" th:href="@{/face-to-face-identity-verification}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Face-to-face identity verification</p>
                                            <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Guaranteed identity verification without knowledge of identity documents, anytime, anywhere</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="drop">
                                <a href="#">Customer</a>
                                <ul class="dropdown">
                                    <li>
                                        <a style="color: #433c3c; font-weight: 700; font-size: 14px; margin: 0">
                                            <p><span style="background-color: #f4e9d4">How we work together</span></p>
                                        </a>
                                        <a class="dropdown-item" th:href="@{/use-cases}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Customer stories</p>
                                            <p style="color: #736c6c; font-weight: 500; font-size: 16px;">How others are using CheckID to create trusted identity verification</p>
                                        </a>
                                        <a class="dropdown-item" th:href="@{/partnerships}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Partnerships</p>
                                            <p style="color: #736c6c; font-weight: 500; font-size: 16px;">We collaborate with partners in different industries and other technologies to create a perfect fit for you</p>
                                        </a>
                                        <hr>
                                        
                                        <a style="color: #433c3c; font-weight: 700; font-size: 14px; margin: 0">
                                            <p><span style="background-color: #f4e9d4">Highlighted use cases</span></p>
                                        </a>
                                        
                                        <a class="dropdown-item" th:href="@{/rabobank}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Customer onboarding at Rabobank</p>
                                        </a>
                                        <a class="dropdown-item" th:href="@{/uk-home-office-euss}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">The UK Home Office EU settlement scheme</p>
                                        </a>
                                        <a class="dropdown-item" th:href="@{/aegon}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Reverification at Aegon</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="drop">
                                <a href="#">Industries</a>
                                <ul class="dropdown">
                                    <li>
                                        <a style="color: #433c3c; font-weight: 700; font-size: 14px; margin: 0">
                                            <p><span style="background-color: #f4e9d4">Working for</span></p>
                                        </a>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/industries/financial-services}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Financial services</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Combining KYC, AML and great conversion</p>
                                                </a>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/industries/travel}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Travel</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Combining safety, security and a seamless traveller journey</p>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/industries/trust-service-providers}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Digital signing</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Scalable customer identification at the highest level</p>
                                                </a>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/industries/hiring}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Hiring</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Trusted and flawless employee identity verification check</p>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/industries/egovernment}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">eGovernment</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Creating the highest level of trust</p>
                                                </a>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/industries/gaming-gambling}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Gaming & Gambling</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Securely verifying players identity and improve sign-up rates</p>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/industries/police-border-control}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Police and Border control</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Trusted identity verification anytime, anywhere</p>
                                                </a>
                                            </div>
                                        </div>
                                        
                                    </li>
                                </ul>
                            </li>
                            <li class="drop">
                                <a href="#">Resources</a>
                                <ul class="dropdown">
                                    <li>
                                       
                                        <a style="color: #433c3c; font-weight: 700; font-size: 14px; margin: 0">
                                            <p><span style="background-color: #f4e9d4">Gain insights</span></p>
                                        </a>
                                        
                                        <a class="dropdown-item" th:href="@{/resources/blog}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Blog</p>
                                            <p style="color: #736c6c; font-weight: 500; font-size: 16px;">News, views and opinions from our team</p>
                                        </a>
                                        <a class="dropdown-item" th:href="@{/resources/papers-reports}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">White papers and Reports</p>
                                            <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Take a deep dive into our experience</p>
                                        </a>
                                        <a class="dropdown-item" th:href="@{/resources/webinars}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Webinars</p>
                                            <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Binge watch our webinar series</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="drop">
                                <a href="#">About us</a>
                                <ul class="dropdown">
                                    <li>
                                        <a style="color: #433c3c; font-weight: 700; font-size: 14px; margin: 0">
                                            <p><span style="background-color: #f4e9d4">Get to know us</span></p>
                                        </a>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/about/company}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Company</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">InnoValor, the company that created CheckID</p>
                                                </a>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/about/history}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">History</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Our innovation roots</p>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/about/certifications}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Certifications</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">A combination of certificates, unique to the industry</p>
                                                </a>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/partnerships}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Partnerships</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Strong together with partners in different verticals and technologies</p>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/about/awards}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Awards</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Recognition of our outstanding performance</p>
                                                </a>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/about/events}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Events</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Where to meet or see us?</p>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/about/careers}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Work at InnoValor</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Join our fast growing team</p>
                                                </a>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/about/contact}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Contact</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Visit us or reach out to us</p>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="button-contact-a-special" style="margin-left: 15px;">
                                <a href="#">
                                    Contact a specialist
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="wrapper wrapper-1">
                <div class="left-content">
                    <p style="letter-spacing: 3px; color: #17A2C8"><strong>IDENTITY VERIFICATION FOR GAMING AND GAMBLING</strong></p>
                    <p style="font-weight: bold; font-size: 48px; line-height: 55px; padding-bottom: 15px">
                        Hitting the Jackpot for Secure Identity Verification
                    </p>
                    <p style="font-weight: 350;font-size: 18px; padding-bottom: 15px">
                        Are you looking to secure your online in-game purchasing methods? Or comply to age verification requirements in online gambling? Even in the virtual world of online gaming and gambling, streamlined real-life identity verification is essential.
                    </p>
                    <a href="#"  type="button" class="btn btn-contact-a-specialist" 
                        style="width: auto; font-weight: bold; border: 2px solid #17A2C8; color: #fff;
                        background: #17A2C8; border-radius: 40px; font-size: 16px ">
                        Contact a specialist
                    </a>
                    <a href="#"  type="button" class="btn btn-contact-a-specialist" 
                        style="width: auto; font-weight: bold; border: 2px solid #17A2C8; color: #17A2C8;
                        background: #faf5ec; border-radius: 40px; font-size: 16px ">
                        Try our demo app
                    </a>
                </div>
                <div class="right-content">
                    <img th:src="@{/images/header-gaming-gambling_Tekengebied 1-06.png}" alt="logo">
                </div>
            </div>
            
            <div class="wrapper wrapper-2">
                <div class="list-card">
                    <div class="row">
                        <div class="card-item col-lg-4 col-md-4 col-sm-4 col-xs-12 col-12">
                            <div class="img-div">
                                <img th:src="@{/images/MobileID_icons_9.png}" alt="logo">
                            </div>
                            <p style="font-weight: bold; font-size: 24px; margin-top: 20px; margin-bottom: 30px">
                                Easy to use
                            </p>
                            <p style="font-weight: 350; font-size: 18px; margin-bottom: 40px">
                                CheckID works instantly and your customers will love it. No unnecessary obstacles or waiting time. Move on securely without churn. Works with identity documents or over 150 countries.
                            </p>
                        </div>
                        <div class="card-item col-lg-4 col-md-4 col-sm-4 col-xs-12 col-12">
                            <div class="img-div">
                                <img th:src="@{/images/MobileID_icons_4.png}" alt="logo">
                            </div>
                            <p style="font-weight: bold; font-size: 24px; margin-top: 20px; margin-bottom: 30px">
                                Know Your Customer
                            </p>
                            <p style="font-weight: 350; font-size: 18px; margin-bottom: 40px">
                                Create KYC compliance. Using an electronic identity document and a smartphone, customers can identity themselves. Simple and secure.
                            </p>
                        </div>
                        <div class="card-item col-lg-4 col-md-4 col-sm-4 col-xs-12 col-12">
                            <div class="img-div">
                                <img th:src="@{/images/MobileID_icons_1.png}" alt="logo">
                            </div>
                            <p style="font-weight: bold; font-size: 24px; margin-top: 20px; margin-bottom: 30px">
                                Scalable
                            </p>
                            <p style="font-weight: 350; font-size: 18px; margin-bottom: 40px">
                                CheckID can grow with your business, from dozens to hundreds of thousands of verifications per day. No manual steps, fully automated. And very secure.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="wrapper wrapper-3">
                <p style="font-weight: bold; font-size: 40px; line-height: 50px; padding: 0 0 10px">
                    Powered by Near Field Communication
                </p>
                <p style="font-weight: 350; font-size: 18px; margin: 0; padding: 0 5vw;">
                    Online gaming and gambling is becoming more regulated, balancing secure KYC processes against smooth handling and optimal customer experience. CheckID provides the solution to have it all: NFC-first mobile onboarding that is easy to use, completely fraud-free, and highly cost-effective.
                </p>
                
            </div>
            
            <div class="wrapper wrapper-4">
                <div class="box-of-one-card">
                    <div class="left-content">
                        
                        <p style="font-weight: bold; font-size: 40px; line-height: 50px; padding: 0;margin-bottom: 20px;">
                            Quick and easy process
                        </p>
                        <p style="font-weight: 200; font-size: 18px; margin-bottom: 40px">
                            In the virtual world of online gaming and gambling, streamlined real-life identity verification is essential. Dedicated players want a quick process, so they can continue their winning streak. The industry requires proper identity verification, to be sure they receive their due money. Through CheckID's mobile NFC-first technology, identity verification is quick, secure, and straightforward.
                        </p>
                        <p style="font-weight: bold; font-size: 24px; margin-bottom: 20px">
                            Leisure activity, serious business
                        </p>
                        <p style="font-weight: 200; font-size: 18px; margin-bottom: 40px">
                            With industry profits up in the billions and seven-figure tournament prizes, gaming has become a mature and serious business. This calls for rigid identity verification measures. Players must be able to safely make in-game purchases, and game studios and online casinos must be sure that those signing up are legitimate.
                        </p>
                        <p style="font-weight: 200; font-size: 18px; margin-bottom: 40px">
                            The UK Gambling Commission’s minimum verification requirements for remote licensees, for example, are their name, address, and date of birth, before they are allowed to gamble. As per July 2021, online gaming and gambling services in Germany must ensure they have the necessary steps in place to prevent under-aged users from accessing their platforms.
                        </p>
                    </div>
                    <div class="right-content">
                        <img th:src="@{/images/readid-gaming-online-identity.jpg}" alt="logo">
                        
                    </div>
                </div>
            </div>
            
            <div class="wrapper wrapper-5">
                <div class="box-of-one-card">
                    <div class="left-content">
                        <img th:src="@{/images/readid-online-gaming-identity-verified.jpg}" alt="logo">
                        
                    </div>
                    <div class="right-content">
                        <p style="font-weight: bold; font-size: 40px; line-height: 50px; padding: 0;margin-bottom: 20px;">
                           How does it work?
                        </p>
                        <p style="font-weight: 200; font-size: 18px; margin-bottom: 40px">
                            CheckID provides comprehensive Software Development Kits and APIs, making it easy for your developers to embed the software within your own game’s payment workflow. As colours, shapes, and fonts all match your game’s unique identity, players won’t notice it is third-party software. This bolsters trust, and leads gamers through the process undistracted.
                        </p>
                        <p style="font-weight: 200; font-size: 18px; margin-bottom: 40px">
                            To complete the verification, all subscribers need is their chipped identity document and a smartphone. What follows is a two-step verification process:
                            <br>
                            Firstly, they must scan the two lines of information at the bottom of their passports, the so-called Machine-Readable Zone, using their smartphone camera. This contains the key to the microchip embedded within their passports, which they scan by holding the passport against their smartphone. As this chip cannot be altered, it forms the most secure means of verifying that the document holder actually exists. It even includes a high-res image of the holder.
                        </p>
                        <p style="font-weight: 200; font-size: 18px; margin-bottom: 40px">
                            As an extra, third security measure, you can include a selfie-matching procedure, where selfie biometrics are matched to those of the high-res picture stored on the chip. This gives you the certainty that the rightful document holder is trying to enter your game.
                        </p>
                    </div>
                </div>
            </div>
            
            
            <div class="wrapper wrapper-6">
                <div style="background-color: #f4e9d4; width: 176px; height: 176px; border-radius: 50%">
                    <p style="font-weight: bold; font-size: 60px; margin: 0; line-height: 176px; text-align: center">150+</p>
                </div>
                <p style="font-weight: 200; font-size: 24px; margin-top: 20px; margin-bottom: 30px; padding-right: 40px; line-height: 40px; letter-spacing: 2px;">
                    More than 150 countries have chipped identity documents we support.
                </p>
                <a href="#"  type="button" class="btn btn-download-report" 
                    style="width: auto; font-weight: bold; border: 2px solid #17A2C8; color: #fff;
                    background: #17A2C8; border-radius: 40px; font-size: 16px; padding: 18px 38px; ">
                   Read more on coverage
                </a>
            </div>
            
            <div class="wrapper wrapper-9">
                <p style="letter-spacing: 3px; color: #17A2C8"><strong>START TODAY</strong></p>
                <p style="font-weight: bold; font-size: 40px; line-height: 50px; padding: 0 0 10px">
                    Solutions to solve any identity verification challenge in gaming and gambling
                </p>
                <p style="font-weight: 200; font-size: 18px; margin: 0;">
                    We provide a free Demo App to experience CheckID yourself. Use CheckID SaaS to integrate into your own app or use our ready-to-use app CheckID Ready to hit the ground running. 
                </p>
                
                <div class="box-of-two-card">
                    <div class="left-content col-lg-6 col-md-6 col-sm-8 col-xs-12 col-12">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
                                <p style="font-weight: bold; font-size: 20px; color: #fff">
                                    CheckID SaaS
                                </p>
                                <p style="font-weight: 350; font-size: 18px; color: #fff">
                                    Our SDK can be integrated in any mobile application through well-documented APIs. You can have full control of user interaction or leverage the knowledge in our high-level API.
                                </p>
                            </div>
                        </div>
                        <div class="row" style="position: absolute; bottom: 45px; left: 45px; width: 90%">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
                                <a href="#"  type="button" class="btn" 
                                    style="width: 100%; font-weight: bold; border: 2px solid #fff; color: #fff;
                                    background: #17A2C8; padding: 12px 35px; border-radius: 40px; font-size: 16px; position: relative; ">
                                    CheckID SaaS
                                    <span style="position: absolute; right: 23%; top: 25%">
                                        <i class="fas fa-arrow-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="right-content col-lg-6 col-md-6 col-sm-8 col-xs-12 col-12">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
                                <p style="font-weight: bold; font-size: 20px; color: #fff">
                                    CheckID Ready
                                </p>
                                <p style="font-weight: 350; font-size: 18px; color: #fff">
                                    CheckID Ready is our ready-to-use app that can be tailored to the clients’ look and feel and can be up and running within days.
                                </p>
                            </div>
                        </div>
                        <div class="row" style="position: absolute; bottom: 45px; left: 45px; width: 90%">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
                                <a href="#"  type="button" class="btn" 
                                    style="width: 100%; font-weight: bold; border: 2px solid #fff; color: #fff;
                                    background: #17A2C8; padding: 12px 35px; border-radius: 40px; font-size: 16px ">
                                    CheckID Ready
                                    <span style="position: absolute; right: 23%; top: 28%">
                                        <i class="fas fa-arrow-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="wrapper wrapper-10">
               <div class="left-content">
                    <img th:src="@{/images/20180430 ReadID Ready - Scan QR from website_closeup@0,25x.png}" alt="logo">
                    <div class="m-quote-highlight__logo">
                        <img class="media_image-responsive" src="https://www.readid.com/hubfs/_system/icons/quote.svg" alt="Quote" loading="lazy">
                    </div>
                </div>
                <div class="right-content">
                    <p style="font-size: 24px; font-weight: 400; line-height: 40px; margin-bottom: 20px">
                        “We needed reliable, proven technology. Using the NFC solution is much more reliable than OCR.”
                    </p>
                    <p style="font-size: 16px; font-weight: bold; margin: 0">Rianne Rolsma</p>
                    <p style="font-size: 16px; font-weight: 400; margin-bottom: 20px">Product owner, Aegon</p>
                    <a style="font-size: 16px; font-weight: bold; color: #17A2C8; position: relative;">
                        Read Rianne's story
                        <span style="position: absolute; right: -30px; top: -25%">
                            <i class="fas fa-arrow-right"></i>
                        </span>
                    </a>
                </div>
            </div>
            
            
            <div class="wrapper wrapper-12">
                <div class="box-of-three-card">
                    <div class="card-left col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12">
                        <p style="font-weight: bold; font-size: 40px; line-height: 50px; padding: 0">
                           Learn more on NFC based identity verification
                        </p>
                        <p style="font-weight: 200; font-size: 18px; margin-top: 30px; margin-bottom: 30px;">
                            CheckID provides trusted identity verification. Want to know more about our technology? Check out some of our deep-dives.
                        </p>
                        <a style="margin-top: 30px;font-weight: 600; font-size: 16px; position: relative" href="#">
                            Go to resource center
                            <span style="position: absolute; right: -25%; top: -15%">
                                <i class="fas fa-arrow-right"></i>
                            </span>
                        </a>
                    </div>
                    <div class="card card-center col-lg-4 col-md-4 col-sm-6 col-xs-8 col-8" >
                        <a href="#">
                            <img style="height: 40%;width: 100%; border-radius: 30px 30px 0 0;" class="card-img-top" th:src="@{/images/readid-gaming-gambling-sports.webp}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Why take the NFC first approach</h5>
                                <p class="card-text">
                                    NFC combines speed and easy of use with security. Learn more on why NFC-first is the right way forward in gaming and gambling. 
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="card card-right col-lg-4 col-md-4 col-sm-6 col-xs-8 col-8" >
                        <a href="#">
                            <img style="height: 40%;width: 100%;border-radius: 30px 30px 0 0;" class="card-img-top" th:src="@{/images/office-scan-nfc-passport.png}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Creating the best conversion</h5>
                                <p class="card-text">
                                    Conversion is key in gaming and gambling. You do not want your impatient customers to be held up by procedures or poor technologies. Learn how CheckID creates the best conversion. 
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            
            <div class="wrapper wrapper-13">
                <div class="box-of-one-card row">
                    <div class="left-content col-lg-6 col-md-6 col-sm-6 col-xs-12 col-12">
                        <img th:src="@{/images/readid-olga.jpg}" alt="logo">
                    </div>
                    <div class="right-content col-lg-6 col-md-6 col-sm-6 col-xs-12 col-12">
                        <p style="font-weight: bold; font-size: 40px; line-height: 50px; padding: 0">
                            Let’s talk about your challenge.
                        </p>
                        <p style="font-weight: 200; font-size: 18px; margin-top: 20px; margin-bottom: 30px">
                            You need KYC. You don't want to annoy your customers. How can CheckID help you in becoming compliant? 
                        </p>
                        <a href="#"  type="button" class="btn btn-contact-a-specialist" 
                            style="width: auto; font-weight: bold; border: 2px solid #fff; color: #17A2C8;
                            background: #fff;; border-radius: 40px; font-size: 16px ">
                            Contact a specialist
                        </a>
                        <a href="#"  
                            style="width: auto; font-weight: bold; color: #fff;font-size: 16px ">
                            Try our demo app
                        </a>
                    </div>
                </div>
            </div>
            
            <div class="footer">
                <div class="row footer-1">
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 col-12" >
                        <div class="logo" style="margin-top: 30px;">
                            <a><img style="width: 200px; height: auto;" th:src="@{/images/checkid_logo.png}" alt="logo"></a>
                        </div>
                        <p style="font-weight: 200; font-size: 18px; margin-top: 20px; margin-bottom: 30px">
                            Converting, scalable, easy-to-use, and secure NFC-based identity verification.
                        </p>
                        <a href="#"  
                            style="width: auto; font-weight: bold; color: #17A2C8;font-size: 16px; position: relative ">
                            Get in touch
                            <span style="position: absolute; right: -30px; top: -10%">
                                <i class="fas fa-arrow-right"></i>
                            </span>
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 col-6" >
                        <p style="font-weight: bold; font-size: 18px; margin-bottom: 30px; margin-top: 30px;">
                            Discover
                        </p>
                        <a class="link-footer" href="#"  
                            style="display: block;width: auto; font-weight: 300; color: #433c3c; font-size: 16px;margin-bottom: 10px ">
                            Why NFC?
                        </a>
                        <a class="link-footer" href="#"  
                            style="display: block;width: auto; font-weight: 300; color: #433c3c; font-size: 16px;margin-bottom: 10px ">
                            Using the CheckID App?
                        </a>
                        <a class="link-footer" href="#"  
                            style="display: block;width: auto; font-weight: 300; color: #433c3c; font-size: 16px;margin-bottom: 10px ">
                            Work at CheckID
                        </a>
                        <a class="link-footer" href="#"  
                            style="display: block;width: auto; font-weight: 300; color: #433c3c; font-size: 16px;margin-bottom: 10px ">
                            Partnerships
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 col-6" >
                        <p style="font-weight: bold; font-size: 18px; margin-bottom: 30px;margin-top: 30px;">
                            Service
                        </p>
                        <a class="link-footer" href="#"  
                            style="display: block;width: auto; font-weight: 300; color: #433c3c; font-size: 16px;margin-bottom: 10px ">
                            Contact a specialist
                        </a>
                        <a class="link-footer" href="#"  
                            style="display: block;width: auto; font-weight: 300; color: #433c3c; font-size: 16px;margin-bottom: 10px ">
                            Try free demo app
                        </a>
                        <a class="link-footer" href="#"  
                            style="display: block;width: auto; font-weight: 300; color: #433c3c; font-size: 16px;margin-bottom: 10px ">
                            Request business demo
                        </a>
                        <a class="link-footer" href="#"  
                            style="display: block;width: auto; font-weight: 300; color: #433c3c; font-size: 16px;margin-bottom: 10px ">
                            Downloads
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12" >
                        <p style="font-weight: bold; font-size: 18px; margin-bottom: 30px; margin-top: 30px;">
                            Stay informed on identity verification
                        </p>
                        <input style="display: block;;margin-bottom: 20px; padding: 10px 16px; width: 100%" type="text" 
                               placeholder="Email"/>
                        <a href="#"  type="button" class="btn" 
                            style="display: block; width: 40%; font-weight: bold; border: 2px solid #17A2C8; color: #fff;
                            background: #17A2C8; border-radius: 40px; font-size: 16px; padding: 12px 12px ">
                            Sign up
                        </a>
                    </div>
                </div>
                <div class="row footer-2">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-12" 
                         style="display:flex; justify-content: flex-start; align-items: center; margin-top: 20px;">
                        <div style="margin-right: 10px;">
                            <img style="width: 66px; height: auto;" th:src="@{/images/iso27001-readid.webp}" alt="logo">
                        </div>
                        <div >
                            <span style="font-weight: 200; font-size: 18px; margin-top: 20px; margin-bottom: 30px">
                                ISO/IEC 27001 certified
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-12" 
                         style="display:flex; justify-content: flex-start; align-items: center;margin-top: 20px;">
                        <div style="margin-right: 10px;">
                            <img style="width: 66px; height: auto;" th:src="@{/images/iso27701.webp}" alt="logo">
                        </div>
                        <div>
                            <span style="font-weight: 200; font-size: 18px; margin-top: 20px; margin-bottom: 30px">
                                ISO/IEC 27701 certified
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-12"
                         style="display:flex; justify-content: flex-start; align-items: center;margin-top: 20px;">
                        <div style="margin-right: 10px;">
                            <img style="width: 66px; height: 66px;" th:src="@{/images/tuv-certified-1.webp}" alt="logo">
                        </div>
                        <div>
                            <span style="font-weight: 200; font-size: 18px; margin-top: 20px; margin-bottom: 30px">
                                eIDAS module certification for QTSPs
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-12" 
                         style="display:flex; justify-content: flex-start; align-items: center;margin-top: 20px;">
                        <div style="margin-right: 10px;">
                            <img style="width: 66px; height: 66px;" th:src="@{/images/tuv-certified-1.webp}" alt="logo">
                        </div>
                        <div>
                            <span style="font-weight: 200; font-size: 18px; margin-top: 20px; margin-bottom: 30px">
                                eIDAS eID module certification High
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row footer-3">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 col-12">
                        <a href="#"  
                            style="width: auto; font-weight: bold; color: #17A2C8;font-size: 16px ">
                            All certifications
                        </a>
                    </div>
                </div>
                <hr style="display:block; clear:both;border: 0;width: 100%;background-color:#ccc;height: 1px;">
                <div class="row footer-4">
                    <div class="col-lg-6 col-md-6 col-sm-4 col-xs-4 col-4">
                        <a href="#"  
                           style="width: auto; font-weight: bold; color: #433c3c;font-size: 16px ">
                            All certifications
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-8 col-xs-8 col-8" style="text-align: right">
                        <a href="#"  
                           style="width: auto; font-weight: bold; color: #433c3c;font-size: 16px; margin-right: 20px ">
                            CheckID
                        </a>
                        <a href="#"  
                           style="width: auto; font-weight: bold; color: #433c3c;font-size: 16px; margin-right: 20px ">
                            Privacy
                        </a>
                        <a href="#"  
                           style="width: auto; font-weight: bold; color: #433c3c;font-size: 16px ">
                            Contact
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <th-block th:replace="fragments/footer_angularjs.html :: footer(TRUE)"/>
    </body>

</html>
