<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" ng-app="myApp" ng-controller="" >
    <head>
        <title>Police and Border control</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' ></meta>
        <meta name="desc" content=""></meta>
        <link rel="shortcut icon" th:href="@{/images/iconsim.png}">
        
        <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/industries/police-border-control.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/industries/police-border-control-reponsive.css}">
        
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">  

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">
    </head>
    <body>
        <div class="page-wrapper">
            <div class="header" id="header-menu">
                <div class="top-menu">
                    <div class="top-menu-left">
                        <a>
                            <span>
                                <i style="margin-right: 5px" class="fas fa-info-circle"></i>
                                <strong>
                                    Why you should change from Optical to NFC-based identity verification
                                </strong>
                                <span class="arrow-move">
                                    Read more
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="top-menu-right">
                        <span>
                            <i>
                            </i>
                        </span>
                        <a style="position: relative; margin-right: 34px">
                            Using our App? Go here
                            <span style="position: absolute; right: -30px; top: -10%">
                                <i class="fas fa-arrow-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="bottom-menu">
                    <div class="logo">
                        <a th:href="@{/}"><img style="width: 220px; height: auto;" th:src="@{/images/checkid_logo.png}" alt="logo"></a>
                    </div>
                    <div class="menu">
                        <input type="checkbox" id="toggleControl">
                        <label for="toggleControl" class="toggle-icon">
                            <span class="first"></span>
                            <span class="second"></span>
                            <span class="last"></span>
                        </label>
                        <ul class="menu-hidden">
                            <li class="drop">
                                <a href="#">Identity verification</a>
                                <ul class="dropdown">
                                    <li>
                                       
                                        <a style="color: #433c3c; font-weight: 700; font-size: 14px; margin: 0">
                                            <p><span style="background-color: #f4e9d4">Built with NFC technology</span></p>
                                        </a>
                                        
                                        <a class="dropdown-item" th:href="@{/trusted-identity-verification}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">
                                                Why NFC-based identity verification?
                                            </p>
                                            <p style="color: #736c6c; font-weight: 500; font-size: 16px;">
                                                Create trust in identity verification by leveraging identity documents, NFC technology and smartphones
                                            </p>
                                        </a>
                                        
                                        <hr>
                                        
                                        <a style="color: #433c3c; font-weight: 700; font-size: 14px; margin: 0">
                                            <p><span style="background-color: #f4e9d4">Solutions for</span></p>
                                        </a>
                                        
                                        <a class="dropdown-item" th:href="@{/remote-identity-verification}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Remote identity verification</p>
                                            <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Identity verification within your mobile services or through our ready-to-use app</p>
                                        </a>
                                        <a class="dropdown-item" th:href="@{/face-to-face-identity-verification}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Face-to-face identity verification</p>
                                            <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Guaranteed identity verification without knowledge of identity documents, anytime, anywhere</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="drop">
                                <a href="#">Customer</a>
                                <ul class="dropdown">
                                    <li>
                                        <a style="color: #433c3c; font-weight: 700; font-size: 14px; margin: 0">
                                            <p><span style="background-color: #f4e9d4">How we work together</span></p>
                                        </a>
                                        <a class="dropdown-item" th:href="@{/use-cases}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Customer stories</p>
                                            <p style="color: #736c6c; font-weight: 500; font-size: 16px;">How others are using CheckID to create trusted identity verification</p>
                                        </a>
                                        <a class="dropdown-item" th:href="@{/partnerships}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Partnerships</p>
                                            <p style="color: #736c6c; font-weight: 500; font-size: 16px;">We collaborate with partners in different industries and other technologies to create a perfect fit for you</p>
                                        </a>
                                        <hr>
                                        
                                        <a style="color: #433c3c; font-weight: 700; font-size: 14px; margin: 0">
                                            <p><span style="background-color: #f4e9d4">Highlighted use cases</span></p>
                                        </a>
                                        
                                        <a class="dropdown-item" th:href="@{/rabobank}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Customer onboarding at Rabobank</p>
                                        </a>
                                        <a class="dropdown-item" th:href="@{/uk-home-office-euss}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">The UK Home Office EU settlement scheme</p>
                                        </a>
                                        <a class="dropdown-item" th:href="@{/aegon}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Reverification at Aegon</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="drop">
                                <a href="#">Industries</a>
                                <ul class="dropdown">
                                    <li>
                                        <a style="color: #433c3c; font-weight: 700; font-size: 14px; margin: 0">
                                            <p><span style="background-color: #f4e9d4">Working for</span></p>
                                        </a>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/industries/financial-services}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Financial services</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Combining KYC, AML and great conversion</p>
                                                </a>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/industries/travel}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Travel</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Combining safety, security and a seamless traveller journey</p>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/industries/trust-service-providers}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Digital signing</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Scalable customer identification at the highest level</p>
                                                </a>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/industries/hiring}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Hiring</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Trusted and flawless employee identity verification check</p>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/industries/egovernment}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">eGovernment</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Creating the highest level of trust</p>
                                                </a>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/industries/gaming-gambling}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Gaming & Gambling</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Securely verifying players identity and improve sign-up rates</p>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/industries/police-border-control}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Police and Border control</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Trusted identity verification anytime, anywhere</p>
                                                </a>
                                            </div>
                                        </div>
                                        
                                    </li>
                                </ul>
                            </li>
                            <li class="drop">
                                <a href="#">Resources</a>
                                <ul class="dropdown">
                                    <li>
                                       
                                        <a style="color: #433c3c; font-weight: 700; font-size: 14px; margin: 0">
                                            <p><span style="background-color: #f4e9d4">Gain insights</span></p>
                                        </a>
                                        
                                        <a class="dropdown-item" th:href="@{/resources/blog}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Blog</p>
                                            <p style="color: #736c6c; font-weight: 500; font-size: 16px;">News, views and opinions from our team</p>
                                        </a>
                                        <a class="dropdown-item" th:href="@{/resources/papers-reports}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">White papers and Reports</p>
                                            <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Take a deep dive into our experience</p>
                                        </a>
                                        <a class="dropdown-item" th:href="@{/resources/webinars}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Webinars</p>
                                            <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Binge watch our webinar series</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="drop">
                                <a href="#">About us</a>
                                <ul class="dropdown">
                                    <li>
                                        <a style="color: #433c3c; font-weight: 700; font-size: 14px; margin: 0">
                                            <p><span style="background-color: #f4e9d4">Get to know us</span></p>
                                        </a>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/about/company}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Company</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">InnoValor, the company that created CheckID</p>
                                                </a>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/about/history}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">History</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Our innovation roots</p>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/about/certifications}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Certifications</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">A combination of certificates, unique to the industry</p>
                                                </a>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/partnerships}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Partnerships</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Strong together with partners in different verticals and technologies</p>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/about/awards}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Awards</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Recognition of our outstanding performance</p>
                                                </a>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/about/events}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Events</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Where to meet or see us?</p>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/about/careers}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Work at InnoValor</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Join our fast growing team</p>
                                                </a>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/about/contact}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Contact</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Visit us or reach out to us</p>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="button-contact-a-special" style="margin-left: 15px;">
                                <a href="#">
                                    Contact a specialist
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="wrapper wrapper-1">
                <div class="left-content">
                    <p style="letter-spacing: 3px; color: #17A2C8"><strong>IDENTITY VERIFICATION FOR POLICE AND BORDER CONTROL</strong></p>
                    <p style="font-weight: bold; font-size: 48px; line-height: 55px; padding-bottom: 15px">
                        Trusted identity verification anytime, anywhere
                    </p>
                    <p style="font-weight: 350;font-size: 18px; padding-bottom: 15px">
                        Safe societies require fast, secure and scalable identity verification on the street. CheckID lets officers perform quality checks to establish validity of identity documents, and whether the right person is holding it. Anytime, anywhere, without expensive dedicated equipment.
                    </p>
                    <a href="#"  type="button" class="btn btn-contact-a-specialist" 
                        style="width: auto; font-weight: bold; border: 2px solid #17A2C8; color: #fff;
                        background: #17A2C8; border-radius: 40px; font-size: 16px ">
                        Contact a specialist
                    </a>
                    <a href="#"  type="button" class="btn btn-contact-a-specialist" 
                        style="width: auto; font-weight: bold; border: 2px solid #17A2C8; color: #17A2C8;
                        background: #faf5ec; border-radius: 40px; font-size: 16px ">
                        Try our demo app
                    </a>
                </div>
                <div class="right-content">
                    <img th:src="@{/images/header-police-border-control_Tekengebied 1-04.png}" alt="logo">
                </div>
            </div>
            
            <div class="wrapper wrapper-2">
                <div class="list-card">
                    <div class="row">
                        <div class="card-item col-lg-4 col-md-4 col-sm-4 col-xs-12 col-12">
                            <div class="img-div">
                                <img th:src="@{/images/MobileID_icons_3.png}" alt="logo">
                            </div>
                            <p style="font-weight: bold; font-size: 24px; margin-top: 20px; margin-bottom: 30px">
                                Easy to use
                            </p>
                            <p style="font-weight: 350; font-size: 18px; margin-bottom: 40px">
                                CheckID works instantly and your customers will love it. No unnecessary obstacles or waiting time. Move on securely without churn. Works with identity documents or over 150 countries.
                            </p>
                        </div>
                        <div class="card-item col-lg-4 col-md-4 col-sm-4 col-xs-12 col-12">
                            <div class="img-div">
                                <img th:src="@{/images/MobileID_icons_2.png}" alt="logo">
                            </div>
                            <p style="font-weight: bold; font-size: 24px; margin-top: 20px; margin-bottom: 30px">
                                Know Your Customer
                            </p>
                            <p style="font-weight: 350; font-size: 18px; margin-bottom: 40px">
                                Create KYC compliance. Using an electronic identity document and a smartphone, customers can identity themselves. Simple and secure.
                            </p>
                        </div>
                        <div class="card-item col-lg-4 col-md-4 col-sm-4 col-xs-12 col-12">
                            <div class="img-div">
                                <img th:src="@{/images/MobileID_icons_6.png}" alt="logo">
                            </div>
                            <p style="font-weight: bold; font-size: 24px; margin-top: 20px; margin-bottom: 30px">
                                Scalable
                            </p>
                            <p style="font-weight: 350; font-size: 18px; margin-bottom: 40px">
                                CheckID can grow with your business, from dozens to hundreds of thousands of verifications per day. No manual steps, fully automated. And very secure.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="wrapper wrapper-3">
                <p style="font-weight: bold; font-size: 40px; line-height: 50px; padding: 0 0 10px">
                    Powered by Near Field Communication
                </p>
                <p style="font-weight: 350; font-size: 18px; margin: 0; padding: 0 5vw;">
                    CheckID is the leading NFC-first mobile identity verification technology that is easy to use, completely fraud-free, and highly cost-effective.
                </p>
                
            </div>
            
            <div class="wrapper wrapper-4">
                <div class="box-of-one-card">
                    <div class="left-content">
                        
                        <p style="font-weight: bold; font-size: 40px; line-height: 50px; padding: 0;margin-bottom: 20px;">
                            CheckID is fast
                        </p>
                        <p style="font-weight: 200; font-size: 18px; margin-bottom: 40px">
                            In seconds officers will know if the rightful owner of the document is in front of them. At the same time using NFC and scanning the machine readable zone gives them swift data input without any mistakes. The high-resolution face image in the chip allows for much better detection of lookalike fraud. CheckID empowers officers with identity document verification, fast and correct data, and identity fraud prevention. It creates instant identity verification.
                        </p>
                        <p style="font-weight: 200; font-size: 18px; margin-bottom: 40px">
                            Speed is important, as any delay can lead to issues in the streets. CheckID is fast: the first OCR steps typically take less than 7 seconds, in total. Average NFC read time is 5 seconds, 90% of attempts succeed within 10 seconds.
                        </p>
                        <p style="font-weight: 200; font-size: 18px; margin-bottom: 40px">
                            Optical alternatives can lead to delays of minutes up until days, as our customers notice.  
                        </p>
                        <a style="margin-top: 30px;font-weight: 600; font-size: 16px; position: relative" href="#">
                            How Dutch police uses CheckID
                            <span style="position: absolute; right: -13%; top: -15%">
                                <i class="fas fa-arrow-right"></i>
                            </span>
                        </a>
                    </div>
                    <div class="right-content">
                        <img th:src="@{/images/readid-border-control-passports.webp}" alt="logo">
                        
                    </div>
                </div>
            </div>
            
            <div class="wrapper wrapper-5">
                <div class="box-of-one-card">
                    <div class="left-content">
                        <img th:src="@{/images/readid-border-control-identity-check.jpg}" alt="logo">
                        
                    </div>
                    <div class="right-content">
                        <p style="font-weight: bold; font-size: 40px; line-height: 50px; padding: 0;margin-bottom: 20px;">
                           Trusted mobile identity verification
                        </p>
                        <p style="font-weight: 200; font-size: 18px; margin-bottom: 40px">
                            CheckID NFC-based remote identity verification offers you the highest levels of security and quality needed. You do not need expensive equipment and it is always accessible.
                        </p>
                        <p style="font-weight: 200; font-size: 18px; margin-bottom: 40px">
                            By reading RFID chip information with a trusted mobile device you can compare the high-resolution passport photo of the document with the person who currently owns it. In addition, the authenticity of the document and extra checks are executed to detect identity theft. 
                        </p>
                        <p style="font-weight: 200; font-size: 18px; margin-bottom: 40px">
                            When you use CheckID's client-only variety on trusted devices, you do not even need an internet connection. This is ideal for mobile identity verification by police, in border control or at events.
                        </p>
                    </div>
                </div>
            </div>
            
            
            <div class="wrapper wrapper-6">
                <div style="background-color: #f4e9d4; width: 176px; height: 176px; border-radius: 50%">
                    <p style="font-weight: bold; font-size: 60px; margin: 0; line-height: 176px; text-align: center">0.0%</p>
                </div>
                <p style="font-weight: 200; font-size: 24px; margin-top: 20px; margin-bottom: 30px; padding-right: 40px; line-height: 40px; letter-spacing: 2px;">
                    No false-accept verifications in millions of transactions.
                </p>
                <a href="#"  type="button" class="btn btn-download-report" 
                    style="width: auto; font-weight: bold; border: 2px solid #17A2C8; color: #fff;
                    background: #17A2C8; border-radius: 40px; font-size: 16px; padding: 18px 38px; ">
                    Learn why CheckID is so secure
                </a>
            </div>
            
            <div class="wrapper wrapper-7">
                <div class="box-of-one-card">
                    <div class="left-content">
                        
                        <p style="font-weight: bold; font-size: 40px; line-height: 50px; padding: 0;margin-bottom: 20px;">
                            High quality personal information
                        </p>
                        <p style="font-weight: 200; font-size: 18px; margin-top: 20px; margin-bottom: 40px">
                            The contactless chip in passports and similar documents contains reliable personal information about the holder, including their full name, birthdate and nationality. This information has been provided by the issuing country, based on strict government identity verification processes. Besides providing very reliable personal information, a second major advantage is that there is no manual input. CheckID is always correct, and highly convenient.
                        </p>
                        <p style="font-weight: 200; font-size: 18px; margin-bottom: 40px">
                            Chips also contain a high-resolution photo, suitable for face matching. Because this photo is of a much higher quality than the photo printed in the identity document, comparing the photo from the chip to the document holder in real-time helps reduce look-alike fraud. The personal information and photo are signed digitally, they cannot be altered.
                        </p>
                        
                    </div>
                    <div class="right-content">
                        <img th:src="@{/images/chip vs datapage face image.webp}" alt="logo">
                        
                    </div>
                </div>
            </div>
            
            
            <div class="wrapper wrapper-8">
                <div class="box-of-one-card">
                    <div class="left-content">
                        <img th:src="@{/images/readid-egoverment-passports-countries.jpg}" alt="logo">
                        
                    </div>
                    <div class="right-content">
                        <p style="font-weight: bold; font-size: 40px; line-height: 50px; padding: 0;margin-bottom: 20px;">
                           Guaranteed ID document authenticity
                        </p>
                        <p style="font-weight: 200; font-size: 18px; margin-top: 20px; margin-bottom: 40px">
                            Modern passports (e-passports) and similar identity documents have a contactless NFC chip. This chip is standardised as part of Doc 9303, Machine Readable Travel Documents, by the International Civil Aviation Organisation (part of the United Nations). The information on the chip is digitally signed by the issuing country and has protection against cloning.
                        </p>
                        <p style="font-weight: 200; font-size: 18px; margin-top: 20px; margin-bottom: 40px">
                            CheckID provides the complex cryptography to verify the authenticity of and information on the chip. It is your smart and simple way to verify the authenticity of the identity document within seconds (passive and active authentication). 
                        </p>
                        <p style="font-weight: 200; font-size: 18px; margin-top: 20px; margin-bottom: 30px">
                            CheckID supports ICAO 9303 and ISO 18013 compliant identity documents.
                        </p>
                        <div class="card-complain">
                            <div class="left-content">
                                <img th:src="@{/images/readid-cbr-desk-verificatie.jpg}" alt="logo">
                            </div>
                            <div class="right-content">
                                <p style="font-weight: bold; font-size: 18px; margin: 0">
                                    Tjitse van den Bos
                                </p>
                                <p style="font-weight: 200; font-size: 18px; margin-bottom: 30px">
                                    Corporate Security Manager at CBR
                                </p>
                                <p style="font-weight: 200; font-size: 18px; font-style: italic; margin-top: 20px;">
                                    "When in doubt, CheckID offers dependability"
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="wrapper wrapper-9">
                <p style="letter-spacing: 3px; color: #17A2C8"><strong>START TODAY</strong></p>
                <p style="font-weight: bold; font-size: 40px; line-height: 50px; padding: 0 0 10px">
                    Solutions to solve your identity verification challenge
                </p>
                
                <div class="box-of-two-card">
                    <div class="left-content col-lg-6 col-md-6 col-sm-8 col-xs-12 col-12">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
                                <p style="font-weight: bold; font-size: 20px; color: #fff">
                                    CheckID Client-Only
                                </p>
                                <p style="font-weight: 350; font-size: 18px; color: #fff">
                                    On trusted devices, under your controle, you can use CheckID client-only. Independent of connectivity, anytime, anywhere. 
                                </p>
                            </div>
                        </div>
                        <div class="row" style="position: absolute; bottom: 45px; left: 45px; width: 90%">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
                                <a href="#"  type="button" class="btn" 
                                    style="width: 100%; font-weight: bold; border: 2px solid #fff; color: #fff;
                                    background: #17A2C8; padding: 12px 35px; border-radius: 40px; font-size: 16px; position: relative; ">
                                    CheckID Client-Only
                                    <span style="position: absolute; right: 23%; top: 25%">
                                        <i class="fas fa-arrow-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="right-content col-lg-6 col-md-6 col-sm-8 col-xs-12 col-12">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
                                <p style="font-weight: bold; font-size: 20px; color: #fff">
                                    CheckID SaaS
                                </p>
                                <p style="font-weight: 350; font-size: 18px; color: #fff">
                                    Our SDK can be integrated in any mobile application through well-documented APIs. You can have full control of user interaction or leverage the knowledge in our high-level API.
                                </p>
                            </div>
                        </div>
                        <div class="row" style="position: absolute; bottom: 45px; left: 45px; width: 90%">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
                                <a href="#"  type="button" class="btn" 
                                    style="width: 100%; font-weight: bold; border: 2px solid #fff; color: #fff;
                                    background: #17A2C8; padding: 12px 35px; border-radius: 40px; font-size: 16px ">
                                    CheckID Saas
                                    <span style="position: absolute; right: 23%; top: 28%">
                                        <i class="fas fa-arrow-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            <div class="wrapper wrapper-11">
                <div class="left-content">
                    <p style="font-size: 24px; font-weight: 400; line-height: 40px; margin-bottom: 20px">
                        CheckID supports World’s most successful remote identity verification immigration programme
                    </p>
                    <p style="font-size: 16px; font-weight: 400; margin-bottom: 20px">
                        Read more about the UK Home Office EU Settlement Scheme
                    </p>
                    <a style="font-size: 16px; font-weight: bold; color: #17A2C8; position: relative;">
                        Case study
                        <span style="position: absolute; right: -30px; top: -25%">
                            <i class="fas fa-arrow-right"></i>
                        </span>
                    </a>
                </div>
                <div class="right-content">
                    <img th:src="@{/images/readid-trust-services-eidas-europe_Tekengebied 1.png}" alt="logo">
                    <div class="m-quote-highlight__logo">
                        <img class="media_image-responsive" src="https://www.readid.com/hubfs/_system/icons/quote.svg" alt="Quote" loading="lazy">
                    </div>
                </div>
            </div>
            
            <hr style="display:block; clear:both;border: 0;width: 100%; background-color:#ccc;height: 1px;">
            
            <div class="wrapper wrapper-12">
                <div class="box-of-three-card">
                    <div class="card-left col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12">
                        <p style="font-weight: bold; font-size: 40px; line-height: 50px; padding: 0">
                           Learn more
                        </p>
                        <p style="font-weight: 200; font-size: 18px; margin-top: 30px; margin-bottom: 30px;">
                            Identity verification evolves constantly. New technologies arise, different perceptions grow. In our knowledge center we discuss our latest developments and new insights.  
                        </p>
                        <a style="margin-top: 30px;font-weight: 600; font-size: 16px; position: relative" href="#">
                            Read our blogs
                            <span style="position: absolute; right: -25%; top: -15%">
                                <i class="fas fa-arrow-right"></i>
                            </span>
                        </a>
                    </div>
                    <div class="card card-center col-lg-4 col-md-4 col-sm-6 col-xs-8 col-8" >
                        <a href="#">
                            <img style="height: 40%;width: 100%; border-radius: 30px 30px 0 0;" class="card-img-top" th:src="@{/images/m-listing-resources-highlights_placeholder.webp}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">A world of electronic identity documents</h5>
                                <p class="card-text">
                                    The ICAO standard for electronic identity document is widely used. But how wide? Read our blog on the use of identity document coverage.
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="card card-right col-lg-4 col-md-4 col-sm-6 col-xs-8 col-8" >
                        <a href="#">
                            <img style="height: 40%;width: 100%;border-radius: 30px 30px 0 0;" class="card-img-top" th:src="@{/images/20180220 clone detection-small.webp}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">How secure are electronic identity documents?</h5>
                                <p class="card-text">
                                    Electronic identity documents have a range of security mechanisms in them, creating unrivalled quality of identity verification. What are they and how do they work?
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            
            <div class="wrapper wrapper-13">
                <div class="box-of-one-card row">
                    <div class="left-content col-lg-6 col-md-6 col-sm-6 col-xs-12 col-12">
                        <img th:src="@{/images/office-readid-robin-smits.jpg}" alt="logo">
                    </div>
                    <div class="right-content col-lg-6 col-md-6 col-sm-6 col-xs-12 col-12">
                        <p style="font-weight: bold; font-size: 40px; line-height: 50px; padding: 0">
                            Let’s talk about your challenge.
                        </p>
                        <p style="font-weight: 200; font-size: 18px; margin-top: 20px; margin-bottom: 30px">
                            How do you want to use CheckID? Should it be integrated in your own app and should it work independent of connectivity? Consult our experts for an intake. Interested in how easy CheckID is to use?  Try our demo app for free!
                        </p>
                        <a href="#"  type="button" class="btn btn-contact-a-specialist" 
                            style="width: auto; font-weight: bold; border: 2px solid #fff; color: #17A2C8;
                            background: #fff;; border-radius: 40px; font-size: 16px ">
                            Contact a specialist
                        </a>
                        <a href="#"  
                            style="width: auto; font-weight: bold; color: #fff;font-size: 16px ">
                            Try our demo app
                        </a>
                    </div>
                </div>
            </div>
            
            <div class="footer">
                <div class="row footer-1">
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 col-12" >
                        <div class="logo" style="margin-top: 30px;">
                            <a><img style="width: 200px; height: auto;" th:src="@{/images/checkid_logo.png}" alt="logo"></a>
                        </div>
                        <p style="font-weight: 200; font-size: 18px; margin-top: 20px; margin-bottom: 30px">
                            Converting, scalable, easy-to-use, and secure NFC-based identity verification.
                        </p>
                        <a href="#"  
                            style="width: auto; font-weight: bold; color: #17A2C8;font-size: 16px; position: relative ">
                            Get in touch
                            <span style="position: absolute; right: -30px; top: -10%">
                                <i class="fas fa-arrow-right"></i>
                            </span>
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 col-6" >
                        <p style="font-weight: bold; font-size: 18px; margin-bottom: 30px; margin-top: 30px;">
                            Discover
                        </p>
                        <a class="link-footer" href="#"  
                            style="display: block;width: auto; font-weight: 300; color: #433c3c; font-size: 16px;margin-bottom: 10px ">
                            Why NFC?
                        </a>
                        <a class="link-footer" href="#"  
                            style="display: block;width: auto; font-weight: 300; color: #433c3c; font-size: 16px;margin-bottom: 10px ">
                            Using the CheckID App?
                        </a>
                        <a class="link-footer" href="#"  
                            style="display: block;width: auto; font-weight: 300; color: #433c3c; font-size: 16px;margin-bottom: 10px ">
                            Work at CheckID
                        </a>
                        <a class="link-footer" href="#"  
                            style="display: block;width: auto; font-weight: 300; color: #433c3c; font-size: 16px;margin-bottom: 10px ">
                            Partnerships
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 col-6" >
                        <p style="font-weight: bold; font-size: 18px; margin-bottom: 30px;margin-top: 30px;">
                            Service
                        </p>
                        <a class="link-footer" href="#"  
                            style="display: block;width: auto; font-weight: 300; color: #433c3c; font-size: 16px;margin-bottom: 10px ">
                            Contact a specialist
                        </a>
                        <a class="link-footer" href="#"  
                            style="display: block;width: auto; font-weight: 300; color: #433c3c; font-size: 16px;margin-bottom: 10px ">
                            Try free demo app
                        </a>
                        <a class="link-footer" href="#"  
                            style="display: block;width: auto; font-weight: 300; color: #433c3c; font-size: 16px;margin-bottom: 10px ">
                            Request business demo
                        </a>
                        <a class="link-footer" href="#"  
                            style="display: block;width: auto; font-weight: 300; color: #433c3c; font-size: 16px;margin-bottom: 10px ">
                            Downloads
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12" >
                        <p style="font-weight: bold; font-size: 18px; margin-bottom: 30px; margin-top: 30px;">
                            Stay informed on identity verification
                        </p>
                        <input style="display: block;;margin-bottom: 20px; padding: 10px 16px; width: 100%" type="text" 
                               placeholder="Email"/>
                        <a href="#"  type="button" class="btn" 
                            style="display: block; width: 40%; font-weight: bold; border: 2px solid #17A2C8; color: #fff;
                            background: #17A2C8; border-radius: 40px; font-size: 16px; padding: 12px 12px ">
                            Sign up
                        </a>
                    </div>
                </div>
                <div class="row footer-2">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-12" 
                         style="display:flex; justify-content: flex-start; align-items: center; margin-top: 20px;">
                        <div style="margin-right: 10px;">
                            <img style="width: 66px; height: auto;" th:src="@{/images/iso27001-readid.webp}" alt="logo">
                        </div>
                        <div >
                            <span style="font-weight: 200; font-size: 18px; margin-top: 20px; margin-bottom: 30px">
                                ISO/IEC 27001 certified
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-12" 
                         style="display:flex; justify-content: flex-start; align-items: center;margin-top: 20px;">
                        <div style="margin-right: 10px;">
                            <img style="width: 66px; height: auto;" th:src="@{/images/iso27701.webp}" alt="logo">
                        </div>
                        <div>
                            <span style="font-weight: 200; font-size: 18px; margin-top: 20px; margin-bottom: 30px">
                                ISO/IEC 27701 certified
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-12"
                         style="display:flex; justify-content: flex-start; align-items: center;margin-top: 20px;">
                        <div style="margin-right: 10px;">
                            <img style="width: 66px; height: 66px;" th:src="@{/images/tuv-certified-1.webp}" alt="logo">
                        </div>
                        <div>
                            <span style="font-weight: 200; font-size: 18px; margin-top: 20px; margin-bottom: 30px">
                                eIDAS module certification for QTSPs
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-12" 
                         style="display:flex; justify-content: flex-start; align-items: center;margin-top: 20px;">
                        <div style="margin-right: 10px;">
                            <img style="width: 66px; height: 66px;" th:src="@{/images/tuv-certified-1.webp}" alt="logo">
                        </div>
                        <div>
                            <span style="font-weight: 200; font-size: 18px; margin-top: 20px; margin-bottom: 30px">
                                eIDAS eID module certification High
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row footer-3">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 col-12">
                        <a href="#"  
                            style="width: auto; font-weight: bold; color: #17A2C8;font-size: 16px ">
                            All certifications
                        </a>
                    </div>
                </div>
                <hr style="display:block; clear:both;border: 0;width: 100%;background-color:#ccc;height: 1px;">
                <div class="row footer-4">
                    <div class="col-lg-6 col-md-6 col-sm-4 col-xs-4 col-4">
                        <a href="#"  
                           style="width: auto; font-weight: bold; color: #433c3c;font-size: 16px ">
                            All certifications
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-8 col-xs-8 col-8" style="text-align: right">
                        <a href="#"  
                           style="width: auto; font-weight: bold; color: #433c3c;font-size: 16px; margin-right: 20px ">
                            CheckID
                        </a>
                        <a href="#"  
                           style="width: auto; font-weight: bold; color: #433c3c;font-size: 16px; margin-right: 20px ">
                            Privacy
                        </a>
                        <a href="#"  
                           style="width: auto; font-weight: bold; color: #433c3c;font-size: 16px ">
                            Contact
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <th-block th:replace="fragments/footer_angularjs.html :: footer(TRUE)"/>
    </body>

</html>
