@media only screen and (max-width: 1900px) {
    /*.wrapper-1 -----------------------------------------*/
    
}

@media only screen and (max-width: 1615px) {
    .header .top-menu{
        padding: 9px 8vw;
    }
    .header .bottom-menu{
        padding: 10px 8vw 20px 8vw;
    }
    
    /* wrapper 1 -------------------------------------------------------------------*/
    .wrapper-1{
        margin-top: 6vw;
        padding: 60px 15vw 60px;
    }
    
    /*footer ----------------------------------------------------------------------*/
    .footer{
        padding: 30px 15vw 60px;
    }
}

@media only screen and (max-width: 1390px) {
    .header .top-menu{
        padding: 9px 2vw;
    }
    .header .bottom-menu{
        padding: 10px 2vw 20px 2vw;
    }
    
   /* wrapper 1 -------------------------------------------------------------------*/
    .wrapper-1{
        margin-top: 6vw;
        padding: 60px 10vw 60px;
    }
   
    
    /*footer ----------------------------------------------------------------------*/
    .footer{
        padding: 30px 10vw 60px;
    }
    
}

@media only screen and (max-width: 1220px) {
    .header .bottom-menu .menu .toggle-icon{
        display: block;
        color: #fff;
        position: fixed;
        right: 2vw;
        margin-top: -1.3rem;
        width: 32px;
        height: 28px;
        background-color: #fff;
        border: 1px solid #736c6c;
        border-radius: 4px;
        cursor: pointer;
    }
    .header .bottom-menu .menu .toggle-icon span{
        position: absolute;
        width: 70%;
        height: 2px;
        background-color: #736c6c;
        left: 15%;
        top: 22%;
        transition: .5s;
    }
    .header .bottom-menu .menu .toggle-icon .second{
        top: 45%;
    }
    .header .bottom-menu .menu .toggle-icon .last{
        top: 68%;
    }
    
    .menu-hidden{
        position: relative;
        display: none;
    }
    
    
    #toggleControl:checked ~ .menu-hidden{
        display: block;
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        padding: 5vw 2vw;
        background-color: #fff;
        transition: .3s;
    }
    
    #toggleControl:checked ~ .menu-hidden .drop{
        display: block;
        width: 240px;
    }
    
    #toggleControl:checked ~ .menu-hidden .drop:hover > a:before{
        visibility: hidden;
    }
    #toggleControl:checked ~ .menu-hidden .drop > .dropdown{
        z-index: 1001;
    }
    
    #toggleControl:checked ~ .menu-hidden .drop:first-child > .dropdown,
    #toggleControl:checked ~ .menu-hidden .drop:nth-child(2) > .dropdown,
    #toggleControl:checked ~ .menu-hidden .drop:nth-child(4) > .dropdown{
/*        top: 10%;
        right: -60vw;
        width: 60vw;*/

        top: 100%;
        left: 10vw;
        width: 60vw;
    }
    
    #toggleControl:checked ~ .menu-hidden .drop:nth-child(3) > .dropdown,
    #toggleControl:checked ~ .menu-hidden .drop:nth-child(5) > .dropdown{
/*        top: 10%;
        right: -75vw;
        width: 75vw;*/

        top: 100%;
        left: 10vw;
        width: 75vw;
    }
    #toggleControl:checked ~ .menu-hidden .drop:before{
        transform: rotate(-45deg);
    }
    
    #toggleControl:checked ~ .menu-hidden  .drop:hover.drop:before{
        transform: rotate(45deg);
    }
    
    #toggleControl:checked ~ .menu-hidden .drop > .dropdown:after{
        visibility: hidden;
    }
    
    #toggleControl:checked ~ .menu-hidden .drop .dropdown{
        overflow-y: scroll;
        height: 70vh;
    }
    
    #toggleControl:checked ~ .toggle-icon{
        position: fixed;
        top: 30px;
    }
    
    #toggleControl:checked ~ .toggle-icon .second{
        opacity: 0;
    }
    #toggleControl:checked ~ .toggle-icon .first{
        transform: rotate(45deg);
        transform-origin: 0 0;
        left: 28%;
    }
    #toggleControl:checked ~ .toggle-icon .last{
        transform: rotate(-45deg);
        transform-origin: 0 0;
        left: 28%;
        margin-top: 3px;
    }
    
    /* wrapper 1 -------------------------------------------------------------------*/
    .wrapper-1{
        margin-top: 6vw;
        padding: 60px 2vw 60px;
    }
   
    
     /*footer ----------------------------------------------------------------------*/
    .footer{
        padding: 30px 2vw 60px;
    }
}

@media only screen and (max-width: 991px) {
    .header .top-menu .top-menu-left a span{
        font-size: 14px;
    }
    .header .top-menu .top-menu-right a{
        display: none;
    }
    
    .wrapper-1 .box-of-two-card {
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center;
    }
    
    
    .wrapper-1 .box-of-two-card .card-left{
        width: 100%;
        margin-bottom: 6rem;
        padding: 0 5vw;
    }
    
    
    .wrapper-1 .box-of-two-card .card-right{
        width: 100%;
    }
    
    .wrapper-1 .box-of-two-card .card-right .form-row > .col-md-6:nth-child(1){
        padding: 0;
    }

    .wrapper-1 .box-of-two-card .card-right .form-row > .col-md-6:nth-child(2){
       padding: 0;
    }
   
}


@media only screen and (max-width: 852px) {
    /*wrapper-1 --------------------------------*/
    .wrapper-1{
        margin-top: 12vw;
    }
}

@media only screen and (max-width: 767px) {
    /*wrapper-1 --------------------------------*/
    .wrapper-1{
        margin-top: 15vw;
    }
}

@media only screen and (max-width: 640px) {
    .header .top-menu .top-menu-left a span{
        display: inline-block;
        width: 400px;
        white-space: nowrap;
        overflow:hidden !important;
        text-overflow: ellipsis;
    }
    
    /*wrapper-1 --------------------------------*/
   
}

@media only screen and (max-width: 517px) {
    
    .wrapper-1{
        margin-top: 20vw;
    }
    
    .wrapper-1 .box-of-two-card .card-left .box-of-two-content{
        
         flex-direction: column;
        justify-content: center; 
        align-items: center;
    }
    
    .wrapper-1 .box-of-two-card .card-left .box-of-two-content .left-content{
        width: 100%;
    }

    .wrapper-1 .box-of-two-card .card-left .box-of-two-content .right-content{
 
        width: 100%;
    }
    
    .wrapper-1 .box-of-two-card .card-left .box-of-two-content .right-content div{
        text-align: center;
    }
    
    .wrapper-1 .box-of-two-card .card-left .box-of-two-content .right-content div img{
        width: 70%;
    }
    
    .wrapper-1 .box-of-two-card .card-right{
        padding: 3.5rem 3rem;
    }
   
}
