.header{ 
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    transition: top 0.2s ease-in-out;
    -webkit-transition: top 0.2s ease-in-out;
    background: #fff;
    z-index: 1000;
    box-shadow: 0 0 3px 0 rgb(0 0 0 / 10%);
}

.top-menu{
    padding: 9px 12vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-menu .top-menu-left{
    font-size: 16px !important;
}

.top-menu .top-menu-left .arrow-move{
    position: relative
}

.top-menu .top-menu-left .arrow-move:before{
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    background: #fff;
    transform: rotate(-45deg);
    border-right: 1px solid #17A2C8;
    border-bottom: 1px solid #17A2C8;
    right: -15px;
    top: 32%;
}

.top-menu .top-menu-left:hover .arrow-move:before{
        right: -22px;
        transition: 0.2s linear;
}

.top-menu .top-menu-right{
    font-size: 18px;
}

.top-menu .top-menu-right a:hover span{
    right: -40px !important;
    transition: 0.2s linear;
}

.bottom-menu{
    padding: 10px 12vw 20px 12vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-menu .menu .toggle-icon,
.bottom-menu .menu #toggleControl{
  display: none;
  z-index: 1001;
}


.bottom-menu .menu ul .drop{
    position: relative;
}

.bottom-menu .menu ul .drop:before{
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  background: #fff;
  transform: rotate(45deg);
  border-right: 1px solid #17A2C8;
  border-bottom: 1px solid #17A2C8;
  right: 8px;
  top: 35%;
}

.bottom-menu .menu ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 0;
 }
 .bottom-menu .menu ul li{
    display: inline-block;
  }
.bottom-menu .menu ul li:first-child a,
.bottom-menu .menu ul li:nth-child(2) a,
.bottom-menu .menu ul li:nth-child(3) a,
.bottom-menu .menu ul li:nth-child(4) a,
.bottom-menu .menu ul li:nth-child(5) a{
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    padding: 8px 24px;
    display: block;
    width: 100%;
}

.bottom-menu .menu ul li:nth-child(6) a{
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    padding: 8px 16px;
    display: block;
    width: 100%;
}

.bottom-menu .menu ul .drop:nth-child(2) a:before,
.bottom-menu .menu ul .drop:nth-child(3) a:before,
.bottom-menu .menu ul .drop:nth-child(4) a:before,
.bottom-menu .menu ul .drop:nth-child(5) a:before{
    content: '';
    position: absolute;
    width: 3.5em;
    height: 0.2em;
    background-color: #17A2C8;
    top: 3em;
    left: 30%;
    visibility: hidden;
}

.bottom-menu .menu ul .drop:first-child a:before{
    content: '';
    position: absolute;
    width: 3.5em;
    height: 0.2em;
    background-color: #17A2C8;
    top: 3em;
    left: 40%;
    visibility: hidden;
}
.bottom-menu .menu ul .drop:hover > a:before{
    visibility: visible;
}

.bottom-menu .menu ul .drop{
    position: relative;
}

.bottom-menu .menu ul .drop:first-child > .dropdown,
.bottom-menu .menu ul .drop:nth-child(2) > .dropdown{
    list-style-type: none;
    background-color: #fff;
    padding: 30px;
    margin: 0;
    position: absolute;
    width: 480px;
    visibility: hidden;
    top: 165%;
    border-radius: 5px !important;
    box-shadow: 0 5px 5px 5px rgb(0 0 0 / 20%);
}

.bottom-menu .menu ul .drop:nth-child(3) > .dropdown{
    list-style-type: none;
    background-color: #fff;
    padding: 30px;
    margin: 0;
    position: absolute;
    width: 700px;
    visibility: hidden;
    top: 165%;
    right: -240%;
    border-radius: 5px !important;
    box-shadow: 0 5px 5px 5px rgb(0 0 0 / 20%);
}

.bottom-menu .menu ul .drop:nth-child(4) > .dropdown{
    list-style-type: none;
    background-color: #fff;
    padding: 30px;
    margin: 0;
    position: absolute;
    width: 480px;
    visibility: hidden;
    top: 165%;
    right: 0;
    border-radius: 5px !important;
    box-shadow: 0 5px 5px 5px rgb(0 0 0 / 20%);
}

.bottom-menu .menu ul .drop:nth-child(5) > .dropdown{
    list-style-type: none;
    background-color: #fff;
    padding: 30px;
    margin: 0;
    position: absolute;
    width: 700px;
    visibility: hidden;
    top: 165%;
    right: 0;
    border-radius: 5px !important;
    box-shadow: 0 5px 5px 5px rgb(0 0 0 / 20%);
}

.bottom-menu .menu ul .drop > .dropdown:after{
  content: '';
  border-style: solid;
  border-color: transparent;
  border-width: 25px;
  position: absolute;
  width: 100%;
  top: -40px;
  left: 0;
}

.bottom-menu .menu ul .drop .dropdown li {
    display: block;
}

.bottom-menu .menu ul .drop:hover > .dropdown{
  /*display: block;*/
  visibility: visible;
}

.button-contact-a-special{
    font-weight: bold;
    border: 3px solid #17A2C8;
    border-radius: 60px;
    padding: 4px 15px;
}

.bottom-menu .menu ul .drop .dropdown li .dropdown-item:hover p{
    color: #17A2C8 !important;
}


/* wrapper 1 -------------------------------------------------------------------*/

.wrapper-1{
    margin-top: 6vw;
    padding: 60px 25vw 60px;
    text-align: center;
    background-color: #fff;
    color: #433c3c;
}


/*wrapper-2-------------------------------------------------------------------*/
.wrapper-2{
    padding: 60px 0 20px;
    text-align: right;
    background-color: #fff;
    color: #433c3c;
    width:100%;
    float:left;
    border-top: 1px solid #ccc;
}
.wrapper-2 .embedVideo iframe {
    width: 945px;
    height: 551.91px;
    border-radius: 20px;
    margin: 0 auto;
}

/* wrapper 3 -------------------------------------------------------------------*/

.wrapper-3{
    padding: 60px 32vw 60px;
    text-align: left;
    background-color: #fff;
    color: #433c3c;
}

.wrapper-3 > ol{
    padding-left: 2em;
    list-style: decimal !important;
}

.wrapper-3 > ol li{
    line-height: 30px;
}

.wrapper-3 .div-img{
    width: 100%;
}

.wrapper-3 .div-img img{
    text-align: center;
    width: 75%;
    height: auto;
    border-radius: 30px;
}

.wrapper-3 .blockquote{
    background-color: #fff;
    padding: 0;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.wrapper-3 .blockquote > .left-content{
    margin-right: 2vw;
    background-color: #17A2C8;
    border-radius: 1em;
    padding: 16px;
    height: 58px;
}

.wrapper-3 .blockquote > .left-content .media_image-responsive{
    width: 24px;
    height: auto;
}

/* wrapper 4 -------------------------------------------------------------------*/

.wrapper-4{
    padding: 60px 25vw 60px;
    text-align: center;
    background-color: #faf5ec;
    color: #433c3c;
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper-4 p{
    width: 450px;
}

/*  wrapper-5 -------------------------------------------------------------------*/
.wrapper-5{
    padding: 60px 32vw 60px;
    text-align: left;
    background-color: #fff;
    color: #433c3c;
}

.wrapper-5 .arrow-right a:hover span{
    right: -40px !important;
    transition: 0.2s linear;
}

.wrapper-5 .arrow-left a:hover span{
    left: -10px !important;
    transition: 0.2s linear;
}



/*footer ----------------------------------------------------------------------*/

.footer{
    border-top: 1px solid #17A2C8;
    background-color: #fff;
    padding: 30px 18vw 60px;
    text-align: left;
}

.footer-1{
/*    display: flex;
    justify-content: space-between;*/
    padding: 20px 0;
}

.footer-1 div .link-footer:hover{
    color: #17A2C8 !important;
}

.footer-1 div a:hover span{
    right: -40px !important;
    transition: 0.2s linear;
}

.footer-2{
/*    display: flex;
    justify-content: space-between;*/
    padding: 0 0 20px 0;
}

.footer-3{
    padding: 20px 0;
}

.footer-4{
/*    display: flex;
    justify-content: space-between;*/
    padding: 20px 0;
}
