@media only screen and (max-width: 1900px) {
    /*.wrapper-1 -----------------------------------------*/
    .wrapper-1{
        padding: 20px 15vw 60px;
    }
    
    /*.wrapper-8 -----------------------------------------*/
    .wrapper-8{
        padding: 60px 20vw 60px;
    }
}

@media only screen and (max-width: 1615px) {
    .header .top-menu{
        padding: 9px 8vw;
    }
    .header .bottom-menu{
        padding: 10px 8vw 20px 8vw;
    }
    
    /*.wrapper-1 -----------------------------------------*/
    .wrapper-1{
        padding: 20px 8vw 60px;
    }
    
    /*.wrapper-2 -----------------------------------------*/
    .wrapper-2{
        padding: 60px 15vw 60px;
    }
    
    .wrapper-2 .left-content img{
        width: 22vw; 
        height: auto;
    }

    .wrapper-2 .left-content div img{
        width: 1.5vw; 
        height: auto;
    }
    
    /*.wrapper-8 -----------------------------------------*/
    .wrapper-8{
        padding: 60px 15vw 60px;
    }
    
    /*wrapper-9-------------------------------------------------------------------*/
    .wrapper-9{
        padding: 60px 15vw 60px;
    }
    
    /*wrapper-10-------------------------------------------------------------------*/
    .wrapper-10{
        padding: 60px 15vw 60px;
    }
    
    /*footer ----------------------------------------------------------------------*/
    .footer{
        padding: 30px 15vw 60px;
    }
}

@media only screen and (max-width: 1390px) {
    .header .top-menu{
        padding: 9px 2vw;
    }
    .header .bottom-menu{
        padding: 10px 2vw 20px 2vw;
    }
    
    /*.wrapper-1 -----------------------------------------*/
    .wrapper-1{
        padding: 20px 2vw 60px;
    }
    
    .wrapper-1 .right-content{
        padding: 12vw 0 0 0;
    }
    
    /*.wrapper-7 -----------------------------------------*/
    .wrapper-7{
        padding: 60px 10vw 60px;
    }
    
    /*.wrapper-8 -----------------------------------------*/
    .wrapper-8{
        padding: 60px 10vw 60px;
    }
    
    /*wrapper-9-------------------------------------------------------------------*/
    .wrapper-9{
        padding: 60px 10vw 60px;
    }
    
    /*wrapper-10-------------------------------------------------------------------*/
    .wrapper-10{
        padding: 60px 10vw 60px;
    }
    
    /*footer ----------------------------------------------------------------------*/
    .footer{
        padding: 30px 10vw 60px;
    }
    
}

@media only screen and (max-width: 1220px) {
    .header .bottom-menu .menu .toggle-icon{
        display: block;
        color: #fff;
        position: fixed;
        right: 2vw;
        margin-top: -1.3rem;
        width: 32px;
        height: 28px;
        background-color: #fff;
        border: 1px solid #736c6c;
        border-radius: 4px;
        cursor: pointer;
    }
    .header .bottom-menu .menu .toggle-icon span{
        position: absolute;
        width: 70%;
        height: 2px;
        background-color: #736c6c;
        left: 15%;
        top: 22%;
        transition: .5s;
    }
    .header .bottom-menu .menu .toggle-icon .second{
        top: 45%;
    }
    .header .bottom-menu .menu .toggle-icon .last{
        top: 68%;
    }
    
    .menu-hidden{
        position: relative;
        display: none;
    }
    
    .using-our-app-hidden{
        position: relative;
        display: none;  
    }
    
    #toggleControl:checked ~ .using-our-app-hidden{
        display: block !important;
        position: fixed;
        z-index: 1001;
        top: 18px;
        left: 47px;
        padding: 0;
    }
    
    #toggleControl:checked ~ .using-our-app-hidden a:hover span{
        right: -35px !important;
        transition: 0.2s linear;
    }
    
    
    #toggleControl:checked ~ .menu-hidden{
        display: block;
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        padding: 50px 23px;
        background-color: #fff;
        transition: .3s;
    }
    
    #toggleControl:checked ~ .menu-hidden .drop{
        display: block;
        width: 240px;
    }
    
    #toggleControl:checked ~ .menu-hidden .drop:hover > a:before{
        visibility: hidden;
    }
    #toggleControl:checked ~ .menu-hidden .drop > .dropdown{
        z-index: 1001;
    }
    
    #toggleControl:checked ~ .menu-hidden .drop:first-child > .dropdown,
    #toggleControl:checked ~ .menu-hidden .drop:nth-child(2) > .dropdown,
    #toggleControl:checked ~ .menu-hidden .drop:nth-child(4) > .dropdown{
/*        top: 10%;
        right: -60vw;
        width: 60vw;*/

        top: 100%;
        left: 10vw;
        width: 60vw;
    }
    
    #toggleControl:checked ~ .menu-hidden .drop:nth-child(3) > .dropdown,
    #toggleControl:checked ~ .menu-hidden .drop:nth-child(5) > .dropdown{
/*        top: 10%;
        right: -75vw;
        width: 75vw;*/

        top: 100%;
        left: 10vw;
        width: 75vw;
    }
    
    #toggleControl:checked ~ .menu-hidden .drop:before{
        transform: rotate(-45deg);
    }
    
    #toggleControl:checked ~ .menu-hidden  .drop:hover.drop:before{
        transform: rotate(45deg);
    }
    
    #toggleControl:checked ~ .menu-hidden .drop > .dropdown:after{
        visibility: hidden;
    }
    
    #toggleControl:checked ~ .menu-hidden .drop .dropdown{
        overflow-y: scroll;
        height: 70vh;
    }
    
    #toggleControl:checked ~ .toggle-icon{
        position: fixed;
        top: 30px;
    }
    
    #toggleControl:checked ~ .toggle-icon .second{
        opacity: 0;
    }
    #toggleControl:checked ~ .toggle-icon .first{
        transform: rotate(45deg);
        transform-origin: 0 0;
        left: 28%;
    }
    #toggleControl:checked ~ .toggle-icon .last{
        transform: rotate(-45deg);
        transform-origin: 0 0;
        left: 28%;
        margin-top: 3px;
    }
    
    /*.wrapper-2 -----------------------------------------*/
    .wrapper-2{
        padding: 60px 2vw 60px;
    }
    
    .wrapper-2 .left-content img{
        width: 30vw; 
        height: auto;
    }

    .wrapper-2 .left-content div img{
        width: 2.5vw; 
        height: auto;
    }
    
    /*.wrapper-4 -----------------------------------------*/
    .wrapper-4 .embedVideo iframe {
        width: 80vw;
        height: 50vw;
        border-radius: 20px;
        margin: 0 auto;
    }
    
    .wrapper-4 .ptag{
        width: 80vw !important;
    }
    
    .hrtag{
        width: 80vw !important;
    }
    
    /*.wrapper-7 -----------------------------------------*/
    .wrapper-7{
        padding: 60px 2vw 60px;
    }
    
    .wrapper-7 .row .right-content{
        text-align: center;
    }
    
    .wrapper-7 .row .right-content img{
        width: 40vw;
    }
    
    .wrapper-7 .row .right-content:after{
        height: 40vw;
        width: 40vw;
        top: -3rem;
        left: 8rem;
    }

    .wrapper-7 .row .right-content:before{
        width: 40vw;
        height: 40vw;
        left: 3rem;
        top: 2rem;

    }
    
    /*.wrapper-8 -----------------------------------------*/
    .wrapper-8{
        padding: 60px 2vw 60px;
    }
    
    /*wrapper-9-------------------------------------------------------------------*/
    .wrapper-9{
        padding: 60px 2vw 60px;
    }
    
    /*wrapper-10-------------------------------------------------------------------*/
    .wrapper-10{
        padding: 60px 2vw 60px;
    }
    
     /*footer ----------------------------------------------------------------------*/
    .footer{
        padding: 30px 2vw 60px;
    }
}

@media only screen and (max-width: 991px) {
    .header .top-menu .top-menu-left a span{
        font-size: 14px;
    }
    .header .top-menu .top-menu-right a{
        display: none;
    }
    
    /*wrapper-7 --------------------------------*/
    .wrapper-7 .row .right-content img{
        margin-top: 5vw;
        width: 60vw;
    }
    
    .wrapper-7 .row .right-content:after{
        height: 65vw;
        width: 60vw;
        top: 3vw;
        left: 23vw;
    }
    
    .wrapper-7 .row .right-content:before{
        width: 60vw;
        height: 60vw;
        left: 17vw;
        top: 8vw;

    }
    /*wrapper-8 --------------------------------*/
    .wrapper-8 .box-of-two-card{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    .wrapper-8 .box-of-two-card .left-content {
        margin-right: 0;
        
    }
    .wrapper-8 .box-of-two-card .right-content{
        margin-top: 3vw;
    }
    
    /*wrapper-9 --------------------------------*/
    .wrapper-9 .box-of-three-card{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    .wrapper-9 .box-of-three-card .card-left{
        margin-right: 0;
    }
    
    .wrapper-9 .box-of-three-card .card-center{
        margin-right: 0;
        margin-top: 3vw;
    }
    
    .wrapper-9 .box-of-three-card .card-right{
        margin-top: 3vw;
    }
    
    /*wrapper-10 --------------------------------*/
    .wrapper-10 .box-of-one-card .left-content img{
        width: 32vw;
    }
    
    .wrapper-10 .box-of-one-card .left-content:before{
        top: -3vw;
        left: -1vw;
        width: 32vw;
        height: 100%;
    }
    
    .wrapper-10 .box-of-one-card{
        padding: 100px 20px 60px 50px;
    }
}


@media only screen and (max-width: 852px) {
    /*wrapper-1 --------------------------------*/
    .wrapper-1{
        margin-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .wrapper-1 .left-content{
        margin-right: 0;
    }
    
    .wrapper-1 .right-content img{
        width: 70vw; 
        height: auto;
    }
    
    /*wrapper-2 --------------------------------*/
    .wrapper-2{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    .wrapper-2 .left-content{
        margin-right: 0;
    }
    
    .wrapper-2 .right-content{
        margin-top: 30px;
    }
    
    .wrapper-2 .left-content img{
        width: 50vw; 
        height: auto;
    }

    .wrapper-2 .left-content div img{
        width: 4vw; 
        height: auto;
    }
    
    /*wrapper-3-------------------------------------------------------------------*/
    .wrapper-3{
        padding: 60px 2vw 60px;
    }
    
    /*wrapper-5-------------------------------------------------------------------*/
    .wrapper-5{
        padding: 20px 2vw 20px;
    }
    
    /*wrapper-6-------------------------------------------------------------------*/
    .wrapper-6{
        padding: 20px 2vw 20px;
    }
    
    /*wrapper-8-------------------------------------------------------------------*/
    .wrapper-8{
        padding: 20px 2vw 20px;
    }
    
    
}

@media only screen and (max-width: 767px) {
    /*wrapper-10 --------------------------------*/
    .wrapper-10 .box-of-one-card .left-content{
        text-align: center;
    }
    .wrapper-10 .box-of-one-card .left-content img{
        margin-bottom: 5vw;
    }
    
    .wrapper-10 .box-of-one-card .left-content img{
        width: 45vw;
        border-radius: 35px 35px 50% 50%;
    }
    
    .wrapper-10 .box-of-one-card .left-content:before{
        text-align: center;
        top: -4vw;
        left: 15vw;
        width: 48vw;
        height: 45vw;
    }
}

@media only screen and (max-width: 640px) {
    .header .top-menu .top-menu-left a span{
        display: inline-block;
        width: 400px;
        white-space: nowrap;
        overflow:hidden !important;
        text-overflow: ellipsis;
    }
    
    /*wrapper-1 --------------------------------*/
    .wrapper-1{
        margin-top: 10vw;
    }
    
    
}

@media only screen and (max-width: 517px) {
    /*wrapper-1 --------------------------------*/
    .wrapper-1 .left-content .btn-contact-a-specialist{
        margin-top: 20px;
        width: 80vw;
    }

    .wrapper-1 .left-content .btn-try-demo-app{
        margin-top: 20px;
        width: 80vw;
    }
}
