*{
    margin: 0;
    /*list-style: none;*/
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    src:url(./font/Montserrat-Black.ttf);
    font-family: Montserrat;
}
@font-face{
    src:url(./font/Montserrat-BlackItalic.ttf);
    font-family: Montserrat;
}
@font-face{
    src:url(./font/Montserrat-Bold.ttf);
    font-family: Montserrat;
}
@font-face{
    src:url(./font/Montserrat-BoldItalic.ttf);
    font-family: Montserrat;
}
@font-face{
    src:url(./font/Montserrat-ExtraBold.ttf);
    font-family: Montserrat;
}
@font-face{
    src:url(./font/Montserrat-ExtraBoldItalic.ttf);
    font-family: Montserrat;
}
@font-face{
    src:url(./font/Montserrat-ExtraLight.ttf);
    font-family: Montserrat;
}
@font-face{
    src:url(./font/Montserrat-ExtraLightItalic.ttf);
    font-family: Montserrat;
}
@font-face{
    src:url(./font/Montserrat-Italic.ttf);
    font-family: Montserrat;
}
@font-face{
    src:url(./font/Montserrat-Light.ttf);
    font-family: Montserrat;
}
@font-face{
    src:url(./font/Montserrat-LightItalic.ttf);
    font-family: Montserrat;
}
@font-face{
    src:url(./font/Montserrat-Medium.ttf);
    font-family: Montserrat;
}
@font-face{
    src:url(./font/Montserrat-MediumItalic.ttf);
    font-family: Montserrat;
}
@font-face{
    src:url(./font/Montserrat-Regular.ttf);
    font-family: Montserrat;
}
@font-face{
    src:url(./font/Montserrat-SemiBold.ttf);
    font-family: Montserrat;
}
@font-face{
    src:url(./font/Montserrat-SemiBoldItalic.ttf);
    font-family: Montserrat;
}
@font-face{
    src:url(./font/Montserrat-Thin.ttf);
    font-family: Montserrat;
}
@font-face{
    src:url(./font/Montserrat-ThinItalic.ttf);
    font-family: Montserrat;
}

body, html {
    margin: 0;
    font-family: Arial, san-serif !important;
  
    color: #17A2C8;
    line-height: 26px !important;
    position: relative;
    text-align: left;
    animation: goIn 0.5s;
    overflow-y: visible;
    overflow-x: visible;
    -ms-overflow-style: none;
    scrollbar-width: none;
    
    background-color: #fff;
}

a:hover{
    text-decoration: none !important;
    cursor: pointer;
}

input::placeholder,
textarea::placeholder{
    color: #fff !important;
}

input{
    height: 54px !important;
}
