<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" ng-app="myApp" ng-controller="" >
    <head>
        <title>Aegon</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' ></meta>
        <meta name="desc" content=""></meta>
        <link rel="shortcut icon" th:href="@{/images/iconsim.png}">
        
        <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/aegon.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/aegon-reponsive.css}">
        
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">  

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">
    </head>
    <body>
        <div class="page-wrapper">
            <div class="header" id="header-menu">
                <div class="top-menu">
                    <div class="top-menu-left">
                        <a>
                            <span>
                                <i style="margin-right: 5px" class="fas fa-info-circle"></i>
                                <strong>
                                    Why you should change from Optical to NFC-based identity verification
                                </strong>
                                <span class="arrow-move">
                                    Read more
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="top-menu-right">
                        <span>
                            <i>
                            </i>
                        </span>
                        <a style="position: relative; margin-right: 34px">
                            Using our App? Go here
                            <span style="position: absolute; right: -30px; top: -10%">
                                <i class="fas fa-arrow-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="bottom-menu">
                    <div class="logo">
                        <a th:href="@{/}"><img style="width: 220px; height: auto;" th:src="@{/images/checkid_logo.png}" alt="logo"></a>
                    </div>
                    <div class="menu">
                        <input type="checkbox" id="toggleControl">
                        <label for="toggleControl" class="toggle-icon">
                            <span class="first"></span>
                            <span class="second"></span>
                            <span class="last"></span>
                        </label>
                        <ul class="menu-hidden">
                            <li class="drop">
                                <a href="#">Identity verification</a>
                                <ul class="dropdown">
                                    <li>
                                       
                                        <a style="color: #433c3c; font-weight: 700; font-size: 14px; margin: 0">
                                            <p><span style="background-color: #f4e9d4">Built with NFC technology</span></p>
                                        </a>
                                        
                                        <a class="dropdown-item" th:href="@{/trusted-identity-verification}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">
                                                Why NFC-based identity verification?
                                            </p>
                                            <p style="color: #736c6c; font-weight: 500; font-size: 16px;">
                                                Create trust in identity verification by leveraging identity documents, NFC technology and smartphones
                                            </p>
                                        </a>
                                        
                                        <hr>
                                        
                                        <a style="color: #433c3c; font-weight: 700; font-size: 14px; margin: 0">
                                            <p><span style="background-color: #f4e9d4">Solutions for</span></p>
                                        </a>
                                        
                                        <a class="dropdown-item" th:href="@{/remote-identity-verification}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Remote identity verification</p>
                                            <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Identity verification within your mobile services or through our ready-to-use app</p>
                                        </a>
                                        <a class="dropdown-item" th:href="@{/face-to-face-identity-verification}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Face-to-face identity verification</p>
                                            <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Guaranteed identity verification without knowledge of identity documents, anytime, anywhere</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="drop">
                                <a href="#">Customer</a>
                                <ul class="dropdown">
                                    <li>
                                        <a style="color: #433c3c; font-weight: 700; font-size: 14px; margin: 0">
                                            <p><span style="background-color: #f4e9d4">How we work together</span></p>
                                        </a>
                                        <a class="dropdown-item" th:href="@{/use-cases}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Customer stories</p>
                                            <p style="color: #736c6c; font-weight: 500; font-size: 16px;">How others are using CheckID to create trusted identity verification</p>
                                        </a>
                                        <a class="dropdown-item" th:href="@{/partnerships}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Partnerships</p>
                                            <p style="color: #736c6c; font-weight: 500; font-size: 16px;">We collaborate with partners in different industries and other technologies to create a perfect fit for you</p>
                                        </a>
                                        <hr>
                                        
                                        <a style="color: #433c3c; font-weight: 700; font-size: 14px; margin: 0">
                                            <p><span style="background-color: #f4e9d4">Highlighted use cases</span></p>
                                        </a>
                                        
                                        <a class="dropdown-item" th:href="@{/rabobank}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Customer onboarding at Rabobank</p>
                                        </a>
                                        <a class="dropdown-item" th:href="@{/uk-home-office-euss}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">The UK Home Office EU settlement scheme</p>
                                        </a>
                                        <a class="dropdown-item" th:href="@{/aegon}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Reverification at Aegon</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="drop">
                                <a href="#">Industries</a>
                                <ul class="dropdown">
                                    <li>
                                        <a style="color: #433c3c; font-weight: 700; font-size: 14px; margin: 0">
                                            <p><span style="background-color: #f4e9d4">Working for</span></p>
                                        </a>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/industries/financial-services}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Financial services</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Combining KYC, AML and great conversion</p>
                                                </a>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/industries/travel}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Travel</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Combining safety, security and a seamless traveller journey</p>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/industries/trust-service-providers}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Digital signing</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Scalable customer identification at the highest level</p>
                                                </a>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/industries/hiring}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Hiring</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Trusted and flawless employee identity verification check</p>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/industries/egovernment}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">eGovernment</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Creating the highest level of trust</p>
                                                </a>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/industries/gaming-gambling}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Gaming & Gambling</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Securely verifying players identity and improve sign-up rates</p>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/industries/police-border-control}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Police and Border control</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Trusted identity verification anytime, anywhere</p>
                                                </a>
                                            </div>
                                        </div>
                                        
                                    </li>
                                </ul>
                            </li>
                            <li class="drop">
                                <a href="#">Resources</a>
                                <ul class="dropdown">
                                    <li>
                                       
                                        <a style="color: #433c3c; font-weight: 700; font-size: 14px; margin: 0">
                                            <p><span style="background-color: #f4e9d4">Gain insights</span></p>
                                        </a>
                                        
                                        <a class="dropdown-item" th:href="@{/resources/blog}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Blog</p>
                                            <p style="color: #736c6c; font-weight: 500; font-size: 16px;">News, views and opinions from our team</p>
                                        </a>
                                        <a class="dropdown-item" th:href="@{/resources/papers-reports}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">White papers and Reports</p>
                                            <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Take a deep dive into our experience</p>
                                        </a>
                                        <a class="dropdown-item" th:href="@{/resources/webinars}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Webinars</p>
                                            <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Binge watch our webinar series</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="drop">
                                <a href="#">About us</a>
                                <ul class="dropdown">
                                    <li>
                                        <a style="color: #433c3c; font-weight: 700; font-size: 14px; margin: 0">
                                            <p><span style="background-color: #f4e9d4">Get to know us</span></p>
                                        </a>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/about/company}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Company</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">InnoValor, the company that created CheckID</p>
                                                </a>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/about/history}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">History</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Our innovation roots</p>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/about/certifications}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Certifications</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">A combination of certificates, unique to the industry</p>
                                                </a>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/partnerships}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Partnerships</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Strong together with partners in different verticals and technologies</p>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/about/awards}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Awards</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Recognition of our outstanding performance</p>
                                                </a>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/about/events}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Events</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Where to meet or see us?</p>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/about/careers}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Work at InnoValor</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Join our fast growing team</p>
                                                </a>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/about/contact}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Contact</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Visit us or reach out to us</p>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="button-contact-a-special" style="margin-left: 15px;">
                                <a href="#">
                                    Contact a specialist
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="wrapper wrapper-1">
                <p style="font-weight: bold; font-size: 48px; line-height: 50px; padding: 0 5vw 10px">
                    Easier Re-verifying Client Identities
                </p>
                <p style="font-weight: 350; font-size: 18px; margin: 0;padding: 0 3vw 0;">
                    One of the world’s leading financial service providers, Aegon, was looking to cement their financial security and extend their online services. A recurring issue was re-verifying existing clients, which required face-to-face meetings and inconvenient paperwork. In an unprecedented six-week time frame, Aegon’s Bank Online Team expertly led the roll-out of CheckID Ready app.
                </p>
            </div>
            
            <div class="wrapper wrapper-2">
                <div class="embedVideo">
                    <iframe style="display: block" width="945" height="551.91" src="https://www.youtube.com/embed/eC0nQDTanXg"
                            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>      
                    </iframe>
                </div>
                <div class="ptag" style="width: 945px;margin: 0 auto; position: relative">
                    <p style="font-weight: 350; font-size: 18px; float: right; border-right: 3px solid #17A2C8; padding-right: 20px; margin: 20px 0">
                        Rianne Rolsma, Product Owner Aegon, joined our webinar to talk about the Speed of implementation
                    </p>
                </div>
            </div>
            
            <div class="wrapper wrapper-3">
                <p style="font-weight: bold; font-size: 40px; line-height: 50px; padding: 0; margin-bottom: 20px;">
                    Top-Notch Mobile-First Financial Security
                </p>
                <p style="font-weight: 350; font-size: 18px; margin-bottom: 65px; padding: 0 0 0;">
                    Aegon is one of the world’s leading providers of life insurances, pensions, and asset management. They help people achieve a lifetime of financial security. As an online bank, they are constantly looking to optimise digital channels for their clients. With their ‘My Aegon’ account, clients can easily access their profile details for online banking. To strengthen financial security, Aegon required a new digital solution to remotely re-KYC their existing clients. The Bank Online team, responsible for the My Aegon personal banking environment, took care of the implementation of this reverification process.
                </p>
                
                <div class="div-img" style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-bottom: 65px;">
                    <img style="width: 500px; height: auto;" th:src="@{/images/Aegon-logo.png}" alt="logo">
                </div>
                
                
                <p style="font-weight: 350; font-size: 18px; margin-bottom: 65px; padding: 0 0 0;">
                    As an online-oriented banking department, Aegon did not have a physical location where they could meet their clients. Yet they regularly needed to re-verify their clients’ identities. To keep up with consumer demand for a mobile-first approach, Aegon’s Bank Online Team was faced with a three-in-one problem: create a user-friendly, straightforward app that is also reliable and secure, and pull this off within a narrow time frame. They also needed a suitable way to guide their clients through the new process.
                </p>
                <div class="div-img" style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-bottom: 65px;">
                    <img style="width: 500px; height: auto; border-radius: 30px;" th:src="@{/images/flow-aegon (1).png}" alt="logo">
                </div>
                <p style="font-weight: bold; font-size: 18px; margin-bottom: 40px; padding: 0 0 0;">
                    With a team of eight people, Rianne Rolsma, Product Owner for the Bank Online Team, first mapped the client flow. She also included three developers in the team to manage the back-end integration.
                </p>
                <p style="font-weight: 350; font-size: 18px; margin-bottom: 40px; padding: 0 0 0;">
                    To make the app as user-friendly as possible and less sensitive to error, they sought an alternative to manual entry. Rolsma knew that Optical Character Recognition technology alone isn’t 100% reliable. By NFC-scanning chipped identity documents, however, Aegon would have direct access to officially approved information.
                </p>
                <p style="font-weight: 350; font-size: 18px; margin-bottom: 40px; padding: 0 0 0;">
                    CheckID's NFC-based identity verification technology was perfect for Aegon. In conjunction with CheckID's team, they chose to directly implement the CheckID Ready app. This would save heaps of time and costs
                </p>
                <div class="blockquote">
                    <div class="left-content">
                        <img class="media_image-responsive" src="https://www.readid.com/hubfs/_system/icons/quote.svg" alt="Quote" loading="lazy">
                    </div>
                    <div class="right-content">
                        <p style="letter-spacing: 2px; font-weight: bold; font-size: 30px; margin: 0; color: #17A2C8; line-height: 40px;">
                           “We needed reliable, proven technology. Using the NFC solution is much more reliable than OCR.”
                        </p>
                    </div>
                </div>
                
                <p style="font-weight: 350; font-size: 18px; margin-bottom: 40px; padding: 0 0 0;">
                    CheckID's Ready app had all the functionalities Aegon needed. It was easy to use for both clients and Aegon staff. It only needed some customising, with Aegon’s brand identity logos, shapes, colours, and fonts.
                </p>
                <p style="font-weight: 350; font-size: 18px; margin-bottom: 0; padding: 0 0 0;">
                    Within just six weeks, Aegon could offer their clients a tried and tested app. The kick-off sessions together with CheckID's people, UX work, app architecture and development gave it a jump start. Everyone on board was giving it their utmost to make the deadline, and work towards the common goal.
                </p>
                
            </div>
            
            <div class="wrapper wrapper-4">
                <p style="font-weight: 400; font-size: 26px; line-height: 40px; padding: 0; margin-bottom: 30px;">
                    Share the lessons learned at Aegon
                </p>
                <a href="#"  type="button" class="btn" 
                    style="width: auto; font-weight: bold; border: 2px solid #17A2C8; color: #fff;
                    background: #17A2C8; padding: 12px 35px; border-radius: 40px; font-size: 16px ">
                    Download Case Study Aegon
                </a>
            </div>
            
            <div class="wrapper wrapper-5">
                <p style="font-weight: bold; font-size: 26px; line-height: 40px; padding: 0; margin-bottom: 20px;">
                    In less than two months, the first clients were led through the client flow.
                </p>
                <p style="font-weight: 350; font-size: 18px; margin-bottom: 40px; padding: 0 0 0;">
                    Since the CheckID Ready app had all the functions Aegon needed, they quickly adopted it and altered it to their brand identity’s look and feel. Because it is fully on-brand and presented as Aegon’s own app in both the iStore and on Google Play, end users will not even know it is a third-party app and have no second thoughts about installing it.
                </p>
                <p style="font-weight: 350; font-size: 18px; margin-bottom: 40px; padding: 0 0 0;">
                    In less than two months, the first clients were led through the client flow. Struggling clients could phone Aegon for help, and their feedback was used to further improve client flow. When people logged on, they received a prompt asking them to re-verify themselves, with a step-by-step walk-through telling them how. Others were sent a letter through the post.
                </p>
                <p style="font-weight: 350; font-size: 18px; margin-bottom: 40px; padding: 0 0 0;">
                    One side effect of the new work flow is the increased conversion rate. A considerable 60% to 70% of the people now finish the flow.
                </p>
                <p style="font-weight: 350; font-size: 18px; margin-bottom: 75px; padding: 0 0 0;">
                    In short, Aegon’s app development process was lightning-fast, easy as pie and made for happier clients as well as employees on Aegon’s side. A major success!
                </p>
                <hr style="display:block; clear:both;border: 0;width: 100%; background-color:#ccc;height: 1px;">
                <p style="text-align: center; font-weight: bold; font-size: 30px; line-height: 40px; margin-top: 40px; margin-bottom: 30px; padding: 0;">
                    Want to learn more about government-grade security for identity verification?
                </p>
                <div class="arrow-right" style="text-align: center; margin-bottom: 40px;">
                    <a style="font-size: 16px; font-weight: bold; color: #17A2C8; position: relative;">
                        Contact a specialist
                        <span style="position: absolute; right: -30px; top: -21%">
                            <i class="fas fa-arrow-right"></i>
                        </span>
                    </a>
                </div>
                <hr style="display:block; clear:both;border: 0;width: 100%; background-color:#ccc;height: 1px;">
                <div class="arrow-left" style="text-align: left; margin-bottom: 40px; margin-top: 24px;">
                    <a style="font-size: 16px; font-weight: bold; color: #17A2C8; position: relative; padding-left: 30px">
                        More customer stories
                        <span style="position: absolute; left: 0px; top: -21%">
                            <i class="fas fa-arrow-left"></i>
                        </span>
                    </a>
                </div>
            </div>
            
            
            
            
            
            <div class="footer">
                <div class="row footer-1">
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 col-12" >
                        <div class="logo" style="margin-top: 30px;">
                            <a><img style="width: 200px; height: auto;" th:src="@{/images/checkid_logo.png}" alt="logo"></a>
                        </div>
                        <p style="font-weight: 200; font-size: 18px; margin-top: 20px; margin-bottom: 30px">
                            Converting, scalable, easy-to-use, and secure NFC-based identity verification.
                        </p>
                        <a href="#"  
                            style="width: auto; font-weight: bold; color: #17A2C8;font-size: 16px; position: relative ">
                            Get in touch
                            <span style="position: absolute; right: -30px; top: -10%">
                                <i class="fas fa-arrow-right"></i>
                            </span>
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 col-6" >
                        <p style="font-weight: bold; font-size: 18px; margin-bottom: 30px; margin-top: 30px;">
                            Discover
                        </p>
                        <a class="link-footer" href="#"  
                            style="display: block;width: auto; font-weight: 300; color: #433c3c; font-size: 16px;margin-bottom: 10px ">
                            Why NFC?
                        </a>
                        <a class="link-footer" href="#"  
                            style="display: block;width: auto; font-weight: 300; color: #433c3c; font-size: 16px;margin-bottom: 10px ">
                            Using the CheckID App?
                        </a>
                        <a class="link-footer" href="#"  
                            style="display: block;width: auto; font-weight: 300; color: #433c3c; font-size: 16px;margin-bottom: 10px ">
                            Work at CheckID
                        </a>
                        <a class="link-footer" href="#"  
                            style="display: block;width: auto; font-weight: 300; color: #433c3c; font-size: 16px;margin-bottom: 10px ">
                            Partnerships
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 col-6" >
                        <p style="font-weight: bold; font-size: 18px; margin-bottom: 30px;margin-top: 30px;">
                            Service
                        </p>
                        <a class="link-footer" href="#"  
                            style="display: block;width: auto; font-weight: 300; color: #433c3c; font-size: 16px;margin-bottom: 10px ">
                            Contact a specialist
                        </a>
                        <a class="link-footer" href="#"  
                            style="display: block;width: auto; font-weight: 300; color: #433c3c; font-size: 16px;margin-bottom: 10px ">
                            Try free demo app
                        </a>
                        <a class="link-footer" href="#"  
                            style="display: block;width: auto; font-weight: 300; color: #433c3c; font-size: 16px;margin-bottom: 10px ">
                            Request business demo
                        </a>
                        <a class="link-footer" href="#"  
                            style="display: block;width: auto; font-weight: 300; color: #433c3c; font-size: 16px;margin-bottom: 10px ">
                            Downloads
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12" >
                        <p style="font-weight: bold; font-size: 18px; margin-bottom: 30px; margin-top: 30px;">
                            Stay informed on identity verification
                        </p>
                        <input style="display: block;;margin-bottom: 20px; padding: 10px 16px; width: 100%" type="text" 
                               placeholder="Email"/>
                        <a href="#"  type="button" class="btn" 
                            style="display: block; width: 40%; font-weight: bold; border: 2px solid #17A2C8; color: #fff;
                            background: #17A2C8; border-radius: 40px; font-size: 16px; padding: 12px 12px ">
                            Sign up
                        </a>
                    </div>
                </div>
                <div class="row footer-2">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-12" 
                         style="display:flex; justify-content: flex-start; align-items: center; margin-top: 20px;">
                        <div style="margin-right: 10px;">
                            <img style="width: 66px; height: auto;" th:src="@{/images/iso27001-readid.webp}" alt="logo">
                        </div>
                        <div >
                            <span style="font-weight: 200; font-size: 18px; margin-top: 20px; margin-bottom: 30px">
                                ISO/IEC 27001 certified
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-12" 
                         style="display:flex; justify-content: flex-start; align-items: center;margin-top: 20px;">
                        <div style="margin-right: 10px;">
                            <img style="width: 66px; height: auto;" th:src="@{/images/iso27701.webp}" alt="logo">
                        </div>
                        <div>
                            <span style="font-weight: 200; font-size: 18px; margin-top: 20px; margin-bottom: 30px">
                                ISO/IEC 27701 certified
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-12"
                         style="display:flex; justify-content: flex-start; align-items: center;margin-top: 20px;">
                        <div style="margin-right: 10px;">
                            <img style="width: 66px; height: 66px;" th:src="@{/images/tuv-certified-1.webp}" alt="logo">
                        </div>
                        <div>
                            <span style="font-weight: 200; font-size: 18px; margin-top: 20px; margin-bottom: 30px">
                                eIDAS module certification for QTSPs
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-12" 
                         style="display:flex; justify-content: flex-start; align-items: center;margin-top: 20px;">
                        <div style="margin-right: 10px;">
                            <img style="width: 66px; height: 66px;" th:src="@{/images/tuv-certified-1.webp}" alt="logo">
                        </div>
                        <div>
                            <span style="font-weight: 200; font-size: 18px; margin-top: 20px; margin-bottom: 30px">
                                eIDAS eID module certification High
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row footer-3">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 col-12">
                        <a href="#"  
                            style="width: auto; font-weight: bold; color: #17A2C8;font-size: 16px ">
                            All certifications
                        </a>
                    </div>
                </div>
                <hr style="display:block; clear:both;border: 0;width: 100%;background-color:#ccc;height: 1px;">
                <div class="row footer-4">
                    <div class="col-lg-6 col-md-6 col-sm-4 col-xs-4 col-4">
                        <a href="#"  
                           style="width: auto; font-weight: bold; color: #433c3c;font-size: 16px ">
                            All certifications
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-8 col-xs-8 col-8" style="text-align: right">
                        <a href="#"  
                           style="width: auto; font-weight: bold; color: #433c3c;font-size: 16px; margin-right: 20px ">
                            CheckID
                        </a>
                        <a href="#"  
                           style="width: auto; font-weight: bold; color: #433c3c;font-size: 16px; margin-right: 20px ">
                            Privacy
                        </a>
                        <a href="#"  
                           style="width: auto; font-weight: bold; color: #433c3c;font-size: 16px ">
                            Contact
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <th-block th:replace="fragments/footer_angularjs.html :: footer(TRUE)"/>
    </body>

</html>
