<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" ng-app="myApp">
    <head th:replace="fragments/head_angularjs.html :: head('CheckID')">
    </head>
    <body>
        <div class="page-wrapper">
            <div class="header" id="header-menu">
                <div class="top-menu">
                    <div class="top-menu-left">
                        <a>
                            <span>
                                <i style="margin-right: 5px" class="fas fa-info-circle"></i>
                                <strong>
                                    Why you should change from Optical to NFC-based identity verification
                                </strong>
                                <span class="arrow-move">
                                    Read more
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="top-menu-right">
                        <span>
                            <i>
                            </i>
                        </span>
                        <a style="position: relative; margin-right: 34px">
                            Using our App? Go here
                            <span style="position: absolute; right: -30px; top: -10%">
                                <i class="fas fa-arrow-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="bottom-menu">
                    <div class="logo">
                        <a><img style="width: 220px; height: auto;" th:src="@{/images/checkid_logo.png}" alt="logo"></a>
                    </div>
                    <div class="menu">
                        <input type="checkbox" id="toggleControl">
                        <label for="toggleControl" class="toggle-icon">
                            <span class="first"></span>
                            <span class="second"></span>
                            <span class="last"></span>
                        </label>
                        <div class="using-our-app-hidden">
                            <a style="position: relative; margin-right: 34px">
                                Using our App? Go here
                                <span style="position: absolute; right: -25px; top: -28%">
                                    <i class="fas fa-arrow-right"></i>
                                </span>
                            </a>
                        </div>
                        <ul class="menu-hidden">
                            <li class="drop">
                                <a href="#">Identity verification</a>
                                <ul class="dropdown">
                                    <li>
                                       
                                        <a style="color: #433c3c; font-weight: 700; font-size: 14px; margin: 0">
                                            <p><span style="background-color: #f4e9d4">Built with NFC technology</span></p>
                                        </a>
                                        
                                        <a class="dropdown-item" th:href="@{/trusted-identity-verification}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">
                                                Why NFC-based identity verification?
                                            </p>
                                            <p style="color: #736c6c; font-weight: 500; font-size: 16px;">
                                                Create trust in identity verification by leveraging identity documents, NFC technology and smartphones
                                            </p>
                                        </a>
                                        
                                        <hr>
                                        
                                        <a style="color: #433c3c; font-weight: 700; font-size: 14px; margin: 0">
                                            <p><span style="background-color: #f4e9d4">Solutions for</span></p>
                                        </a>
                                        
                                        <a class="dropdown-item" th:href="@{/remote-identity-verification}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Remote identity verification</p>
                                            <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Identity verification within your mobile services or through our ready-to-use app</p>
                                        </a>
                                        <a class="dropdown-item" th:href="@{/face-to-face-identity-verification}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Face-to-face identity verification</p>
                                            <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Guaranteed identity verification without knowledge of identity documents, anytime, anywhere</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="drop">
                                <a href="#">Customer</a>
                                <ul class="dropdown">
                                    <li>
                                        <a style="color: #433c3c; font-weight: 700; font-size: 14px; margin: 0">
                                            <p><span style="background-color: #f4e9d4">How we work together</span></p>
                                        </a>
                                        <a class="dropdown-item" th:href="@{/use-cases}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Customer stories</p>
                                            <p style="color: #736c6c; font-weight: 500; font-size: 16px;">How others are using CheckID to create trusted identity verification</p>
                                        </a>
                                        <a class="dropdown-item" th:href="@{/partnerships}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Partnerships</p>
                                            <p style="color: #736c6c; font-weight: 500; font-size: 16px;">We collaborate with partners in different industries and other technologies to create a perfect fit for you</p>
                                        </a>
                                        <hr>
                                        
                                        <a style="color: #433c3c; font-weight: 700; font-size: 14px; margin: 0">
                                            <p><span style="background-color: #f4e9d4">Highlighted use cases</span></p>
                                        </a>
                                        
                                        <a class="dropdown-item" th:href="@{/rabobank}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Customer onboarding at Rabobank</p>
                                        </a>
                                        <a class="dropdown-item" th:href="@{/uk-home-office-euss}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">The UK Home Office EU settlement scheme</p>
                                        </a>
                                        <a class="dropdown-item" th:href="@{/aegon}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Reverification at Aegon</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="drop">
                                <a href="#">Industries</a>
                                <ul class="dropdown">
                                    <li>
                                        <a style="color: #433c3c; font-weight: 700; font-size: 14px; margin: 0">
                                            <p><span style="background-color: #f4e9d4">Working for</span></p>
                                        </a>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/industries/financial-services}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Financial services</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Combining KYC, AML and great conversion</p>
                                                </a>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/industries/travel}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Travel</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Combining safety, security and a seamless traveller journey</p>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/industries/trust-service-providers}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Digital signing</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Scalable customer identification at the highest level</p>
                                                </a>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/industries/hiring}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Hiring</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Trusted and flawless employee identity verification check</p>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/industries/egovernment}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">eGovernment</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Creating the highest level of trust</p>
                                                </a>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/industries/gaming-gambling}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Gaming & Gambling</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Securely verifying players identity and improve sign-up rates</p>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/industries/police-border-control}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Police and Border control</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Trusted identity verification anytime, anywhere</p>
                                                </a>
                                            </div>
                                        </div>
                                        
                                    </li>
                                </ul>
                            </li>
                            <li class="drop">
                                <a href="#">Resources</a>
                                <ul class="dropdown">
                                    <li>
                                       
                                        <a style="color: #433c3c; font-weight: 700; font-size: 14px; margin: 0">
                                            <p><span style="background-color: #f4e9d4">Gain insights</span></p>
                                        </a>
                                        
                                        <a class="dropdown-item" th:href="@{/resources/blog}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Blog</p>
                                            <p style="color: #736c6c; font-weight: 500; font-size: 16px;">News, views and opinions from our team</p>
                                        </a>
                                        <a class="dropdown-item" th:href="@{/resources/papers-reports}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">White papers and Reports</p>
                                            <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Take a deep dive into our experience</p>
                                        </a>
                                        <a class="dropdown-item" th:href="@{/resources/webinars}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Webinars</p>
                                            <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Binge watch our webinar series</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="drop">
                                <a href="#">About us</a>
                                <ul class="dropdown">
                                    <li>
                                        <a style="color: #433c3c; font-weight: 700; font-size: 14px; margin: 0">
                                            <p><span style="background-color: #f4e9d4">Get to know us</span></p>
                                        </a>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/about/company}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Company</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">InnoValor, the company that created CheckID</p>
                                                </a>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/about/history}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">History</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Our innovation roots</p>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/about/certifications}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Certifications</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">A combination of certificates, unique to the industry</p>
                                                </a>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/partnerships}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Partnerships</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Strong together with partners in different verticals and technologies</p>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/about/awards}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Awards</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Recognition of our outstanding performance</p>
                                                </a>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/about/events}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Events</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Where to meet or see us?</p>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/about/careers}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Work at InnoValor</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Join our fast growing team</p>
                                                </a>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/about/contact}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Contact</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Visit us or reach out to us</p>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="button-contact-a-special" style="margin-left: 15px;">
                                <a href="#">
                                    Contact a specialist
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="wrapper wrapper-1">
                <div class="left-content">
                    <p style="letter-spacing: 3px;"><strong>MOBILE & NFC-BASED</strong></p>
                    <p style="font-weight: bold; font-size: 48px; line-height: 55px; padding-bottom: 15px">Trusted Identity Verification</p>
                    <p style="font-weight: 350;font-size: 18px; padding-bottom: 15px">Easy identity verification for everyone with a smartphone and an electronic identity document. Our CheckID technology is the most convenient, secure and scalable solution, exploiting the possibilities of NFC.</p>
                    <a href="#"  type="button" class="btn btn-contact-a-specialist" 
                        style="width: auto; font-weight: bold; border: 2px solid #fff; color: #17A2C8;
                        background: #fff;; border-radius: 40px; font-size: 16px ">
                        Contact a specialist
                    </a>
                    <a href="#"  type="button" class="btn btn-contact-a-specialist" 
                        style="width: auto; font-weight: bold; border: 2px solid #fff; color: #fff;
                        background: #17A2C8; border-radius: 40px; font-size: 16px ">
                        Try our demo app
                    </a>
                </div>
                <div class="right-content">
                    <img th:src="@{/images/readid-trusted-identity-verification-header-edited.png}" alt="logo">
                </div>
            </div>
            <div class="wrapper wrapper-2">
                <div class="left-content">
                    <img th:src="@{/images/ReadID_Thirdfort_identity-verification-1.png}" alt="logo">
                    <div class="m-quote-highlight__logo">
                        <img class="media_image-responsive" src="https://www.readid.com/hubfs/_system/icons/quote.svg" alt="Quote" loading="lazy">
                    </div>
                </div>
                <div class="right-content">
                    <p style="font-size: 24px; font-weight: 400; line-height: 40px; margin-bottom: 20px">Working with lawyers, agents and other regulated sectors, Thirdfort automates ID and anti-money laundering checks to let good people get on with their work and make life easier for their clients.</p>
                    <p style="font-size: 16px; font-weight: bold; margin: 0">Jack Bidgood</p>
                    <p style="font-size: 16px; font-weight: 400; margin-bottom: 20px">Co-founder & MD at Thirdfort</p>
                    <a style="font-size: 16px; font-weight: bold; color: #17A2C8; position: relative;">
                        Learn why Thirdfort uses CheckID
                        <span style="position: absolute; right: -30px; top: -25%">
                            <i class="fas fa-arrow-right"></i>
                        </span>
                    </a>
                </div>
            </div>
            <div class="wrapper wrapper-3">
                <p style="font-weight: bold; font-size: 40px; line-height: 50px; padding-bottom: 10px">You’ll be in good company</p>
                <p style="font-weight: 200; font-size: 18px; padding-bottom: 10px">
                    CheckID is used by leading banks, governmental organisations, digital signature services, and many others worldwide.
                </p>
                <div class="list-company">
                    <div class="list-company-item">
                        <span>
                            <img style="width: 112px; height: auto;" th:src="@{/images/sk-id-logo_Tekengebied 1.webp}" alt="logo">
                        </span>
                    </div>
                    <div class="list-company-item">
                        <span>
                            <img style="width: 112px; height: auto;" th:src="@{/images/agency-denmark-logo_Tekengebied 1.webp}" alt="logo">
                        </span>
                    </div>
                    <div class="list-company-item">
                        <span>
                            <img style="width: 112px; height: auto;" th:src="@{/images/ing-logo_Tekengebied 1.webp}" alt="logo">
                        </span>
                    </div>
                    <div class="list-company-item">
                        <span>
                            <img style="width: 112px; height: auto;" th:src="@{/images/itsme-logo_Tekengebied 1.webp}" alt="logo">
                        </span>
                    </div>
                    <div class="list-company-item">
                        <span>
                           <img style="width: 112px; height: auto;" th:src="@{/images/Rabobank-logo-readid-customer.webp}" alt="logo">
                        </span>
                    </div>
                    <div class="list-company-item">
                        <span>
                           <img style="width: 112px; height: auto;" th:src="@{/images/volksbank-logo_Tekengebied 1.webp}" alt="logo">
                        </span>
                    </div>
                    <div class="list-company-item">
                        <span>
                           <img style="width: 112px; height: auto;" th:src="@{/images/digicert_Tekengebied 1.webp}" alt="logo">
                        </span>
                    </div>
                    <div class="list-company-item">
                        <span>
                           <img style="width: 112px; height: auto;" th:src="@{/images/cbr-logo_Tekengebied 1.webp}" alt="logo">
                        </span>
                    </div>
                    <div class="list-company-item">
                        <span>
                           <img style="width: 112px; height: auto;" th:src="@{/images/nets-logo_Tekengebied 1.webp}" alt="logo">
                        </span>
                    </div>
                    <div class="list-company-item">
                        <span>
                           <img style="width: 112px; height: auto;" th:src="@{/images/signicat-logo_Tekengebied 1.webp}" alt="logo">
                        </span>
                    </div>
                    <div class="list-company-item">
                        <span>
                           <img style="width: 112px; height: auto;" th:src="@{/images/aegon-logo_Tekengebied 1.webp}" alt="logo">
                        </span>
                    </div>
                    <div class="list-company-item">
                        <span>
                           <img style="width: 112px; height: auto;" th:src="@{/images/gbg-logo_Tekengebied 1.webp}" alt="logo">
                        </span>
                    </div>
                    <div class="list-company-item">
                        <span>
                           <img style="width: 112px; height: auto;" th:src="@{/images/vodeno-logo_Tekengebied 1.webp}" alt="logo">
                        </span>
                    </div>
                    <div class="list-company-item">
                        <span>
                           <img style="width: 112px; height: auto;" th:src="@{/images/evidos-logo_Tekengebied 1.webp}" alt="logo">
                        </span>
                    </div>
                    <div class="list-company-item">
                        <span>
                           <img style="width: 112px; height: auto;" th:src="@{/images/amp-groep-logo_Tekengebied 1.webp}" alt="logo">
                        </span>
                    </div>
                    <div class="list-company-item">
                        <span>
                           <img style="width: 71px; height: auto;" th:src="@{/images/florius-logo_Tekengebied 1.webp}" alt="logo">
                        </span>
                    </div>
                    <div class="list-company-item">
                        <span>
                           <img style="width: 112px; height: auto;" th:src="@{/images/digidentity-logo_Tekengebied 1.webp}" alt="logo">
                        </span>
                    </div>
                    <div class="list-company-item">
                        <span>
                           <img style="width: 112px; height: auto;" th:src="@{/images/worldreach-logo_Tekengebied 1.webp}" alt="logo">
                        </span>
                    </div>
                    <div class="list-company-item">
                        <span>
                           <img style="width: 121px; height: auto;" th:src="@{/images/ASB_Bank_logo.webp}" alt="logo">
                        </span>
                    </div>
                    <div class="list-company-item">
                        <span>
                           <img style="width: 112px; height: auto;" th:src="@{/images/gov_Tekengebied 1_Tekengebied 1.webp}" alt="logo">
                        </span>
                    </div>
                    <div class="list-company-item">
                        <span>
                           <img style="width: 112px; height: auto;" th:src="@{/images/thirdfort-logo-readid_Tekengebied 1.webp}" alt="logo">
                        </span>
                    </div>
                    <div class="list-company-item">
                        <span>
                           <img style="width: 112px; height: auto;" th:src="@{/images/id-now-logo_Tekengebied 1.webp}" alt="logo">
                        </span>
                    </div>
                    <div class="list-company-item">
                        <span>
                           <img style="width: 92px; height: auto;" th:src="@{/images/aion.svg}" alt="logo">
                        </span>
                    </div>
                </div>
                <div>
                    <a style="font-size: 16px; font-weight: bold; color: #17A2C8; position: relative;">
                        Read their story
                        <span style="position: absolute; right: -30px; top: -25%">
                            <i class="fas fa-arrow-right"></i>
                        </span>
                    </a>
                </div>
            </div>
            <div class="wrapper wrapper-4">
                <div class="embedVideo">
                    <iframe style="display: block" width="945" height="551.91" src="https://www.youtube.com/embed/UesGqiCEp7Y"
                            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>      
                    </iframe>
                </div>
                <div class="ptag" style="width: 945px;margin: 0 auto; position: relative">
                    <p style="font-weight: 200; font-size: 18px; float: right; border-right: 3px solid #17A2C8; padding-right: 20px; margin: 10px 0">
                        CheckID Identity Verification in 2 steps
                    </p>
                </div>
            </div>
            <div class="hrtag" style="width: 40vw;margin: 0 auto;">
                <hr style="display:block; clear:both;border: 0;width: 100%;background-color:#ccc;height: 1px;">
            </div>
            <div class="wrapper wrapper-5">
                <p style="font-weight: bold; font-size: 40px; line-height: 50px; padding-bottom: 10px">Experience the features of CheckID</p>
                <div>
                    <a style="font-size: 16px; font-weight: bold; color: #17A2C8; position: relative;">
                        Try CheckID Demo app
                        <span style="position: absolute; right: -30px; top: -25%">
                            <i class="fas fa-arrow-right"></i>
                        </span>
                    </a>
                </div>
            </div>
            <div class="hrtag" style="width: 40vw;margin: 0 auto;">
                <hr style="display:block; clear:both;border: 0;width: 100%;background-color:#ccc;height: 1px;">
            </div>
            <div class="wrapper wrapper-6">
                <p style="letter-spacing: 3px; color: #17A2C8"><strong>WHY CHECKID</strong></p>
                <p style="font-weight: bold; font-size: 40px; line-height: 50px; padding: 0 0 10px">
                    To us, trusted identity verification goes beyond security
                </p>
                <a href="#"  type="button" class="btn" 
                    style="width: auto; font-weight: bold; border: 2px solid #17A2C8; color: #fff;
                    background: #17A2C8; padding: 12px 35px; border-radius: 40px; font-size: 16px ">
                    Learn why
                </a>
            </div>
            <div class="wrapper wrapper-7">
                <div class="row">
                    <div class="left-content col-lg-6 col-md-6 col-sm-12 col-xs-12 col-12">
                        <a class="benefit benefit--link" href="#">
                            <div class="benefit-info">
                                <h5 style="font-size: 20px; font-weight: 700">Conversion<h5>
                                <p style="font-size: 18px; font-weight: 200">Ready for digital natives, easy to use for everyone, instant verification</p>
                            </div>
                            <span style="font-size: 22px;font-weight: 700; color: #17A2C8;position: absolute; right: 8%; top: 42%">
                                <i class="fas fa-arrow-right"></i>
                            </span>
                        </a>
                        <a class="benefit benefit--link" href="#">
                            <div class="benefit-info">
                                <h5 style="font-size: 20px; font-weight: 700">Scalability<h5>
                                <p style="font-size: 18px; font-weight: 200">From a handful identity verifications to hundreds of thousands. Per day.</p>
                            </div>
                            <span style="font-size: 22px;font-weight: 700; color: #17A2C8;position: absolute; right: 8%; top: 42%">
                                <i class="fas fa-arrow-right"></i>
                            </span>
                        </a>
                        
                        <a class="benefit benefit--link" href="#">
                            <div class="benefit-info">
                                <h5 style="font-size: 20px; font-weight: 700">Ease of use<h5>
                                <p style="font-size: 18px; font-weight: 200">CheckID is quick and easy to use, and brings straight-through-processing</p>
                            </div>
                            <span style="font-size: 22px;font-weight: 700; color: #17A2C8;position: absolute; right: 8%; top: 42%">
                                <i class="fas fa-arrow-right"></i>
                            </span>
                        </a>
                        <a class="benefit benefit--link" href="#">
                            <div class="benefit-info">
                                <h5 style="font-size: 20px; font-weight: 700">Secure<h5>
                                <p style="font-size: 18px; font-weight: 200">NFC-based identity verification is very secure - more secure than any optical solution</p>
                            </div>
                            <span style="font-size: 22px;font-weight: 700; color: #17A2C8;position: absolute; right: 8%; top: 42%">
                                <i class="fas fa-arrow-right"></i>
                            </span>
                        </a>
                        <a class="benefit benefit--link" href="#">
                            <div class="benefit-info">
                                <h5 style="font-size: 20px; font-weight: 700">Simple implementation<h5>
                                <p style="font-size: 18px; font-weight: 200">Up and running within weeks, integrated in your app or using our app-in-a-box</p>
                            </div>
                            <span style="font-size: 22px;font-weight: 700; color: #17A2C8;position: absolute; right: 8%; top: 42%">
                                <i class="fas fa-arrow-right"></i>
                            </span>
                        </a>
                    </div>
                    <div class="right-content col-lg-6 col-md-6 col-sm-12 col-xs-12 col-12">
                        <img style="" th:src="@{/images/Conversion-readid-visual_Tekengebied 1-08-edited.png}" alt="logo">
                    </div>
                </div>
            </div>
            <div class="wrapper wrapper-8">
                <p style="letter-spacing: 3px; color: #17A2C8"><strong>IDENTITY VERIFICATION SOLUTIONS</strong></p>
                <p style="font-weight: bold; font-size: 40px; line-height: 50px; padding: 0 0 10px">
                    Accelerate towards a trusted and scalable way of NFC-based identity verification
                </p>
                <p style="font-weight: 200; font-size: 18px; margin: 0;">Our CheckID technology can be used remotely as well as in face-to-face settings.</p>
                <p style="font-weight: 200; font-size: 18px;">What is your use case?</p>
                
                <div class="box-of-two-card">
                    <div class="left-content col-lg-6 col-md-6 col-sm-8 col-xs-12 col-12">
                        <div class="row">
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 col-9">
                                <p style="font-weight: 700; font-size: 18px; color: #fff">
                                    Instant and secure online self-service identity verification from the comfort of people’s homes.
                                </p>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-3">
                                <img style="width: 100; height: auto;" th:src="@{/images/remote-icon-readid_Tekengebied 1.webp}" alt="logo">
                            </div>
                        </div>
                        <div class="row" style="position: absolute; bottom: 45px; left: 45px; width: 90%">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
                                <a href="#"  type="button" class="btn" 
                                    style="width: 100%; font-weight: bold; border: 2px solid #fff; color: #fff;
                                    background: #17A2C8; padding: 12px 35px; border-radius: 40px; font-size: 16px; position: relative; ">
                                    Remote identity verification
                                    <span style="position: absolute; right: 15%; top: 25%">
                                        <i class="fas fa-arrow-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="right-content col-lg-6 col-md-6 col-sm-8 col-xs-12 col-12">
                        <div class="row">
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 col-9">
                                <p style="font-weight: 700; font-size: 18px; color: #fff">
                                    Face-to-face, with trusted devices, you can verify identity documents without any knowledge of security features.
                                </p>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-3">
                                <img style="width: 100; height: auto;" th:src="@{/images/icon-face-to-face-solution-readid-white.webp}" alt="logo">
                            </div>
                        </div>
                        <div class="row" style="position: absolute; bottom: 45px; left: 45px; width: 90%">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
                                <a href="#"  type="button" class="btn" 
                                    style="width: 100%; font-weight: bold; border: 2px solid #fff; color: #fff;
                                    background: #17A2C8; padding: 12px 35px; border-radius: 40px; font-size: 16px ">
                                    Face-to-face identity verification
                                    <span style="position: absolute; right: 14%; top: 26%">
                                        <i class="fas fa-arrow-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrapper wrapper-9">
                <div class="box-of-three-card">
                    <div class="card-left col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12">
                        <p style="font-weight: bold; font-size: 40px; line-height: 50px; padding: 0">
                            Leading through innovation
                        </p>
                        <p style="font-weight: 200; font-size: 18px; margin-top: 20px; margin-bottom: 30px;">
                            We build upon research and innovation at InnoValor. Learn more on the features of our identity verification technology through our resource centre. 
                        </p>
                        <a style="margin-top: 30px;font-weight: 600; font-size: 16px; position: relative" href="#">Go to our resource centre
                            <span style="position: absolute; right: -13%; top: -15%">
                                <i class="fas fa-arrow-right"></i>
                            </span>
                        </a>
                    </div>
                    <div class="card card-center col-lg-4 col-md-4 col-sm-8 col-xs-9 col-9" >
                        <a href="#">
                            <img style="height: 40%;width: 100%; border-radius: 30px 30px 0 0;" class="card-img-top" th:src="@{/images/Featured-image-website-blog_Tekengebied 1.png}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Austrian Financial Market Authority requires NFC and biometrics</h5>
                                <p class="card-text">Regulatory bodies worldwide are embracing NFC as the future for identity verification. November 2,...</p>
                            </div>
                        </a>
                    </div>
                    <div class="card card-right col-lg-4 col-md-4 col-sm-8 col-xs-9 col-9" >
                        <a href="#">
                            <img style="height: 40%;width: 100%;border-radius: 30px 30px 0 0;" class="card-img-top" th:src="@{/images/banner_readid_phone-app-InnoValor.png}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Gartner identifies document centric identity proofing as a high priority</h5>
                                <p class="card-text">July 27, Gartner published its annual update on identity and access management, the so-called Hype...</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            
            <div class="wrapper wrapper-10">
                <div class="box-of-one-card row">
                    <div class="left-content col-lg-6 col-md-6 col-sm-6 col-xs-12 col-12">
                        <img th:src="@{/images/office-readid-justin-markslag.webp}" alt="logo">
                    </div>
                    <div class="right-content col-lg-6 col-md-6 col-sm-6 col-xs-12 col-12">
                        <p style="font-weight: bold; font-size: 40px; line-height: 50px; padding: 0">
                            Let’s talk about your challenge.
                        </p>
                        <p style="font-weight: 200; font-size: 18px; margin-top: 20px; margin-bottom: 30px">
                            CheckID facilitates successful digital onboarding through remote identity verification. How can trusted identity verification support your business?
                        </p>
                        <a href="#"  type="button" class="btn btn-contact-a-specialist" 
                            style="width: auto; font-weight: bold; border: 2px solid #fff; color: #17A2C8;
                            background: #fff;; border-radius: 40px; font-size: 16px ">
                            Contact a specialist
                        </a>
                        <a href="#"  
                            style="width: auto; font-weight: bold; color: #fff;font-size: 16px ">
                            Try our demo app
                        </a>
                    </div>
                </div>
            </div>
            
            <div class="footer">
                <div class="row footer-1">
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 col-12" >
                        <div class="logo" style="margin-top: 30px;">
                            <a><img style="width: 200px; height: auto;" th:src="@{/images/checkid_logo.png}" alt="logo"></a>
                        </div>
                        <p style="font-weight: 200; font-size: 18px; margin-top: 20px; margin-bottom: 30px">
                            Converting, scalable, easy-to-use, and secure NFC-based identity verification.
                        </p>
                        <a href="#"  
                            style="width: auto; font-weight: bold; color: #17A2C8;font-size: 16px; position: relative ">
                            Get in touch
                            <span style="position: absolute; right: -30px; top: -10%">
                                <i class="fas fa-arrow-right"></i>
                            </span>
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 col-6" >
                        <p style="font-weight: bold; font-size: 18px; margin-bottom: 30px; margin-top: 30px;">
                            Discover
                        </p>
                        <a class="link-footer" href="#"  
                            style="display: block;width: auto; font-weight: 300; color: #433c3c; font-size: 16px;margin-bottom: 10px ">
                            Why NFC?
                        </a>
                        <a class="link-footer" href="#"  
                            style="display: block;width: auto; font-weight: 300; color: #433c3c; font-size: 16px;margin-bottom: 10px ">
                            Using the CheckID App?
                        </a>
                        <a class="link-footer" href="#"  
                            style="display: block;width: auto; font-weight: 300; color: #433c3c; font-size: 16px;margin-bottom: 10px ">
                            Work at CheckID
                        </a>
                        <a class="link-footer" href="#"  
                            style="display: block;width: auto; font-weight: 300; color: #433c3c; font-size: 16px;margin-bottom: 10px ">
                            Partnerships
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 col-6" >
                        <p style="font-weight: bold; font-size: 18px; margin-bottom: 30px;margin-top: 30px;">
                            Service
                        </p>
                        <a class="link-footer" href="#"  
                            style="display: block;width: auto; font-weight: 300; color: #433c3c; font-size: 16px;margin-bottom: 10px ">
                            Contact a specialist
                        </a>
                        <a class="link-footer" href="#"  
                            style="display: block;width: auto; font-weight: 300; color: #433c3c; font-size: 16px;margin-bottom: 10px ">
                            Try free demo app
                        </a>
                        <a class="link-footer" href="#"  
                            style="display: block;width: auto; font-weight: 300; color: #433c3c; font-size: 16px;margin-bottom: 10px ">
                            Request business demo
                        </a>
                        <a class="link-footer" href="#"  
                            style="display: block;width: auto; font-weight: 300; color: #433c3c; font-size: 16px;margin-bottom: 10px ">
                            Downloads
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12" >
                        <p style="font-weight: bold; font-size: 18px; margin-bottom: 30px; margin-top: 30px;">
                            Stay informed on identity verification
                        </p>
                        <input style="display: block;;margin-bottom: 20px; padding: 10px 16px; width: 100%" type="text" 
                               placeholder="Email"/>
                        <a href="#"  type="button" class="btn" 
                            style="display: block; width: 40%; font-weight: bold; border: 2px solid #17A2C8; color: #fff;
                            background: #17A2C8; border-radius: 40px; font-size: 16px; padding: 12px 12px ">
                            Sign up
                        </a>
                    </div>
                </div>
                <div class="row footer-2">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-12" 
                         style="display:flex; justify-content: flex-start; align-items: center; margin-top: 20px;">
                        <div style="margin-right: 10px;">
                            <img style="width: 66px; height: auto;" th:src="@{/images/iso27001-readid.webp}" alt="logo">
                        </div>
                        <div >
                            <span style="font-weight: 200; font-size: 18px; margin-top: 20px; margin-bottom: 30px">
                                ISO/IEC 27001 certified
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-12" 
                         style="display:flex; justify-content: flex-start; align-items: center;margin-top: 20px;">
                        <div style="margin-right: 10px;">
                            <img style="width: 66px; height: auto;" th:src="@{/images/iso27701.webp}" alt="logo">
                        </div>
                        <div>
                            <span style="font-weight: 200; font-size: 18px; margin-top: 20px; margin-bottom: 30px">
                                ISO/IEC 27701 certified
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-12"
                         style="display:flex; justify-content: flex-start; align-items: center;margin-top: 20px;">
                        <div style="margin-right: 10px;">
                            <img style="width: 66px; height: 66px;" th:src="@{/images/tuv-certified-1.webp}" alt="logo">
                        </div>
                        <div>
                            <span style="font-weight: 200; font-size: 18px; margin-top: 20px; margin-bottom: 30px">
                                eIDAS module certification for QTSPs
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-12" 
                         style="display:flex; justify-content: flex-start; align-items: center;margin-top: 20px;">
                        <div style="margin-right: 10px;">
                            <img style="width: 66px; height: 66px;" th:src="@{/images/tuv-certified-1.webp}" alt="logo">
                        </div>
                        <div>
                            <span style="font-weight: 200; font-size: 18px; margin-top: 20px; margin-bottom: 30px">
                                eIDAS eID module certification High
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row footer-3">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 col-12">
                        <a href="#"  
                            style="width: auto; font-weight: bold; color: #17A2C8;font-size: 16px ">
                            All certifications
                        </a>
                    </div>
                </div>
                <hr style="display:block; clear:both;border: 0;width: 100%;background-color:#ccc;height: 1px;">
                <div class="row footer-4">
                    <div class="col-lg-6 col-md-6 col-sm-4 col-xs-4 col-4">
                        <a href="#"  
                           style="width: auto; font-weight: bold; color: #433c3c;font-size: 16px ">
                            All certifications
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-8 col-xs-8 col-8" style="text-align: right">
                        <a href="#"  
                           style="width: auto; font-weight: bold; color: #433c3c;font-size: 16px; margin-right: 20px ">
                            CheckID
                        </a>
                        <a href="#"  
                           style="width: auto; font-weight: bold; color: #433c3c;font-size: 16px; margin-right: 20px ">
                            Privacy
                        </a>
                        <a href="#"  
                           style="width: auto; font-weight: bold; color: #433c3c;font-size: 16px ">
                            Contact
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <th-block th:replace="fragments/footer_angularjs.html :: footer(TRUE)"/>
    </body>

</html>