<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" ng-app="myApp" ng-controller="" >
    <head>
        <title>Customer overview</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' ></meta>
        <meta name="desc" content=""></meta>
        <link rel="shortcut icon" th:href="@{/images/iconsim.png}">
        
        <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/use-cases.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/use-cases-reponsive.css}">
        
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">  

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        
        
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">
    </head>
    <body>
        <div class="page-wrapper">
            <div class="header" id="header-menu">
                <div class="top-menu">
                    <div class="top-menu-left">
                        <a>
                            <span>
                                <i style="margin-right: 5px" class="fas fa-info-circle"></i>
                                <strong>
                                    Why you should change from Optical to NFC-based identity verification
                                </strong>
                                <span class="arrow-move">
                                    Read more
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="top-menu-right">
                        <span>
                            <i>
                            </i>
                        </span>
                        <a style="position: relative; margin-right: 34px">
                            Using our App? Go here
                            <span style="position: absolute; right: -30px; top: -10%">
                                <i class="fas fa-arrow-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="bottom-menu">
                    <div class="logo">
                        <a th:href="@{/}"><img style="width: 220px; height: auto;" th:src="@{/images/checkid_logo.png}" alt="logo"></a>
                    </div>
                    <div class="menu">
                        <input type="checkbox" id="toggleControl">
                        <label for="toggleControl" class="toggle-icon">
                            <span class="first"></span>
                            <span class="second"></span>
                            <span class="last"></span>
                        </label>
                        <ul class="menu-hidden">
                            <li class="drop">
                                <a href="#">Identity verification</a>
                                <ul class="dropdown">
                                    <li>
                                       
                                        <a style="color: #433c3c; font-weight: 700; font-size: 14px; margin: 0">
                                            <p><span style="background-color: #f4e9d4">Built with NFC technology</span></p>
                                        </a>
                                        
                                        <a class="dropdown-item" th:href="@{/trusted-identity-verification}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">
                                                Why NFC-based identity verification?
                                            </p>
                                            <p style="color: #736c6c; font-weight: 500; font-size: 16px;">
                                                Create trust in identity verification by leveraging identity documents, NFC technology and smartphones
                                            </p>
                                        </a>
                                        
                                        <hr>
                                        
                                        <a style="color: #433c3c; font-weight: 700; font-size: 14px; margin: 0">
                                            <p><span style="background-color: #f4e9d4">Solutions for</span></p>
                                        </a>
                                        
                                        <a class="dropdown-item" th:href="@{/remote-identity-verification}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Remote identity verification</p>
                                            <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Identity verification within your mobile services or through our ready-to-use app</p>
                                        </a>
                                        <a class="dropdown-item" th:href="@{/face-to-face-identity-verification}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Face-to-face identity verification</p>
                                            <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Guaranteed identity verification without knowledge of identity documents, anytime, anywhere</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="drop">
                                <a href="#">Customer</a>
                                <ul class="dropdown">
                                    <li>
                                        <a style="color: #433c3c; font-weight: 700; font-size: 14px; margin: 0">
                                            <p><span style="background-color: #f4e9d4">How we work together</span></p>
                                        </a>
                                        <a class="dropdown-item" th:href="@{/use-cases}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Customer stories</p>
                                            <p style="color: #736c6c; font-weight: 500; font-size: 16px;">How others are using CheckID to create trusted identity verification</p>
                                        </a>
                                        <a class="dropdown-item" th:href="@{/partnerships}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Partnerships</p>
                                            <p style="color: #736c6c; font-weight: 500; font-size: 16px;">We collaborate with partners in different industries and other technologies to create a perfect fit for you</p>
                                        </a>
                                        <hr>
                                        
                                        <a style="color: #433c3c; font-weight: 700; font-size: 14px; margin: 0">
                                            <p><span style="background-color: #f4e9d4">Highlighted use cases</span></p>
                                        </a>
                                        
                                        <a class="dropdown-item" th:href="@{/rabobank}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Customer onboarding at Rabobank</p>
                                        </a>
                                        <a class="dropdown-item" th:href="@{/uk-home-office-euss}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">The UK Home Office EU settlement scheme</p>
                                        </a>
                                        <a class="dropdown-item" th:href="@{/aegon}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Reverification at Aegon</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="drop">
                                <a href="#">Industries</a>
                                <ul class="dropdown">
                                    <li>
                                        <a style="color: #433c3c; font-weight: 700; font-size: 14px; margin: 0">
                                            <p><span style="background-color: #f4e9d4">Working for</span></p>
                                        </a>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/industries/financial-services}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Financial services</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Combining KYC, AML and great conversion</p>
                                                </a>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/industries/travel}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Travel</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Combining safety, security and a seamless traveller journey</p>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/industries/trust-service-providers}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Digital signing</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Scalable customer identification at the highest level</p>
                                                </a>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/industries/hiring}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Hiring</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Trusted and flawless employee identity verification check</p>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/industries/egovernment}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">eGovernment</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Creating the highest level of trust</p>
                                                </a>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/industries/gaming-gambling}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Gaming & Gambling</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Securely verifying players identity and improve sign-up rates</p>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/industries/police-border-control}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Police and Border control</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Trusted identity verification anytime, anywhere</p>
                                                </a>
                                            </div>
                                        </div>
                                        
                                    </li>
                                </ul>
                            </li>
                            <li class="drop">
                                <a href="#">Resources</a>
                                <ul class="dropdown">
                                    <li>
                                       
                                        <a style="color: #433c3c; font-weight: 700; font-size: 14px; margin: 0">
                                            <p><span style="background-color: #f4e9d4">Gain insights</span></p>
                                        </a>
                                        
                                        <a class="dropdown-item" th:href="@{/resources/blog}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Blog</p>
                                            <p style="color: #736c6c; font-weight: 500; font-size: 16px;">News, views and opinions from our team</p>
                                        </a>
                                        <a class="dropdown-item" th:href="@{/resources/papers-reports}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">White papers and Reports</p>
                                            <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Take a deep dive into our experience</p>
                                        </a>
                                        <a class="dropdown-item" th:href="@{/resources/webinars}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Webinars</p>
                                            <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Binge watch our webinar series</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="drop">
                                <a href="#">About us</a>
                                <ul class="dropdown">
                                    <li>
                                        <a style="color: #433c3c; font-weight: 700; font-size: 14px; margin: 0">
                                            <p><span style="background-color: #f4e9d4">Get to know us</span></p>
                                        </a>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/about/company}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Company</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">InnoValor, the company that created CheckID</p>
                                                </a>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/about/history}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">History</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Our innovation roots</p>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/about/certifications}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Certifications</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">A combination of certificates, unique to the industry</p>
                                                </a>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/partnerships}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Partnerships</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Strong together with partners in different verticals and technologies</p>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/about/awards}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Awards</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Recognition of our outstanding performance</p>
                                                </a>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/about/events}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Events</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Where to meet or see us?</p>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/about/careers}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Work at InnoValor</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Join our fast growing team</p>
                                                </a>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/about/contact}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Contact</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Visit us or reach out to us</p>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="button-contact-a-special" style="margin-left: 15px;">
                                <a href="#">
                                    Contact a specialist
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="wrapper wrapper-1">
                <p style="letter-spacing: 3px; color: #17A2C8"><strong>Customer stories</strong></p>
                <p style="font-weight: bold; font-size: 40px; line-height: 50px; padding: 0 0 10px">
                    Stories from the people we’ve worked with
                </p>
                <p style="font-weight: 200; font-size: 18px; margin: 0;">
                    Discover how ReadID ensures the most trusted mobile identity document authenticity across industries, and impacts the world of identity verification. Below are our success stories.
                </p>
            </div>
            <div class="wrapper wrapper-2">
                <div class="left-content">
                    <img th:src="@{/images/ASB_ID-App_readid.png}" alt="logo">
                    <div class="m-quote-highlight__logo">
                        <img class="media_image-responsive" src="https://www.readid.com/hubfs/_system/icons/quote.svg" alt="Quote" loading="lazy">
                    </div>
                </div>
                <div class="right-content">
                    <p style="font-size: 24px; font-weight: 400; line-height: 40px; margin-bottom: 20px">
                        “It just wasn't a seamless user experience with OCR, leading to poor conversion. With NFC we created a high quality customer journey and the number of customers who no longer need to visit a branch has increased fivefold"
                    </p>
                    <p style="font-size: 16px; font-weight: bold; margin: 0">Andrea McKain</p>
                    <p style="font-size: 16px; font-weight: 400; margin-bottom: 20px">ASB Bank</p>
                    <a style="font-size: 16px; font-weight: bold; color: #17A2C8; position: relative;">
                        Read the full story
                        <span style="position: absolute; right: -30px; top: -25%">
                            <i class="fas fa-arrow-right"></i>
                        </span>
                    </a>
                </div>
            </div>
            <div class="wrapper wrapper-3">
                <p style="font-weight: bold; font-size: 40px; line-height: 50px; padding-bottom: 10px">You’ll be in good company</p>
                <p style="font-weight: 200; font-size: 18px; padding-bottom: 10px">
                    We’ve worked with many organisations, big and small
                </p>
                <div class="list-company">
                    <div class="list-company-item">
                        <span>
                            <img style="width: 112px; height: auto;" th:src="@{/images/sk-id-logo_Tekengebied 1.webp}" alt="logo">
                        </span>
                    </div>
                    <div class="list-company-item">
                        <span>
                            <img style="width: 112px; height: auto;" th:src="@{/images/agency-denmark-logo_Tekengebied 1.webp}" alt="logo">
                        </span>
                    </div>
                    <div class="list-company-item">
                        <span>
                            <img style="width: 112px; height: auto;" th:src="@{/images/ing-logo_Tekengebied 1.webp}" alt="logo">
                        </span>
                    </div>
                    <div class="list-company-item">
                        <span>
                            <img style="width: 112px; height: auto;" th:src="@{/images/itsme-logo_Tekengebied 1.webp}" alt="logo">
                        </span>
                    </div>
                    <div class="list-company-item">
                        <span>
                           <img style="width: 112px; height: auto;" th:src="@{/images/Rabobank-logo-readid-customer.webp}" alt="logo">
                        </span>
                    </div>
                    <div class="list-company-item">
                        <span>
                           <img style="width: 112px; height: auto;" th:src="@{/images/volksbank-logo_Tekengebied 1.webp}" alt="logo">
                        </span>
                    </div>
                    <div class="list-company-item">
                        <span>
                           <img style="width: 112px; height: auto;" th:src="@{/images/digicert_Tekengebied 1.webp}" alt="logo">
                        </span>
                    </div>
                    <div class="list-company-item">
                        <span>
                           <img style="width: 112px; height: auto;" th:src="@{/images/cbr-logo_Tekengebied 1.webp}" alt="logo">
                        </span>
                    </div>
                    <div class="list-company-item">
                        <span>
                           <img style="width: 112px; height: auto;" th:src="@{/images/nets-logo_Tekengebied 1.webp}" alt="logo">
                        </span>
                    </div>
                    <div class="list-company-item">
                        <span>
                           <img style="width: 112px; height: auto;" th:src="@{/images/signicat-logo_Tekengebied 1.webp}" alt="logo">
                        </span>
                    </div>
                    <div class="list-company-item">
                        <span>
                           <img style="width: 112px; height: auto;" th:src="@{/images/aegon-logo_Tekengebied 1.webp}" alt="logo">
                        </span>
                    </div>
                    <div class="list-company-item">
                        <span>
                           <img style="width: 112px; height: auto;" th:src="@{/images/gbg-logo_Tekengebied 1.webp}" alt="logo">
                        </span>
                    </div>
                    
                </div>
            </div>
            
            <div class="wrapper wrapper-4">
                <div class="left-content">
                    <p style="font-size: 24px; font-weight: 400; line-height: 40px; margin-bottom: 20px">
                        “We have grown the online channel for onboarding new customers from 35% to 60% and the feedback we receive from app users includes comments such as "Is fantastic", "Fast" and "Clear.”
                    </p>
                    <p style="font-size: 16px; font-weight: bold; margin: 0">Evelien Mooij</p>
                    <p style="font-size: 16px; font-weight: 400; margin-bottom: 20px">Rabobank</p>
                    <a style="font-size: 16px; font-weight: bold; color: #17A2C8; position: relative;">
                        Read the full story
                        <span style="position: absolute; right: -30px; top: -25%">
                            <i class="fas fa-arrow-right"></i>
                        </span>
                    </a>
                </div>
                <div class="right-content">
                    <img th:src="@{/images/rabo-online-identificeren.webp}" alt="logo">
                    <div class="m-quote-highlight__logo">
                        <img class="media_image-responsive" src="https://www.readid.com/hubfs/_system/icons/quote.svg" alt="Quote" loading="lazy">
                    </div>
                </div>
            </div>
            
            
            <div class="wrapper wrapper-5">
               <div class="left-content">
                    <img th:src="@{/images/readid-cbr-examen.webp}" alt="logo">
                    <div class="m-quote-highlight__logo">
                        <img class="media_image-responsive" src="https://www.readid.com/hubfs/_system/icons/quote.svg" alt="Quote" loading="lazy">
                    </div>
                </div>
                <div class="right-content">
                    <p style="font-size: 24px; font-weight: 400; line-height: 40px; margin-bottom: 20px">
                        “CBR employees have identified a few cases where look-a-likes tried to fool them. The ReadID app confirmed the employees' doubts.”
                    </p>
                    <p style="font-size: 16px; font-weight: bold; margin: 0">Tjitse van den Bos</p>
                    <p style="font-size: 16px; font-weight: 400; margin-bottom: 20px">CBR</p>
                    <a style="font-size: 16px; font-weight: bold; color: #17A2C8; position: relative;">
                        Read the full story
                        <span style="position: absolute; right: -30px; top: -25%">
                            <i class="fas fa-arrow-right"></i>
                        </span>
                    </a>
                </div>
            </div>
            
            <div class="wrapper wrapper-6">
                <div class="left-content">
                    <p style="font-size: 24px; font-weight: 400; line-height: 40px; margin-bottom: 20px">
                        More than 6 million applications have successfully concluded and a high percentage completed their application in under 10 minutes, with a high level of identity assurance.
                    </p>
                    <p style="font-size: 16px; font-weight: bold; margin: 0">Statistics EUSS July 2021</p>
                    <p style="font-size: 16px; font-weight: 400; margin-bottom: 20px">UK Home Office</p>
                    <a style="font-size: 16px; font-weight: bold; color: #17A2C8; position: relative;">
                        Read the full story
                        <span style="position: absolute; right: -30px; top: -25%">
                            <i class="fas fa-arrow-right"></i>
                        </span>
                    </a>
                </div>
                <div class="right-content">
                    <img th:src="@{/images/readid_homeoffice-numbers.webp}" alt="logo">
                    <div class="m-quote-highlight__logo">
                        <img class="media_image-responsive" src="https://www.readid.com/hubfs/_system/icons/quote.svg" alt="Quote" loading="lazy">
                    </div>
                </div>
            </div>
            
            
            <div class="wrapper wrapper-7">
               <div class="left-content">
                    <img th:src="@{/images/smart-id_sk-solutions-readid-case.webp}" alt="logo">
                    <div class="m-quote-highlight__logo">
                        <img class="media_image-responsive" src="https://www.readid.com/hubfs/_system/icons/quote.svg" alt="Quote" loading="lazy">
                    </div>
                </div>
                <div class="right-content">
                    <p style="font-size: 24px; font-weight: 400; line-height: 40px; margin-bottom: 20px">
                        “If you want to be sure that the identity document is real and is in use right now then I see no real alternative to NFC and biometrics”
                    </p>
                    <p style="font-size: 16px; font-weight: bold; margin: 0">Kalev Pihl</p>
                    <p style="font-size: 16px; font-weight: 400; margin-bottom: 20px">SK ID Solutions</p>
                    <a style="font-size: 16px; font-weight: bold; color: #17A2C8; position: relative;">
                        Read the full story
                        <span style="position: absolute; right: -30px; top: -25%">
                            <i class="fas fa-arrow-right"></i>
                        </span>
                    </a>
                </div>
            </div>
            
            <div class="wrapper wrapper-8">
                <div class="box-of-one-card row">
                    <div class="left-content col-lg-6 col-md-6 col-sm-6 col-xs-12 col-12">
                        <p style="font-weight: bold; font-size: 40px; line-height: 50px;">
                            Never stop learning.We like to make an effort to deliver all the insights to you.
                        </p>
                    </div>
                    <div class="right-content col-lg-6 col-md-6 col-sm-6 col-xs-12 col-12">
                        <p style="font-weight: bold; font-size: 24px; line-height: 30px; padding: 0">
                            Receive updates per email
                        </p>
                        <p style="font-weight: 200; font-size: 16px; margin-top: 0; margin-bottom: 30px">
                            1 newsletter a month
                        </p>
                        
                        <div class="form-row">
                            <div class="col-md-12">
                                <input type="email" id="txtEmail" class="form-control form-fixer" 
                                       placeholder="Your email*"/>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-12">
                                <input type="text" id="txtName" class="form-control form-fixer"
                                       placeholder="First name*"/>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-12">
                                <input type="text" id="txtLastName" class="form-control form-fixer"
                                       placeholder="Last name*"/>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-12">
                                <input type="text" id="txtCompanyName" class="form-control form-fixer"
                                       placeholder="Company name*"/>
                            </div>
                        </div>
                        <p style="font-weight: 600; font-size: 14px; margin-top: 20px; margin-bottom: 10px; line-height: 18px">
                            Yes, inform me about identity verification. I want to subscribe for the ReadID Newsletter*
                        </p>
                        <p style="font-weight: 600; font-size: 14px; margin-top: 0; margin-bottom: 30px;line-height: 18px">
                            We’re committed to protecting and respecting your privacy. For more information read our <a href="#" style="text-decoration: underline; color: #fff">Privacy Policy</a>.
                        </p>
                        
                        <a href="#"  type="button" class="btn btn-contact-a-specialist" 
                            style="width: 100%; font-weight: bold; border: 2px solid #fff; color: #17A2C8;
                            background: #fff;; border-radius: 40px; font-size: 16px ">
                            Yes, keep me informed
                        </a>
                        
                    </div>
                </div>
            </div>
            
            <div class="footer">
                <div class="row footer-1">
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 col-12" >
                        <div class="logo" style="margin-top: 30px;">
                            <a><img style="width: 200px; height: auto;" th:src="@{/images/checkid_logo.png}" alt="logo"></a>
                        </div>
                        <p style="font-weight: 200; font-size: 18px; margin-top: 20px; margin-bottom: 30px">
                            Converting, scalable, easy-to-use, and secure NFC-based identity verification.
                        </p>
                        <a href="#"  
                            style="width: auto; font-weight: bold; color: #17A2C8;font-size: 16px; position: relative ">
                            Get in touch
                            <span style="position: absolute; right: -30px; top: -10%">
                                <i class="fas fa-arrow-right"></i>
                            </span>
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 col-6" >
                        <p style="font-weight: bold; font-size: 18px; margin-bottom: 30px; margin-top: 30px;">
                            Discover
                        </p>
                        <a class="link-footer" href="#"  
                            style="display: block;width: auto; font-weight: 300; color: #433c3c; font-size: 16px;margin-bottom: 10px ">
                            Why NFC?
                        </a>
                        <a class="link-footer" href="#"  
                            style="display: block;width: auto; font-weight: 300; color: #433c3c; font-size: 16px;margin-bottom: 10px ">
                            Using the CheckID App?
                        </a>
                        <a class="link-footer" href="#"  
                            style="display: block;width: auto; font-weight: 300; color: #433c3c; font-size: 16px;margin-bottom: 10px ">
                            Work at CheckID
                        </a>
                        <a class="link-footer" href="#"  
                            style="display: block;width: auto; font-weight: 300; color: #433c3c; font-size: 16px;margin-bottom: 10px ">
                            Partnerships
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 col-6" >
                        <p style="font-weight: bold; font-size: 18px; margin-bottom: 30px;margin-top: 30px;">
                            Service
                        </p>
                        <a class="link-footer" href="#"  
                            style="display: block;width: auto; font-weight: 300; color: #433c3c; font-size: 16px;margin-bottom: 10px ">
                            Contact a specialist
                        </a>
                        <a class="link-footer" href="#"  
                            style="display: block;width: auto; font-weight: 300; color: #433c3c; font-size: 16px;margin-bottom: 10px ">
                            Try free demo app
                        </a>
                        <a class="link-footer" href="#"  
                            style="display: block;width: auto; font-weight: 300; color: #433c3c; font-size: 16px;margin-bottom: 10px ">
                            Request business demo
                        </a>
                        <a class="link-footer" href="#"  
                            style="display: block;width: auto; font-weight: 300; color: #433c3c; font-size: 16px;margin-bottom: 10px ">
                            Downloads
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12" >
                        <p style="font-weight: bold; font-size: 18px; margin-bottom: 30px; margin-top: 30px;">
                            Stay informed on identity verification
                        </p>
                        <input style="display: block;;margin-bottom: 20px; padding: 10px 16px; width: 100%" type="text" 
                               placeholder="Email"/>
                        <a href="#"  type="button" class="btn" 
                            style="display: block; width: 40%; font-weight: bold; border: 2px solid #17A2C8; color: #fff;
                            background: #17A2C8; border-radius: 40px; font-size: 16px; padding: 12px 12px ">
                            Sign up
                        </a>
                    </div>
                </div>
                <div class="row footer-2">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-12" 
                         style="display:flex; justify-content: flex-start; align-items: center; margin-top: 20px;">
                        <div style="margin-right: 10px;">
                            <img style="width: 66px; height: auto;" th:src="@{/images/iso27001-readid.webp}" alt="logo">
                        </div>
                        <div >
                            <span style="font-weight: 200; font-size: 18px; margin-top: 20px; margin-bottom: 30px">
                                ISO/IEC 27001 certified
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-12" 
                         style="display:flex; justify-content: flex-start; align-items: center;margin-top: 20px;">
                        <div style="margin-right: 10px;">
                            <img style="width: 66px; height: auto;" th:src="@{/images/iso27701.webp}" alt="logo">
                        </div>
                        <div>
                            <span style="font-weight: 200; font-size: 18px; margin-top: 20px; margin-bottom: 30px">
                                ISO/IEC 27701 certified
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-12"
                         style="display:flex; justify-content: flex-start; align-items: center;margin-top: 20px;">
                        <div style="margin-right: 10px;">
                            <img style="width: 66px; height: 66px;" th:src="@{/images/tuv-certified-1.webp}" alt="logo">
                        </div>
                        <div>
                            <span style="font-weight: 200; font-size: 18px; margin-top: 20px; margin-bottom: 30px">
                                eIDAS module certification for QTSPs
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-12" 
                         style="display:flex; justify-content: flex-start; align-items: center;margin-top: 20px;">
                        <div style="margin-right: 10px;">
                            <img style="width: 66px; height: 66px;" th:src="@{/images/tuv-certified-1.webp}" alt="logo">
                        </div>
                        <div>
                            <span style="font-weight: 200; font-size: 18px; margin-top: 20px; margin-bottom: 30px">
                                eIDAS eID module certification High
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row footer-3">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 col-12">
                        <a href="#"  
                            style="width: auto; font-weight: bold; color: #17A2C8;font-size: 16px ">
                            All certifications
                        </a>
                    </div>
                </div>
                <hr style="display:block; clear:both;border: 0;width: 100%;background-color:#ccc;height: 1px;">
                <div class="row footer-4">
                    <div class="col-lg-6 col-md-6 col-sm-4 col-xs-4 col-4">
                        <a href="#"  
                           style="width: auto; font-weight: bold; color: #433c3c;font-size: 16px ">
                            All certifications
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-8 col-xs-8 col-8" style="text-align: right">
                        <a href="#"  
                           style="width: auto; font-weight: bold; color: #433c3c;font-size: 16px; margin-right: 20px ">
                            CheckID
                        </a>
                        <a href="#"  
                           style="width: auto; font-weight: bold; color: #433c3c;font-size: 16px; margin-right: 20px ">
                            Privacy
                        </a>
                        <a href="#"  
                           style="width: auto; font-weight: bold; color: #433c3c;font-size: 16px ">
                            Contact
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <th-block th:replace="fragments/footer_angularjs.html :: footer(TRUE)"/>
    </body>

</html>
