<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" ng-app="myApp" ng-controller="" >
    <head>
        <title>Work at CheckID</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' ></meta>
        <meta name="desc" content=""></meta>
        <link rel="shortcut icon" th:href="@{/images/iconsim.png}">
        
        <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/about/careers.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/about/careers-reponsive.css}">
        
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">  

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        
        
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">
    </head>
    <body>
        <div class="page-wrapper">
            <div class="header" id="header-menu">
                <div class="top-menu">
                    <div class="top-menu-left">
                        <a>
                            <span>
                                <i style="margin-right: 5px" class="fas fa-info-circle"></i>
                                <strong>
                                    Why you should change from Optical to NFC-based identity verification
                                </strong>
                                <span class="arrow-move">
                                    Read more
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="top-menu-right">
                        <span>
                            <i>
                            </i>
                        </span>
                        <a style="position: relative; margin-right: 34px">
                            Using our App? Go here
                            <span style="position: absolute; right: -30px; top: -10%">
                                <i class="fas fa-arrow-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="bottom-menu">
                    <div class="logo">
                        <a th:href="@{/}"><img style="width: 220px; height: auto;" th:src="@{/images/checkid_logo.png}" alt="logo"></a>
                    </div>
                    <div class="menu">
                        <input type="checkbox" id="toggleControl">
                        <label for="toggleControl" class="toggle-icon">
                            <span class="first"></span>
                            <span class="second"></span>
                            <span class="last"></span>
                        </label>
                        <ul class="menu-hidden">
                            <li class="drop">
                                <a href="#">Identity verification</a>
                                <ul class="dropdown">
                                    <li>
                                       
                                        <a style="color: #433c3c; font-weight: 700; font-size: 14px; margin: 0">
                                            <p><span style="background-color: #f4e9d4">Built with NFC technology</span></p>
                                        </a>
                                        
                                        <a class="dropdown-item" th:href="@{/trusted-identity-verification}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">
                                                Why NFC-based identity verification?
                                            </p>
                                            <p style="color: #736c6c; font-weight: 500; font-size: 16px;">
                                                Create trust in identity verification by leveraging identity documents, NFC technology and smartphones
                                            </p>
                                        </a>
                                        
                                        <hr>
                                        
                                        <a style="color: #433c3c; font-weight: 700; font-size: 14px; margin: 0">
                                            <p><span style="background-color: #f4e9d4">Solutions for</span></p>
                                        </a>
                                        
                                        <a class="dropdown-item" th:href="@{/remote-identity-verification}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Remote identity verification</p>
                                            <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Identity verification within your mobile services or through our ready-to-use app</p>
                                        </a>
                                        <a class="dropdown-item" th:href="@{/face-to-face-identity-verification}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Face-to-face identity verification</p>
                                            <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Guaranteed identity verification without knowledge of identity documents, anytime, anywhere</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="drop">
                                <a href="#">Customer</a>
                                <ul class="dropdown">
                                    <li>
                                        <a style="color: #433c3c; font-weight: 700; font-size: 14px; margin: 0">
                                            <p><span style="background-color: #f4e9d4">How we work together</span></p>
                                        </a>
                                        <a class="dropdown-item" th:href="@{/use-cases}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Customer stories</p>
                                            <p style="color: #736c6c; font-weight: 500; font-size: 16px;">How others are using CheckID to create trusted identity verification</p>
                                        </a>
                                        <a class="dropdown-item" th:href="@{/partnerships}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Partnerships</p>
                                            <p style="color: #736c6c; font-weight: 500; font-size: 16px;">We collaborate with partners in different industries and other technologies to create a perfect fit for you</p>
                                        </a>
                                        <hr>
                                        
                                        <a style="color: #433c3c; font-weight: 700; font-size: 14px; margin: 0">
                                            <p><span style="background-color: #f4e9d4">Highlighted use cases</span></p>
                                        </a>
                                        
                                        <a class="dropdown-item" th:href="@{/rabobank}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Customer onboarding at Rabobank</p>
                                        </a>
                                        <a class="dropdown-item" th:href="@{/uk-home-office-euss}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">The UK Home Office EU settlement scheme</p>
                                        </a>
                                        <a class="dropdown-item" th:href="@{/aegon}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Reverification at Aegon</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="drop">
                                <a href="#">Industries</a>
                                <ul class="dropdown">
                                    <li>
                                        <a style="color: #433c3c; font-weight: 700; font-size: 14px; margin: 0">
                                            <p><span style="background-color: #f4e9d4">Working for</span></p>
                                        </a>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/industries/financial-services}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Financial services</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Combining KYC, AML and great conversion</p>
                                                </a>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/industries/travel}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Travel</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Combining safety, security and a seamless traveller journey</p>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/industries/trust-service-providers}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Digital signing</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Scalable customer identification at the highest level</p>
                                                </a>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/industries/hiring}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Hiring</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Trusted and flawless employee identity verification check</p>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/industries/egovernment}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">eGovernment</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Creating the highest level of trust</p>
                                                </a>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/industries/gaming-gambling}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Gaming & Gambling</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Securely verifying players identity and improve sign-up rates</p>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/industries/police-border-control}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Police and Border control</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Trusted identity verification anytime, anywhere</p>
                                                </a>
                                            </div>
                                        </div>
                                        
                                    </li>
                                </ul>
                            </li>
                            <li class="drop">
                                <a href="#">Resources</a>
                                <ul class="dropdown">
                                    <li>
                                       
                                        <a style="color: #433c3c; font-weight: 700; font-size: 14px; margin: 0">
                                            <p><span style="background-color: #f4e9d4">Gain insights</span></p>
                                        </a>
                                        
                                        <a class="dropdown-item" th:href="@{/resources/blog}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Blog</p>
                                            <p style="color: #736c6c; font-weight: 500; font-size: 16px;">News, views and opinions from our team</p>
                                        </a>
                                        <a class="dropdown-item" th:href="@{/resources/papers-reports}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">White papers and Reports</p>
                                            <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Take a deep dive into our experience</p>
                                        </a>
                                        <a class="dropdown-item" th:href="@{/resources/webinars}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Webinars</p>
                                            <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Binge watch our webinar series</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="drop">
                                <a href="#">About us</a>
                                <ul class="dropdown">
                                    <li>
                                        <a style="color: #433c3c; font-weight: 700; font-size: 14px; margin: 0">
                                            <p><span style="background-color: #f4e9d4">Get to know us</span></p>
                                        </a>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/about/company}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Company</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">InnoValor, the company that created CheckID</p>
                                                </a>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/about/history}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">History</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Our innovation roots</p>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/about/certifications}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Certifications</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">A combination of certificates, unique to the industry</p>
                                                </a>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/partnerships}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Partnerships</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Strong together with partners in different verticals and technologies</p>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/about/awards}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Awards</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Recognition of our outstanding performance</p>
                                                </a>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/about/events}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Events</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Where to meet or see us?</p>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/about/careers}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Work at InnoValor</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Join our fast growing team</p>
                                                </a>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/about/contact}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Contact</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Visit us or reach out to us</p>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="button-contact-a-special" style="margin-left: 15px;">
                                <a href="#">
                                    Contact a specialist
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="wrapper wrapper-1">
                <p style="letter-spacing: 3px; color: #fff"><strong>CAREERS</strong></p>
                <p style="font-weight: bold; font-size: 40px; line-height: 50px; padding: 0 0 10px">
                    Work at CheckID
                </p>
                <p style="font-weight: 200; font-size: 18px; margin: 0;">
                    Join our fast-growing team of over 50+ developers, strategists, consultants and researchers, we work on solid, groundbreaking and socially relevant solutions that increase the digital trust and agility of organisations
                </p>
            </div>
            
            <div class="wrapper wrapper-2">
                <p style="font-weight: bold; font-size: 40px; line-height: 50px; margin-bottom: 54px">
                    Our jobs openings
                </p>
                <div class="list-member">
                    <div class="member-wrapper col-lg-4 col-md-7 col-sm-7 col-xs-8 col-8">
                        <img style="height: 30%;width: 100%;" class="card-img-top"
                             th:src="@{/images/Innovalor-Maarten_4654.webp}" alt="Card image cap">
                        <div class="card-body">
                            <p style="font-weight: bold; font-size: 20px; margin-bottom: 0px">
                                UX Specialist
                            </p>
                            <p style="font-weight: 550; font-size: 16px; margin-bottom: 16px">
                                Fulltime / Parttime
                            </p>
                            <p style="font-weight: 550; font-size: 16px; margin-bottom: 20px">
                                Can you lead the way in the development of our CheckID UX Design?
                            </p>
                        </div>
                        <div class="row" style="position: absolute; bottom: 45px; left: 15px; width: 100%">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
                                <a href="#" 
                                    style="width: 100%; font-weight: bold; color: #17A2C8;
                                    background: #fff; font-size: 16px; position: relative; ">
                                    View job
                                    <span style="position: absolute; right: -45%; top: -20%">
                                        <i class="fas fa-arrow-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    
                    <div class=" member-wrapper col-lg-4 col-md-7 col-sm-7 col-xs-8 col-8">
                        <img style="height: 30%;width: 100%;" class="card-img-top"
                             th:src="@{/images/Innovalor-Maarten_4654.webp}" alt="Card image cap">
                        <div class="card-body">
                            <p style="font-weight: bold; font-size: 20px; margin-bottom: 0px">
                                HR Manager
                            </p>
                            <p style="font-weight: 550; font-size: 16px; margin-bottom: 16px">
                                Parttime
                            </p>
                            <p style="font-weight: 550; font-size: 16px; margin-bottom: 20px">
                                Help us grow our company by attracting the best talents.
                            </p>
                        </div>
                        <div class="row" style="position: absolute; bottom: 45px; left: 15px; width: 100%">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
                                <a href="#" 
                                    style="width: 100%; font-weight: bold; color: #17A2C8;
                                    background: #fff; font-size: 16px; position: relative; ">
                                    View job
                                    <span style="position: absolute; right: -45%; top: -20%">
                                        <i class="fas fa-arrow-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    
                    <div class=" member-wrapper col-lg-4 col-md-7 col-sm-7 col-xs-8 col-8">
                        <img style="height: 30%;width: 100%;" class="card-img-top"
                             th:src="@{/images/Innovalor-Maarten_4654.webp}" alt="Card image cap">
                        <div class="card-body">
                            <p style="font-weight: bold; font-size: 20px; margin-bottom: 0px">
                                Channel Manager
                            </p>
                            <p style="font-weight: 550; font-size: 16px; margin-bottom: 16px">
                                Fulltime
                            </p>
                            <p style="font-weight: 550; font-size: 16px; margin-bottom: 20px">
                                Do you accept the challenge for successfully growing our mobile identity verification solution via channel partners? 
                            </p>
                        </div>
                        <div class="row" style="position: absolute; bottom: 45px; left: 15px; width: 100%">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
                                <a href="#" 
                                    style="width: 100%; font-weight: bold; color: #17A2C8;
                                    background: #fff; font-size: 16px; position: relative; ">
                                    View job
                                    <span style="position: absolute; right: -45%; top: -20%">
                                        <i class="fas fa-arrow-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-member">
                    <div class="member-wrapper col-lg-4 col-md-7 col-sm-7 col-xs-8 col-8">
                        <img style="height: 30%;width: 100%;" class="card-img-top"
                             th:src="@{/images/Innovalor-Maarten_4654.webp}" alt="Card image cap">
                        <div class="card-body">
                            <p style="font-weight: bold; font-size: 20px; margin-bottom: 0px">
                                Customer onboarding specialist
                            </p>
                            <p style="font-weight: 550; font-size: 16px; margin-bottom: 16px">
                                Fulltime / Parttime
                            </p>
                            <p style="font-weight: 550; font-size: 16px; margin-bottom: 20px">
                                Support our customers’ implementation team to integrate our award-winning CheckID technology into their services.
                            </p>
                        </div>
                        <div class="row" style="position: absolute; bottom: 45px; left: 15px; width: 100%">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
                                <a href="#" 
                                    style="width: 100%; font-weight: bold; color: #17A2C8;
                                    background: #fff; font-size: 16px; position: relative; ">
                                    View job
                                    <span style="position: absolute; right: -45%; top: -20%">
                                        <i class="fas fa-arrow-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    
                    <div class=" member-wrapper col-lg-4 col-md-7 col-sm-7 col-xs-8 col-8">
                        <img style="height: 30%;width: 100%;" class="card-img-top"
                             th:src="@{/images/Innovalor-Maarten_4654.webp}" alt="Card image cap">
                        <div class="card-body">
                            <p style="font-weight: bold; font-size: 20px; margin-bottom: 0px">
                                Java Server Developer
                            </p>
                            <p style="font-weight: 550; font-size: 16px; margin-bottom: 16px">
                                Fulltime / Parttime
                            </p>
                            <p style="font-weight: 550; font-size: 16px; margin-bottom: 20px">
                                Do you love tinkering with the latest technologies, and do you understand that security is very important?
                            </p>
                        </div>
                        <div class="row" style="position: absolute; bottom: 45px; left: 15px; width: 100%">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
                                <a href="#" 
                                    style="width: 100%; font-weight: bold; color: #17A2C8;
                                    background: #fff; font-size: 16px; position: relative; ">
                                    View job
                                    <span style="position: absolute; right: -45%; top: -20%">
                                        <i class="fas fa-arrow-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    
                    <div class=" member-wrapper col-lg-4 col-md-7 col-sm-7 col-xs-8 col-8">
                        <img style="height: 30%;width: 100%;" class="card-img-top"
                             th:src="@{/images/Innovalor-Maarten_4654.webp}" alt="Card image cap">
                        <div class="card-body">
                            <p style="font-weight: bold; font-size: 20px; margin-bottom: 0px">
                                Mobile Developer Android
                            </p>
                            <p style="font-weight: 550; font-size: 16px; margin-bottom: 16px">
                                Fulltime / Parttime
                            </p>
                            <p style="font-weight: 550; font-size: 16px; margin-bottom: 20px">
                                You will be joining our multinational highly skilled team of developers that cover various disciplines and technologies.
                            </p>
                        </div>
                        <div class="row" style="position: absolute; bottom: 45px; left: 15px; width: 100%">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
                                <a href="#" 
                                    style="width: 100%; font-weight: bold; color: #17A2C8;
                                    background: #fff; font-size: 16px; position: relative; ">
                                    View job
                                    <span style="position: absolute; right: -45%; top: -20%">
                                        <i class="fas fa-arrow-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="list-member">
                    <div class="member-wrapper col-lg-4 col-md-7 col-sm-7 col-xs-8 col-8">
                        <img style="height: 30%;width: 100%;" class="card-img-top"
                             th:src="@{/images/Innovalor-Maarten_4654.webp}" alt="Card image cap">
                        <div class="card-body">
                            <p style="font-weight: bold; font-size: 20px; margin-bottom: 0px">
                                iOS Developer
                            </p>
                            <p style="font-weight: 550; font-size: 16px; margin-bottom: 16px">
                                Fulltime / Parttime
                            </p>
                            <p style="font-weight: 550; font-size: 16px; margin-bottom: 20px">
                                Develop our CheckID SDK for iOS, both MRZ and NFC functionalities. Use the latest technology.
                            </p>
                        </div>
                        <div class="row" style="position: absolute; bottom: 45px; left: 15px; width: 100%">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
                                <a href="#" 
                                    style="width: 100%; font-weight: bold; color: #17A2C8;
                                    background: #fff; font-size: 16px; position: relative; ">
                                    View job
                                    <span style="position: absolute; right: -45%; top: -20%">
                                        <i class="fas fa-arrow-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    
                    <div class=" member-wrapper col-lg-4 col-md-7 col-sm-7 col-xs-8 col-8">
                        <img style="height: 30%;width: 100%;" class="card-img-top"
                             th:src="@{/images/Innovalor-Maarten_4654.webp}" alt="Card image cap">
                        <div class="card-body">
                            <p style="font-weight: bold; font-size: 20px; margin-bottom: 0px">
                                Open application
                            </p>
                            <p style="font-weight: 550; font-size: 16px; margin-bottom: 16px">
                                Fulltime / Parttime
                            </p>
                            <p style="font-weight: 550; font-size: 16px; margin-bottom: 20px">
                                Are you interested in a job at InnoValor/CheckID, but do our current vacancies not fit your profile? Then you are very welcome to sent an open application
                            </p>
                        </div>
                        <div class="row" style="position: absolute; bottom: 45px; left: 15px; width: 100%">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
                                <a href="#" 
                                    style="width: 100%; font-weight: bold; color: #17A2C8;
                                    background: #fff; font-size: 16px; position: relative; ">
                                    View job
                                    <span style="position: absolute; right: -45%; top: -20%">
                                        <i class="fas fa-arrow-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    
                    <div style="background-color: #faf5ec; border: 0;" class=" member-wrapper col-lg-4 col-md-4 col-sm-6 col-xs-12 col-12">
                        
                    </div>
                </div>
            </div>
            
            
            <div class="wrapper wrapper-3">
                <hr style="display:block; clear:both;border: 0;width: 100%; background-color:#ccc;height: 1px;">
                <p style="text-align: center; font-weight: bold; font-size: 30px; line-height: 40px; margin-top: 40px; margin-bottom: 30px; padding: 0;">
                    We seek, amongst others, developers, marketeers and geeks for digital innovation
                </p>
                
                <div class="arrow-right" style="text-align: center; margin-bottom: 40px;">
                    <a style="font-size: 16px; font-weight: bold; color: #17A2C8; position: relative;">
                        View all jobs
                        <span style="position: absolute; right: -30px; top: -21%">
                            <i class="fas fa-arrow-right"></i>
                        </span>
                    </a>
                </div>
                <hr style="display:block; clear:both;border: 0;width: 100%; background-color:#ccc;height: 1px;">
                
            </div>
            
            <div class="wrapper wrapper-4">
                <div class="box-of-one-card">
                    <p style="font-weight: bold; font-size: 40px; line-height: 50px; padding: 0;margin-bottom: 50px;">
                        Why work at CheckID
                    </p>
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 col-12" 
                            style="display:flex; flex-direction: column; justify-content: center; align-items: center; padding: 0 24px;">
                            <p style="font-weight: bold; font-size: 36px; line-height: 50px; padding: 0;margin-bottom: 6px;">
                                28 holidays
                            </p>
                            <p style="font-weight: 350; font-size: 22px; line-height: 40px; padding: 0;margin-bottom: 30px;">
                                and option for extended holidays
                            </p>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 col-12" 
                            style="display:flex; flex-direction: column; justify-content: center; align-items: center;  padding: 0 24px;">
                            <p style="font-weight: bold; font-size: 36px; line-height: 50px; padding: 0;margin-bottom: 6px;">
                                High-end laptop
                            </p>
                            <p style="font-weight: 350; font-size: 22px; line-height: 40px; padding: 0;margin-bottom: 30px;">
                                Windows or Macbook
                            </p>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 col-12" 
                            style="display:flex; flex-direction: column; justify-content: center; align-items: center;  padding: 0 24px;">
                            <p style="font-weight: bold; font-size: 36px; line-height: 50px; padding: 0;margin-bottom: 6px;">
                                Social activities
                            </p>
                            <p style="font-weight: 350; font-size: 22px; line-height: 40px; padding: 0;margin-bottom: 30px;">
                                with your team
                            </p>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 col-12" 
                            style="display:flex; flex-direction: column; justify-content: center; align-items: center;  padding: 0 24px;">
                            <p style="font-weight: bold; font-size: 36px; line-height: 50px; padding: 0;margin-bottom: 6px;">
                                Work-Life balance
                            </p>
                            <p style="font-weight: 350; font-size: 22px; line-height: 40px; padding: 0;margin-bottom: 30px;">
                                Flexible in working hours and from home
                            </p>
                        </div>
                        
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 col-12" 
                            style="display:flex; flex-direction: column; justify-content: center; align-items: center;  padding: 0 24px;">
                            <p style="font-weight: bold; font-size: 36px; line-height: 50px; padding: 0;margin-bottom: 6px;">
                                Employer Financed pension scheme
                            </p>
                            <p style="font-weight: 350; font-size: 22px; line-height: 40px; padding: 0;margin-bottom: 30px;">
                                And a mobile phone
                            </p>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 col-12" 
                            style="display:flex; flex-direction: column; justify-content: center; align-items: center;  padding: 0 24px;">
                            <p style="font-weight: bold; font-size: 36px; line-height: 50px; padding: 0;margin-bottom: 6px;">
                                Competitive salary
                            </p>
                            <p style="font-weight: 350; font-size: 22px; line-height: 40px; padding: 0;margin-bottom: 30px;">
                                and performance based reward
                            </p>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 col-12" 
                            style="display:flex; flex-direction: column; justify-content: center; align-items: center;  padding: 0 24px;">
                            <p style="font-weight: bold; font-size: 36px; line-height: 50px; padding: 0;margin-bottom: 6px;">
                                Training opportunities
                            </p>
                            <p style="font-weight: 350; font-size: 22px; line-height: 40px; padding: 0;margin-bottom: 30px;">
                                External or internal
                            </p>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 col-12" 
                            style="display:flex; flex-direction: column; justify-content: center; align-items: center;  padding: 0 24px;">
                            <p style="font-weight: bold; font-size: 36px; line-height: 50px; padding: 0;margin-bottom: 6px;">
                                Highly-skilled team
                            </p>
                            <p style="font-weight: 350; font-size: 22px; line-height: 40px; padding: 0;margin-bottom: 30px;">
                                and pleasant working atmosphere
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            
            
            <div class="footer">
                <div class="row footer-1">
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 col-12" >
                        <div class="logo" style="margin-top: 30px;">
                            <a><img style="width: 200px; height: auto;" th:src="@{/images/checkid_logo.png}" alt="logo"></a>
                        </div>
                        <p style="font-weight: 200; font-size: 18px; margin-top: 20px; margin-bottom: 30px">
                            Converting, scalable, easy-to-use, and secure NFC-based identity verification.
                        </p>
                        <a href="#"  
                            style="width: auto; font-weight: bold; color: #17A2C8;font-size: 16px; position: relative ">
                            Get in touch
                            <span style="position: absolute; right: -30px; top: -10%">
                                <i class="fas fa-arrow-right"></i>
                            </span>
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 col-6" >
                        <p style="font-weight: bold; font-size: 18px; margin-bottom: 30px; margin-top: 30px;">
                            Discover
                        </p>
                        <a class="link-footer" href="#"  
                            style="display: block;width: auto; font-weight: 300; color: #433c3c; font-size: 16px;margin-bottom: 10px ">
                            Why NFC?
                        </a>
                        <a class="link-footer" href="#"  
                            style="display: block;width: auto; font-weight: 300; color: #433c3c; font-size: 16px;margin-bottom: 10px ">
                            Using the CheckID App?
                        </a>
                        <a class="link-footer" href="#"  
                            style="display: block;width: auto; font-weight: 300; color: #433c3c; font-size: 16px;margin-bottom: 10px ">
                            Work at CheckID
                        </a>
                        <a class="link-footer" href="#"  
                            style="display: block;width: auto; font-weight: 300; color: #433c3c; font-size: 16px;margin-bottom: 10px ">
                            Partnerships
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 col-6" >
                        <p style="font-weight: bold; font-size: 18px; margin-bottom: 30px;margin-top: 30px;">
                            Service
                        </p>
                        <a class="link-footer" href="#"  
                            style="display: block;width: auto; font-weight: 300; color: #433c3c; font-size: 16px;margin-bottom: 10px ">
                            Contact a specialist
                        </a>
                        <a class="link-footer" href="#"  
                            style="display: block;width: auto; font-weight: 300; color: #433c3c; font-size: 16px;margin-bottom: 10px ">
                            Try free demo app
                        </a>
                        <a class="link-footer" href="#"  
                            style="display: block;width: auto; font-weight: 300; color: #433c3c; font-size: 16px;margin-bottom: 10px ">
                            Request business demo
                        </a>
                        <a class="link-footer" href="#"  
                            style="display: block;width: auto; font-weight: 300; color: #433c3c; font-size: 16px;margin-bottom: 10px ">
                            Downloads
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12" >
                        <p style="font-weight: bold; font-size: 18px; margin-bottom: 30px; margin-top: 30px;">
                            Stay informed on identity verification
                        </p>
                        <input style="display: block;;margin-bottom: 20px; padding: 10px 16px; width: 100%" type="text" 
                               placeholder="Email"/>
                        <a href="#"  type="button" class="btn" 
                            style="display: block; width: 40%; font-weight: bold; border: 2px solid #17A2C8; color: #fff;
                            background: #17A2C8; border-radius: 40px; font-size: 16px; padding: 12px 12px ">
                            Sign up
                        </a>
                    </div>
                </div>
                <div class="row footer-2">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-12" 
                         style="display:flex; justify-content: flex-start; align-items: center; margin-top: 20px;">
                        <div style="margin-right: 10px;">
                            <img style="width: 66px; height: auto;" th:src="@{/images/iso27001-readid.webp}" alt="logo">
                        </div>
                        <div >
                            <span style="font-weight: 200; font-size: 18px; margin-top: 20px; margin-bottom: 30px">
                                ISO/IEC 27001 certified
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-12" 
                         style="display:flex; justify-content: flex-start; align-items: center;margin-top: 20px;">
                        <div style="margin-right: 10px;">
                            <img style="width: 66px; height: auto;" th:src="@{/images/iso27701.webp}" alt="logo">
                        </div>
                        <div>
                            <span style="font-weight: 200; font-size: 18px; margin-top: 20px; margin-bottom: 30px">
                                ISO/IEC 27701 certified
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-12"
                         style="display:flex; justify-content: flex-start; align-items: center;margin-top: 20px;">
                        <div style="margin-right: 10px;">
                            <img style="width: 66px; height: 66px;" th:src="@{/images/tuv-certified-1.webp}" alt="logo">
                        </div>
                        <div>
                            <span style="font-weight: 200; font-size: 18px; margin-top: 20px; margin-bottom: 30px">
                                eIDAS module certification for QTSPs
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-12" 
                         style="display:flex; justify-content: flex-start; align-items: center;margin-top: 20px;">
                        <div style="margin-right: 10px;">
                            <img style="width: 66px; height: 66px;" th:src="@{/images/tuv-certified-1.webp}" alt="logo">
                        </div>
                        <div>
                            <span style="font-weight: 200; font-size: 18px; margin-top: 20px; margin-bottom: 30px">
                                eIDAS eID module certification High
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row footer-3">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 col-12">
                        <a href="#"  
                            style="width: auto; font-weight: bold; color: #17A2C8;font-size: 16px ">
                            All certifications
                        </a>
                    </div>
                </div>
                <hr style="display:block; clear:both;border: 0;width: 100%;background-color:#ccc;height: 1px;">
                <div class="row footer-4">
                    <div class="col-lg-6 col-md-6 col-sm-4 col-xs-4 col-4">
                        <a href="#"  
                           style="width: auto; font-weight: bold; color: #433c3c;font-size: 16px ">
                            All certifications
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-8 col-xs-8 col-8" style="text-align: right">
                        <a href="#"  
                           style="width: auto; font-weight: bold; color: #433c3c;font-size: 16px; margin-right: 20px ">
                            CheckID
                        </a>
                        <a href="#"  
                           style="width: auto; font-weight: bold; color: #433c3c;font-size: 16px; margin-right: 20px ">
                            Privacy
                        </a>
                        <a href="#"  
                           style="width: auto; font-weight: bold; color: #433c3c;font-size: 16px ">
                            Contact
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <th-block th:replace="fragments/footer_angularjs.html :: footer(TRUE)"/>
    </body>

</html>
