<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" ng-app="myApp" ng-controller="" >
    <head>
        <title>Certifications</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' ></meta>
        <meta name="desc" content=""></meta>
        <link rel="shortcut icon" th:href="@{/images/iconsim.png}">
        
        <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/about/certifications.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/about/certifications-reponsive.css}">
        
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">  

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        
        
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">
    </head>
    <body>
        <div class="page-wrapper">
            <div class="header" id="header-menu">
                <div class="top-menu">
                    <div class="top-menu-left">
                        <a>
                            <span>
                                <i style="margin-right: 5px" class="fas fa-info-circle"></i>
                                <strong>
                                    Why you should change from Optical to NFC-based identity verification
                                </strong>
                                <span class="arrow-move">
                                    Read more
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="top-menu-right">
                        <span>
                            <i>
                            </i>
                        </span>
                        <a style="position: relative; margin-right: 34px">
                            Using our App? Go here
                            <span style="position: absolute; right: -30px; top: -10%">
                                <i class="fas fa-arrow-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="bottom-menu">
                    <div class="logo">
                        <a th:href="@{/}"><img style="width: 220px; height: auto;" th:src="@{/images/checkid_logo.png}" alt="logo"></a>
                    </div>
                    <div class="menu">
                        <input type="checkbox" id="toggleControl">
                        <label for="toggleControl" class="toggle-icon">
                            <span class="first"></span>
                            <span class="second"></span>
                            <span class="last"></span>
                        </label>
                        <ul class="menu-hidden">
                            <li class="drop">
                                <a href="#">Identity verification</a>
                                <ul class="dropdown">
                                    <li>
                                       
                                        <a style="color: #433c3c; font-weight: 700; font-size: 14px; margin: 0">
                                            <p><span style="background-color: #f4e9d4">Built with NFC technology</span></p>
                                        </a>
                                        
                                        <a class="dropdown-item" th:href="@{/trusted-identity-verification}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">
                                                Why NFC-based identity verification?
                                            </p>
                                            <p style="color: #736c6c; font-weight: 500; font-size: 16px;">
                                                Create trust in identity verification by leveraging identity documents, NFC technology and smartphones
                                            </p>
                                        </a>
                                        
                                        <hr>
                                        
                                        <a style="color: #433c3c; font-weight: 700; font-size: 14px; margin: 0">
                                            <p><span style="background-color: #f4e9d4">Solutions for</span></p>
                                        </a>
                                        
                                        <a class="dropdown-item" th:href="@{/remote-identity-verification}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Remote identity verification</p>
                                            <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Identity verification within your mobile services or through our ready-to-use app</p>
                                        </a>
                                        <a class="dropdown-item" th:href="@{/face-to-face-identity-verification}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Face-to-face identity verification</p>
                                            <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Guaranteed identity verification without knowledge of identity documents, anytime, anywhere</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="drop">
                                <a href="#">Customer</a>
                                <ul class="dropdown">
                                    <li>
                                        <a style="color: #433c3c; font-weight: 700; font-size: 14px; margin: 0">
                                            <p><span style="background-color: #f4e9d4">How we work together</span></p>
                                        </a>
                                        <a class="dropdown-item" th:href="@{/use-cases}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Customer stories</p>
                                            <p style="color: #736c6c; font-weight: 500; font-size: 16px;">How others are using CheckID to create trusted identity verification</p>
                                        </a>
                                        <a class="dropdown-item" th:href="@{/partnerships}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Partnerships</p>
                                            <p style="color: #736c6c; font-weight: 500; font-size: 16px;">We collaborate with partners in different industries and other technologies to create a perfect fit for you</p>
                                        </a>
                                        <hr>
                                        
                                        <a style="color: #433c3c; font-weight: 700; font-size: 14px; margin: 0">
                                            <p><span style="background-color: #f4e9d4">Highlighted use cases</span></p>
                                        </a>
                                        
                                        <a class="dropdown-item" th:href="@{/rabobank}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Customer onboarding at Rabobank</p>
                                        </a>
                                        <a class="dropdown-item" th:href="@{/uk-home-office-euss}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">The UK Home Office EU settlement scheme</p>
                                        </a>
                                        <a class="dropdown-item" th:href="@{/aegon}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Reverification at Aegon</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="drop">
                                <a href="#">Industries</a>
                                <ul class="dropdown">
                                    <li>
                                        <a style="color: #433c3c; font-weight: 700; font-size: 14px; margin: 0">
                                            <p><span style="background-color: #f4e9d4">Working for</span></p>
                                        </a>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/industries/financial-services}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Financial services</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Combining KYC, AML and great conversion</p>
                                                </a>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/industries/travel}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Travel</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Combining safety, security and a seamless traveller journey</p>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/industries/trust-service-providers}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Digital signing</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Scalable customer identification at the highest level</p>
                                                </a>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/industries/hiring}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Hiring</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Trusted and flawless employee identity verification check</p>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/industries/egovernment}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">eGovernment</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Creating the highest level of trust</p>
                                                </a>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/industries/gaming-gambling}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Gaming & Gambling</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Securely verifying players identity and improve sign-up rates</p>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/industries/police-border-control}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Police and Border control</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Trusted identity verification anytime, anywhere</p>
                                                </a>
                                            </div>
                                        </div>
                                        
                                    </li>
                                </ul>
                            </li>
                            <li class="drop">
                                <a href="#">Resources</a>
                                <ul class="dropdown">
                                    <li>
                                       
                                        <a style="color: #433c3c; font-weight: 700; font-size: 14px; margin: 0">
                                            <p><span style="background-color: #f4e9d4">Gain insights</span></p>
                                        </a>
                                        
                                        <a class="dropdown-item" th:href="@{/resources/blog}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Blog</p>
                                            <p style="color: #736c6c; font-weight: 500; font-size: 16px;">News, views and opinions from our team</p>
                                        </a>
                                        <a class="dropdown-item" th:href="@{/resources/papers-reports}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">White papers and Reports</p>
                                            <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Take a deep dive into our experience</p>
                                        </a>
                                        <a class="dropdown-item" th:href="@{/resources/webinars}">
                                            <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Webinars</p>
                                            <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Binge watch our webinar series</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="drop">
                                <a href="#">About us</a>
                                <ul class="dropdown">
                                    <li>
                                        <a style="color: #433c3c; font-weight: 700; font-size: 14px; margin: 0">
                                            <p><span style="background-color: #f4e9d4">Get to know us</span></p>
                                        </a>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/about/company}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Company</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">InnoValor, the company that created CheckID</p>
                                                </a>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/about/history}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">History</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Our innovation roots</p>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/about/certifications}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Certifications</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">A combination of certificates, unique to the industry</p>
                                                </a>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/partnerships}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Partnerships</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Strong together with partners in different verticals and technologies</p>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/about/awards}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Awards</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Recognition of our outstanding performance</p>
                                                </a>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/about/events}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Events</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Where to meet or see us?</p>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/about/careers}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Work at InnoValor</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Join our fast growing team</p>
                                                </a>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                                <a class="dropdown-item" th:href="@{/about/contact}">
                                                    <p style="color: #433c3c; font-weight: 700; font-size: 16px;">Contact</p>
                                                    <p style="color: #736c6c; font-weight: 500; font-size: 16px;">Visit us or reach out to us</p>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="button-contact-a-special" style="margin-left: 15px;">
                                <a href="#">
                                    Contact a specialist
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="wrapper wrapper-1">
                <p style="letter-spacing: 3px; color: #17A2C8"><strong>CERTIFICATIONS</strong></p>
                <p style="font-weight: bold; font-size: 40px; line-height: 50px; padding: 0 0 10px">
                   Verify identities at the highest trust level
                </p>
                <p style="font-weight: 200; font-size: 18px; margin: 0;">
                    Both customers and users of CheckID trust us with very privacy sensitive information. InnoValor has the responsibility to not only be secure, but also to show that we are secure. We do this via certifications, granted by independent auditors. Customers can rely on these certifications, saving costs and overhead associated with doing their own due diligence and audits on our information security. 
                </p>
            </div>
            
            <div class="wrapper wrapper-2">
                <div class="list-company row">
                    <div class="company-item col-lg-3 col-md-3 col-sm-6 col-xs-12 col-12">
                        <div style="margin-right: 10px;">
                            <img style="width: 66px; height: auto;" th:src="@{/images/iso27001-readid.webp}" alt="logo">
                        </div>
                        <div >
                            <span style="font-weight: 200; font-size: 18px; margin-top: 20px; margin-bottom: 30px">
                                ISO/IEC 27001 certified
                            </span>
                        </div>
                    </div>
                    <div class="company-item col-lg-3 col-md-3 col-sm-6 col-xs-12 col-12">
                        <div style="margin-right: 10px;">
                            <img style="width: 66px; height: auto;" th:src="@{/images/iso27701.webp}" alt="logo">
                        </div>
                        <div>
                            <span style="font-weight: 200; font-size: 18px; margin-top: 20px; margin-bottom: 30px">
                                ISO/IEC 27701 certified
                            </span>
                        </div>
                    </div>
                    <div class="company-item col-lg-3 col-md-3 col-sm-6 col-xs-12 col-12">
                        <div style="margin-right: 10px;">
                            <img style="width: 66px; height: 66px;" th:src="@{/images/tuv-certified-1.webp}" alt="logo">
                        </div>
                        <div>
                            <span style="font-weight: 200; font-size: 18px; margin-top: 20px; margin-bottom: 30px">
                                eIDAS module certifications
                            </span>
                        </div>
                    </div>
                    <div class="company-item col-lg-3 col-md-3 col-sm-6 col-xs-12 col-12" >
                        <div style="margin-right: 10px;">
                            <img style="width: 66px; height: 66px;" th:src="@{/images/tuv-certified-1.webp}" alt="logo">
                        </div>
                        <div>
                            <span style="font-weight: 200; font-size: 18px; margin-top: 20px; margin-bottom: 30px">
                                eIDAS eID module certification High
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="wrapper wrapper-3">
                <div class="content-box">
                    <p style="font-weight: bold; font-size: 40px; line-height: 50px; padding: 0">
                        World-First Security Certification Package
                    </p>
                    <p style="font-weight: 350; font-size: 18px; margin-top: 20px; margin-bottom: 20px">
                        We have been certified through a unique combination of security certificates for our NFC- based identity verification technology CheckID by TÜV Austria.
                    </p>
                    <div class="embedVideo">
                        <iframe style="display: block" width="596" height="340" src="https://www.youtube.com/embed/BQGvmWU5DFc"
                            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>      
                        </iframe>
                    </div>
                </div>
            </div>
            
            <div class="wrapper wrapper-4">
                <p style="font-weight: bold; font-size: 40px; line-height: 50px; padding: 0 0 10px">
                    Beyond baseline security
                </p>
                <p style="font-weight: 350; font-size: 18px; margin: 0; padding: 0 5vw;">
                    Since 2018 we are ISO/IEC 27001 certified, which can be considered as a baseline or ‘hygiene’ information security certification. For InnoValor having more than ISO/IEC 27001 is a differentiator: it creates a competitive edge to our products and assures our customers that we see the security of their information as a top priority for our business. 
                </p>
                
            </div>
            
            
            <div class="wrapper wrapper-5">
                <div class="box-of-one-card">
                    <div class="left-content">
                        
                        <p style="font-weight: bold; font-size: 40px; line-height: 50px; padding: 0;margin-bottom: 20px;">
                            ISO/IEC 27001 – Information security management
                        </p>
                        <p style="font-weight: 350; font-size: 18px; margin-bottom: 0;">
                            InnoValor’s ISO/IEC 27001 certification certifies that we have an appropriate Information Security Management System (ISMS) in place. That means that we:
                        </p>
                        <ul style="list-style:none; font-size: 18px; font-weight: 200; margin-bottom: 75px;">
                            <li>Systematically examine the organisation's information security risks, taking into account the threats, vulnerabilities, and impacts;</li>
                            <li>Design and implement a coherent and comprehensive suite of information security controls and/or other forms of risk treatment (such as risk avoidance or risk transfer) to address those risks that are deemed unacceptable; and</li>
                            <li>Adopt an overarching management process to ensure that the information security controls continue to meet the organisation's information security needs on an ongoing basis.</li>
                        </ul>
                        <a style="font-weight: 600; font-size: 16px; position: relative" href="#">
                            Download certificate
                            <span style="position: absolute; right: -13%; top: -15%">
                                <i class="fas fa-arrow-right"></i>
                            </span>
                        </a>
                    </div>
                    <div class="right-content">
                        <img th:src="@{/images/iso27001-readid (1).webp}" alt="logo">
                    </div>
                </div>
            </div>
            
            <div class="wrapper wrapper-6">
                <div class="box-of-one-card">
                    <div class="left-content">
                        <img th:src="@{/images/iso27701 (1).webp}" alt="logo">
                    </div>
                    <div class="right-content">
                        <p style="font-weight: bold; font-size: 40px; line-height: 50px; padding: 0;margin-bottom: 20px;">
                           ISO/IEC 27701 – Privacy management
                        </p>
                        <p style="font-weight: 200; font-size: 18px; margin-bottom: 40px">
                            Whereas the ISO/IEC 27001 certificate provides a baseline security for our CheckID customers, our ISO/IEC 27701 certificate brings it to a next level by adding data privacy specific extensions to it. ISO/IEC 27701 is relatively new and much less common than ISO 27001. ISO/IEC 27701 differentiates CheckID and underlines our continuous efforts to ensure privacy of the data we handle. 
                        </p>
                        <p style="font-weight: 200; font-size: 18px; margin-bottom: 40px">
                            Privacy is a key aspect of our product CheckID, as our solutions have access to many millions of identity documents. We take our responsibility for the privacy of the holders of these documents very seriously.
                        </p>
                        <p style="font-weight: 200; font-size: 18px; margin-bottom: 40px">
                            InnoValor’s ISO/IEC 27701 certification demonstrates that we have established and implemented an effective Privacy Information Management System extending our ISO/IEC 27001 Information Security Management System. This means that we have all the required security and privacy controls in place to securely process personal data as a controller as well as a processor.
                        </p>
                        <a style="font-weight: 600; font-size: 16px; position: relative" href="#">
                            Download certificate
                            <span style="position: absolute; right: -13%; top: -15%">
                                <i class="fas fa-arrow-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            
            
            <div class="wrapper wrapper-7">
                <div class="box-of-one-card">
                    <div class="left-content">
                        
                        <p style="font-weight: bold; font-size: 40px; line-height: 50px; padding: 0;margin-bottom: 20px;">
                            eIDAS module certification for Qualified Trust Service Providers
                        </p>
                        <p style="font-weight: 350; font-size: 18px; margin-bottom: 40px;">
                            eIDAS 910/2014 is an EU regulation that establishes trust in electronic transactions between individuals, organisations and government entities across the European Member States. Its two cornerstones are electronic identification and digital signatures. The module certification is about the latter: it specifies rules for trust services to simplify and standardise digital signatures across Europe.
                        </p>
                        <p style="font-weight: 350; font-size: 18px; margin-bottom: 40px;">
                            InnoValor provides identity data and document verification services for qualified trust service providers operating under the eIDAS regulation. ‘Qualified’ is the highest trust level, a digital signature at a qualified level is legally equivalent to a wet signature. For these services, InnoValor has been certified as being compliant with applicable eIDAS requirements as well as relevant applicable ETSI EN 319 401 and ETSI EN 319 411-1/2 standards for qualified trust service providers issuing qualified certificates. 
                        </p>
                    </div>
                    <div class="right-content">
                        <img th:src="@{/images/tuv-certified.webp}" alt="logo">
                    </div>
                </div>
            </div>
            
            <div class="wrapper wrapper-8">
                <div class="box-of-one-card">
                    <div class="left-content">
                        <img th:src="@{/images/tuv-certified.webp}" alt="logo">
                    </div>
                    <div class="right-content">
                        <p style="font-weight: bold; font-size: 40px; line-height: 50px; padding: 0;margin-bottom: 20px;">
                           eIDAS eID module certification for assurance level High
                        </p>
                        <p style="font-weight: 200; font-size: 18px; margin-bottom: 40px">
                            The eIDAS 910/2014 regulation establishes trust in electronic transactions between individuals, organisations and government entities across European Member States, at levels Low, Substantial and High.
                        </p>
                        <p style="font-weight: 200; font-size: 18px; margin-bottom: 40px">
                            Next to digital signatures, it specifies rules for electronic identification to simplify and standardise electronic identities (eIDs), i.e., authentication solutions, across Europe. InnoValor’s CheckID provides identity data and document verification services for electronic identity providers that issue eIDs under eIDAS at level High.
                        </p>
                        <p style="font-weight: 200; font-size: 18px; margin-bottom: 40px">
                            Compared to Know Your Customer (KYC) and authentication practices in the financial sector that are typically on an eIDAS Substantial level, CheckID is therefore audited to be trusted at the highest level possible.
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="wrapper wrapper-9">
                <div class="box-of-one-card">
                    <div class="left-content">
                        
                        <p style="font-weight: bold; font-size: 40px; line-height: 50px; padding: 0;margin-bottom: 20px;">
                            Service Organization Control 2 (SOC2) type 2
                        </p>
                        <p style="font-weight: 350; font-size: 18px; margin-bottom: 40px;">
                            Developed by the American Institute of Certified Public Accountants (AICPA), SOC 2 is widely recognized as a gold standard for data security and requires companies to establish and follow strict information security policies and procedures.
                        </p>
                        <p style="font-weight: 350; font-size: 18px; margin-bottom: 40px;">
                            This means that InnoValor’s security system and controls adhere to applicable trust services criteria that customers demand for regulatory compliance and governance requirements. Customers requiring this same level of compliance from their technology vendors can put their confidence in InnoValor.
                        </p>
                        <p style="font-weight: 350; font-size: 18px; margin-bottom: 40px;">
                            Customers can use the SOC2 type 2 report to validate that InnoValor has significant processes and security measures in place to protect user data and privacy.
                        </p>
                    </div>
                    <div class="right-content">
                        <img th:src="@{/images/21972-312_SOC_NonCPA.webp}" alt="logo">
                    </div>
                </div>
            </div>
            
            <div class="wrapper wrapper-10">
                <div class="box-of-one-card">
                    <div class="left-content">
                        <p style="font-weight: bold; font-size: 40px; line-height: 50px; margin-bottom: 18px;">
                            eIDAS Trust Services Document Repository
                        </p>
                        <p style="font-weight: 400; font-size: 16px; margin-bottom: 18px;">
                            Download our practice statements. 
                        </p>
                    </div>
                    <div class="right-content">
                        <div class="box-content">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
                                    <p style="font-weight: bold; font-size: 24px; color: #fff">
                                        CheckID SaaS with SDK
                                    </p>
                                    <p style="font-weight: 350; font-size: 18px; color: #fff">
                                        eIDAS Trust Service Policy and Practice Statement for CheckID SaaS with SDK (version 1.2)
                                    </p>
                                </div>
                            </div>
                            <div class="row" style="position: absolute; bottom: 45px; left: 45px; width: 90%">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
                                    <a href="#"  type="button" class="btn" 
                                        style="width: 100%; font-weight: bold; border: 2px solid #fff; color: #fff;
                                        background: #17A2C8; padding: 12px 35px; border-radius: 40px; font-size: 16px; position: relative; ">
                                        Download
                                        <span style="position: absolute; right: 23%; top: 25%">
                                            <i class="fas fa-arrow-right"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="box-content">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
                                    <p style="font-weight: bold; font-size: 24px; color: #fff">
                                        CheckID Ready
                                    </p>
                                    <p style="font-weight: 350; font-size: 18px; color: #fff">
                                        eIDAS Trust Service Policy and Practice Statement for CheckID Ready (version 1.2) 
                                    </p>
                                </div>
                            </div>
                            <div class="row" style="position: absolute; bottom: 45px; left: 45px; width: 90%">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
                                    <a href="#"  type="button" class="btn" 
                                        style="width: 100%; font-weight: bold; border: 2px solid #fff; color: #fff;
                                        background: #17A2C8; padding: 12px 35px; border-radius: 40px; font-size: 16px; position: relative; ">
                                        Download
                                        <span style="position: absolute; right: 23%; top: 25%">
                                            <i class="fas fa-arrow-right"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="box-content">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
                                    <p style="font-weight: bold; font-size: 24px; color: #fff">
                                        CheckID eIDAS LoA mapping for eID
                                    </p>
                                    <p style="font-weight: 350; font-size: 18px; color: #fff">
                                        CheckID eIDAS LoA mapping for eID (version 1.2)
                                    </p>
                                </div>
                            </div>
                            <div class="row" style="position: absolute; bottom: 45px; left: 45px; width: 90%">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
                                    <a href="#"  type="button" class="btn" 
                                        style="width: 100%; font-weight: bold; border: 2px solid #fff; color: #fff;
                                        background: #17A2C8; padding: 12px 35px; border-radius: 40px; font-size: 16px; position: relative; ">
                                        Download
                                        <span style="position: absolute; right: 23%; top: 25%">
                                            <i class="fas fa-arrow-right"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="wrapper wrapper-11">
                
                <hr style="display:block; clear:both;border: 0;width: 100%; background-color:#ccc;height: 1px;">
                <p style="text-align: center; font-weight: bold; font-size: 30px; line-height: 40px; margin-top: 40px; margin-bottom: 30px; padding: 0;">
                    Want to learn more about government-grade security for identity verification?
                </p>
                
                <div class="arrow-right" style="text-align: center; margin-bottom: 40px;">
                    <a style="font-size: 16px; font-weight: bold; color: #17A2C8; position: relative;">
                        Contact a specialist
                        <span style="position: absolute; right: -30px; top: -21%">
                            <i class="fas fa-arrow-right"></i>
                        </span>
                    </a>
                </div>
                <hr style="display:block; clear:both;border: 0;width: 100%; background-color:#ccc;height: 1px;">
                
            </div>
            
            <div class="footer">
                <div class="row footer-1">
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 col-12" >
                        <div class="logo" style="margin-top: 30px;">
                            <a><img style="width: 200px; height: auto;" th:src="@{/images/checkid_logo.png}" alt="logo"></a>
                        </div>
                        <p style="font-weight: 200; font-size: 18px; margin-top: 20px; margin-bottom: 30px">
                            Converting, scalable, easy-to-use, and secure NFC-based identity verification.
                        </p>
                        <a href="#"  
                            style="width: auto; font-weight: bold; color: #17A2C8;font-size: 16px; position: relative ">
                            Get in touch
                            <span style="position: absolute; right: -30px; top: -10%">
                                <i class="fas fa-arrow-right"></i>
                            </span>
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 col-6" >
                        <p style="font-weight: bold; font-size: 18px; margin-bottom: 30px; margin-top: 30px;">
                            Discover
                        </p>
                        <a class="link-footer" href="#"  
                            style="display: block;width: auto; font-weight: 300; color: #433c3c; font-size: 16px;margin-bottom: 10px ">
                            Why NFC?
                        </a>
                        <a class="link-footer" href="#"  
                            style="display: block;width: auto; font-weight: 300; color: #433c3c; font-size: 16px;margin-bottom: 10px ">
                            Using the CheckID App?
                        </a>
                        <a class="link-footer" href="#"  
                            style="display: block;width: auto; font-weight: 300; color: #433c3c; font-size: 16px;margin-bottom: 10px ">
                            Work at CheckID
                        </a>
                        <a class="link-footer" href="#"  
                            style="display: block;width: auto; font-weight: 300; color: #433c3c; font-size: 16px;margin-bottom: 10px ">
                            Partnerships
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 col-6" >
                        <p style="font-weight: bold; font-size: 18px; margin-bottom: 30px;margin-top: 30px;">
                            Service
                        </p>
                        <a class="link-footer" href="#"  
                            style="display: block;width: auto; font-weight: 300; color: #433c3c; font-size: 16px;margin-bottom: 10px ">
                            Contact a specialist
                        </a>
                        <a class="link-footer" href="#"  
                            style="display: block;width: auto; font-weight: 300; color: #433c3c; font-size: 16px;margin-bottom: 10px ">
                            Try free demo app
                        </a>
                        <a class="link-footer" href="#"  
                            style="display: block;width: auto; font-weight: 300; color: #433c3c; font-size: 16px;margin-bottom: 10px ">
                            Request business demo
                        </a>
                        <a class="link-footer" href="#"  
                            style="display: block;width: auto; font-weight: 300; color: #433c3c; font-size: 16px;margin-bottom: 10px ">
                            Downloads
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12" >
                        <p style="font-weight: bold; font-size: 18px; margin-bottom: 30px; margin-top: 30px;">
                            Stay informed on identity verification
                        </p>
                        <input style="display: block;;margin-bottom: 20px; padding: 10px 16px; width: 100%" type="text" 
                               placeholder="Email"/>
                        <a href="#"  type="button" class="btn" 
                            style="display: block; width: 40%; font-weight: bold; border: 2px solid #17A2C8; color: #fff;
                            background: #17A2C8; border-radius: 40px; font-size: 16px; padding: 12px 12px ">
                            Sign up
                        </a>
                    </div>
                </div>
                <div class="row footer-2">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-12" 
                         style="display:flex; justify-content: flex-start; align-items: center; margin-top: 20px;">
                        <div style="margin-right: 10px;">
                            <img style="width: 66px; height: auto;" th:src="@{/images/iso27001-readid.webp}" alt="logo">
                        </div>
                        <div >
                            <span style="font-weight: 200; font-size: 18px; margin-top: 20px; margin-bottom: 30px">
                                ISO/IEC 27001 certified
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-12" 
                         style="display:flex; justify-content: flex-start; align-items: center;margin-top: 20px;">
                        <div style="margin-right: 10px;">
                            <img style="width: 66px; height: auto;" th:src="@{/images/iso27701.webp}" alt="logo">
                        </div>
                        <div>
                            <span style="font-weight: 200; font-size: 18px; margin-top: 20px; margin-bottom: 30px">
                                ISO/IEC 27701 certified
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-12"
                         style="display:flex; justify-content: flex-start; align-items: center;margin-top: 20px;">
                        <div style="margin-right: 10px;">
                            <img style="width: 66px; height: 66px;" th:src="@{/images/tuv-certified-1.webp}" alt="logo">
                        </div>
                        <div>
                            <span style="font-weight: 200; font-size: 18px; margin-top: 20px; margin-bottom: 30px">
                                eIDAS module certification for QTSPs
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-12" 
                         style="display:flex; justify-content: flex-start; align-items: center;margin-top: 20px;">
                        <div style="margin-right: 10px;">
                            <img style="width: 66px; height: 66px;" th:src="@{/images/tuv-certified-1.webp}" alt="logo">
                        </div>
                        <div>
                            <span style="font-weight: 200; font-size: 18px; margin-top: 20px; margin-bottom: 30px">
                                eIDAS eID module certification High
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row footer-3">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 col-12">
                        <a href="#"  
                            style="width: auto; font-weight: bold; color: #17A2C8;font-size: 16px ">
                            All certifications
                        </a>
                    </div>
                </div>
                <hr style="display:block; clear:both;border: 0;width: 100%;background-color:#ccc;height: 1px;">
                <div class="row footer-4">
                    <div class="col-lg-6 col-md-6 col-sm-4 col-xs-4 col-4">
                        <a href="#"  
                           style="width: auto; font-weight: bold; color: #433c3c;font-size: 16px ">
                            All certifications
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-8 col-xs-8 col-8" style="text-align: right">
                        <a href="#"  
                           style="width: auto; font-weight: bold; color: #433c3c;font-size: 16px; margin-right: 20px ">
                            CheckID
                        </a>
                        <a href="#"  
                           style="width: auto; font-weight: bold; color: #433c3c;font-size: 16px; margin-right: 20px ">
                            Privacy
                        </a>
                        <a href="#"  
                           style="width: auto; font-weight: bold; color: #433c3c;font-size: 16px ">
                            Contact
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <th-block th:replace="fragments/footer_angularjs.html :: footer(TRUE)"/>
    </body>

</html>
